workflows/ALE - RECEBE LEAD DA PLANILHA.json
{
  "active": false,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CADASTRA NA AUDIENCIA": {
      "main": [
        [
          {
            "node": "Salvar campo Primeiro Contato",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Likedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Investimento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Escolha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Cenário",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Remuneração",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Tempo que conhece Ale",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Nome Completo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Liderança",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Meta Profissional",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Ponto Fraco",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Nao pode Faltar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo Anos atuação lider",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo plataforma",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar campo token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nome e telefone para validar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "CADASTRA NA AUDIENCIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar1": {
      "main": [
        [
          {
            "node": "Salvar campo momento do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-10T13:27:59.098Z",
  "id": "3aYZMKrlxrrt4QDt",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ALE - RECEBE LEAD DA PLANILHA",
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "38379354-ad0a-4ee2-b280-66280d2dfb43",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://conectawebhook.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "=3913047"
            }
          ]
        }
      },
      "name": "enviar fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2460,
        260
      ],
      "id": "99e60ebd-c434-4eb7-89a1-ada3feae1230",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xYJy5u2zqf67L4Gq",
          "name": "SALVADOR"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "8c4f42ef-ac46-4ddc-bdd9-b72fb9f47524",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2620,
        260
      ],
      "webhookId": "bf34acb3-4b8b-47ca-b612-9ed27e0fcf68"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "2a96c18c-eeb3-45a4-a7b9-d760f9f48577"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "= {{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc6d0a30-e749-4969-bdd4-2a00cf1ab4b2",
      "name": "CADASTRA NA AUDIENCIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Y9wExn6hB_hhZC4mkTcss98X31aZksUpsaJi_1jN-bQ/edit?gid=551378686#gid=551378686",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1136862954,
          "mode": "list",
          "cachedResultName": "INTEGRAÇÃO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9wExn6hB_hhZC4mkTcss98X31aZksUpsaJi_1jN-bQ/edit#gid=1136862954"
        },
        "options": {}
      },
      "id": "37837530-0ffd-4955-9af4-e5e77968e865",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        760,
        220
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hzggfIVge1lSLJ6h",
          "name": "MAYA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "e0d1f376-8390-4124-bca3-da303aa9edd8",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nomeCompleto",
              "value": "={{ $json['Qual seu nome completo?'] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.TELEFONE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea1c6a5f-2f3c-4149-b0d0-7cd7387129d3",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        1240,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual seu nome ou link no LinkedIn? Nova Pergunta em 07/10: qual sua idade?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Likedin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -780
      ],
      "id": "51ff840f-100b-4dae-b3da-c0eb05046fc3",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Date",
              "value": "={{ $('Google Sheets Trigger').item.json['Submitted At'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "71958ed6-2e01-409e-94c6-10cdd297afc1",
      "name": "Nome e telefone para validar1",
      "type": "n8n-nodes-base.set",
      "position": [
        2140,
        1860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['primeiro contato'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Primeiro Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -940
      ],
      "id": "548c6a02-c4fa-43f6-bb7b-a5ae2d15d11c",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Você está disposto(a) a investir financeiramente em si mesmo para viver uma transformação e crescer mais rápido? Nova pergunta: Você está pronto(a) para conversar com um especialista em carreira, sobre um diagnóstico do seu perfil e receber um direcionamento personalizado sobre seu desenvolvimento?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Investimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -620
      ],
      "id": "62f61c6f-e137-4011-b280-4861160667d0",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Caso haja mais aplicações do que vagas disponíveis para a mentoria, por que deveríamos escolher sua aplicação dentre os demais interessados? Nova pergunta: Você já passou por alguma mentoria ou coaching anteriormente? Comente'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Escolha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -440
      ],
      "id": "aece4a5a-059f-4fba-968c-e83abb4be23a",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual CENÁRIO mais se adequa ao seu caso?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Cenário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -300
      ],
      "id": "e83df83c-873d-4bca-83fe-69045fcb169a",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual sua faixa de remuneração atual?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Remuneração",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        -140
      ],
      "id": "f2086ff7-2df9-4a4b-acb3-131fa7e98d96",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Há quanto tempo você conhece Ale Kremer?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Tempo que conhece Ale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        20
      ],
      "id": "7941112b-4f07-4c78-827a-8803e7fc350e",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual seu nome completo?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Nome Completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        180
      ],
      "id": "ebde2a92-f7a7-464f-b879-79a21815b603",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual seu e-mail principal?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        360
      ],
      "id": "fdf22fa0-5059-4438-8024-f5fccd9b5a6e",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual seu e-mail principal?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Liderança",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        520
      ],
      "id": "f01988d5-b2fb-4694-9ae4-f1584ccf60bc",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Por que você acredita que uma mentoria seria a melhor opção em relação a um curso normal? Nova pergunta: Qual seria sua meta profissional em 1 ano se tudo der certo?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Meta Profissional",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        680
      ],
      "id": "d9b1b5da-a1ea-4dd5-8b6a-a53b1af23e45",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Qual o maior ponto fraco que você precisa investir em mudança de padrões? '] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Ponto Fraco",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        840
      ],
      "id": "4386c1d6-9f45-4574-8ab1-4dbd7402a344",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['O que seria um resultado excepcional na mentoria que você alcançaria e ainda recomendaria para outras pessoas a sua escolha? Nova pergunta: O que não poderia faltar na mentoria para valer a pena o seu investimento?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Nao pode Faltar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1020
      ],
      "id": "3d599dcd-f42f-42d8-bdb6-618de1efee52",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json.Score }}"
            }
          ]
        }
      },
      "name": "Salvar campo Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1180
      ],
      "id": "a12fc290-8c0d-4d29-abf8-2f294df13e6d",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Quantos anos de atuação você já tem como líder?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo Anos atuação lider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1340
      ],
      "id": "fd9b208d-90d1-4c52-8302-2a77e069aeaa",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json['Por qual plataforma você chegou aqui?'] }}"
            }
          ]
        }
      },
      "name": "Salvar campo plataforma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1520
      ],
      "id": "59fe0705-d737-4acc-8747-7f418c68d1b1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json.Token }}"
            }
          ]
        }
      },
      "name": "Salvar campo token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2140,
        1680
      ],
      "id": "eb43b154-0cdc-4731-88a9-552200ebb5e2",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('CADASTRA NA AUDIENCIA').item.json[\"id\"] }}/custom_fields/3087719/",
        "allowUnauthorizedCerts": "={{ false }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "value",
              "value": "={{ $('Google Sheets Trigger').item.json.Token }}"
            }
          ]
        }
      },
      "name": "Salvar campo momento do contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2900,
        1860
      ],
      "id": "a067f5ed-6708-439c-a032-e1bac1c7abea",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "y9NiVTPqjTmEYvXJ",
          "name": "ALE"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-04-10T13:27:59.113Z",
      "updatedAt": "2024-04-10T13:27:59.113Z",
      "role": "workflow:owner",
      "workflowId": "3aYZMKrlxrrt4QDt",
      "projectId": "EhYksklXdTBsi26f",
      "project": {
        "createdAt": "2024-08-06T03:41:19.242Z",
        "updatedAt": "2024-08-06T03:41:19.242Z",
        "id": "EhYksklXdTBsi26f",
        "name": "Vinicius Fastinoni <bot.maya.n8n@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-08-06T03:41:19.242Z",
            "updatedAt": "2024-08-06T03:41:19.242Z",
            "role": "project:personalOwner",
            "userId": "31bebeed-1943-40c1-85cd-9ef49971170c",
            "projectId": "EhYksklXdTBsi26f",
            "user": {
              "createdAt": "2023-11-22T16:53:59.095Z",
              "updatedAt": "2024-08-18T23:59:52.800Z",
              "id": "31bebeed-1943-40c1-85cd-9ef49971170c",
              "email": "bot.maya.n8n@gmail.com",
              "firstName": "Vinicius",
              "lastName": "Fastinoni",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-11-22T17:09:31.234Z",
                "personalization_survey_n8n_version": "1.16.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "hR3fA4rAnKCuUwjJ",
                "userActivatedAt": 1722915679480,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1724025098948
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1ObG3JqvBapGNIOQoIhhtacR-xxt--2vYgZoFsJIPp64",
      "sheetId": "0",
      "lastIndexChecked": 3
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-31T00:18:05.000Z",
  "versionId": "ee37ee9e-60c3-4cd9-a0d8-9c557170329c"
}