workflows/atualizando base do asaas no bot.json
{
  "active": false,
  "connections": {
    "buscar clientes": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar clientes1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar clientes2": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "buscar clientes1",
            "type": "main",
            "index": 0
          },
          {
            "node": "buscar clientes",
            "type": "main",
            "index": 0
          },
          {
            "node": "buscar clientes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "salvando id assinatura",
            "type": "main",
            "index": 0
          },
          {
            "node": "salvando CPF",
            "type": "main",
            "index": 0
          },
          {
            "node": "salvando ID Cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "salvando tipo plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar assinatura cliente": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar": {
      "main": [
        [
          {
            "node": "buscar assinatura cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-24T05:46:15.540Z",
  "id": "2Avr93LqkMCZIkZM",
  "meta": null,
  "name": "atualizando base do asaas no bot",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.asaas.com/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "f76f6bc4-427d-4424-8ad2-b13f581ca401",
      "name": "buscar clientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.asaas.com/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "dc3a8122-c5f3-4a8a-a7d8-c530db115ffb",
      "name": "buscar clientes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.asaas.com/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "id": "21c75013-57e5-4ed4-811c-e35c88f5908b",
      "name": "buscar clientes2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -520,
        920
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {},
      "id": "4882c201-82fb-4bfc-ba0d-e6527937c941",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        740
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "0a3fa560-b5a4-48d5-b5e6-9d011d3ef875",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -140,
        740
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://conectawebhook.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2080,
        820
      ],
      "id": "c23e89ba-1303-48a4-8e2b-5b072151fd72",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $('atualizar').item.json.mobilePhone }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $('atualizar').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8de7c154-5abc-4d54-9c7b-1680d7e9bca8",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        1620,
        820
      ],
      "typeVersion": 1,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = item.json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = item.json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "aecfb636-2962-4601-9ba2-44d53880c1c9",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1840,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6f59ad1f-2d33-4de7-944c-89b96a345a1a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8a36b0a0-af70-4b99-bd4d-6c0165f27823",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        960
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "telefone",
              "stringValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e2b8f9a-6dda-4f39-b922-aecc9d255c43",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        320,
        720
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "telefone",
              "stringValue": "={{ $json.mobilePhone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "684b36cb-a8ea-48c8-a44d-41711b3054dd",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        320,
        940
      ]
    },
    {
      "parameters": {},
      "id": "c3384a35-14ea-4401-9800-65334a248866",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        820
      ]
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/subscriptions?customer={{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "ae6635b8-c724-48df-84eb-e2888adf3043",
      "name": "buscar assinatura cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        820
      ],
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1790317/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('buscar assinatura cliente').item.json.data[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de86b76e-ff5f-42d9-9bc1-8aae133f4e93",
      "name": "salvando id assinatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        580
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400817/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('atualizar').item.json.cpfCnpj }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79070de3-3d4c-43c7-9265-50b9e45d8f85",
      "name": "salvando CPF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        740
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400824/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('atualizar').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ae232242-745d-4ec3-beee-512d5a4c237f",
      "name": "salvando ID Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        900
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400824/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('buscar assinatura cliente').item.json[\"data\"][0][\"cycle\"].replace(\"MONTHLY\",\"mensal\").replace(\"SEMIANNUALLY\",\"semestral\").replace(\"YEARLY\",\"anual\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5333749f-4a39-4636-a657-f5cc5cb5ab1a",
      "name": "salvando tipo plano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        1060
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json[\"id\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "mobilePhone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "notificationDisabled",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "205b3b83-b621-46f2-b3f7-406d3d3bb382",
      "name": "atualizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        820
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f4cd53c4-1b33-4ac0-969c-d937ca6bfaa3",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1400,
        820
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-01-24T05:46:15.546Z",
      "updatedAt": "2024-01-24T05:46:15.546Z",
      "role": "workflow:owner",
      "workflowId": "2Avr93LqkMCZIkZM",
      "projectId": "EhYksklXdTBsi26f",
      "project": {
        "createdAt": "2024-08-06T03:41:19.242Z",
        "updatedAt": "2024-08-06T03:41:19.242Z",
        "id": "EhYksklXdTBsi26f",
        "name": "Vinicius Fastinoni <bot.maya.n8n@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-08-06T03:41:19.242Z",
            "updatedAt": "2024-08-06T03:41:19.242Z",
            "role": "project:personalOwner",
            "userId": "31bebeed-1943-40c1-85cd-9ef49971170c",
            "projectId": "EhYksklXdTBsi26f",
            "user": {
              "createdAt": "2023-11-22T16:53:59.095Z",
              "updatedAt": "2025-03-10T14:46:53.638Z",
              "id": "31bebeed-1943-40c1-85cd-9ef49971170c",
              "email": "bot.maya.n8n@gmail.com",
              "firstName": "Vinicius",
              "lastName": "Fastinoni",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-11-22T17:09:31.234Z",
                "personalization_survey_n8n_version": "1.16.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "hR3fA4rAnKCuUwjJ",
                "userActivatedAt": 1722915679480,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1741617639564
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-11-22T17:42:30.840Z",
      "updatedAt": "2023-11-22T17:42:30.840Z",
      "id": "0gOZgGnm1GKApPtB",
      "name": "Maya"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-26T05:50:06.000Z",
  "versionId": "eee27295-e4d0-47c6-b2b5-116fa00131bd"
}