workflows/Cadastrar no Asaas e gerar cobrança.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "criando cliente no asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criando cliente no asaas": {
      "main": [
        [
          {
            "node": "formatando data hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando data hoje": {
      "main": [
        [
          {
            "node": "Tipo de Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Plano": {
      "main": [
        [
          {
            "node": "Mensal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Semestral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensal": {
      "main": [
        [
          {
            "node": "Gerar Plano Mensal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semestral": {
      "main": [
        [
          {
            "node": "Gerar Plano Semestral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anual": {
      "main": [
        [
          {
            "node": "Gerar Plano Anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Mensal": {
      "main": [
        [
          {
            "node": "buscando link no asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscando link no asaas": {
      "main": [
        [
          {
            "node": "salvando link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link": {
      "main": [
        [
          {
            "node": "enviando fluxo com link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Semestral": {
      "main": [
        [
          {
            "node": "buscando link no asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Anual": {
      "main": [
        [
          {
            "node": "buscando link no asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "criando cliente no asaas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criando cliente no asaas1": {
      "main": [
        [
          {
            "node": "formatando data hoje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatando data hoje1": {
      "main": [
        [
          {
            "node": "Tipo de Plano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Plano1": {
      "main": [
        [
          {
            "node": "Mensal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trimestral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Semestral1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensal1": {
      "main": [
        [
          {
            "node": "Gerar Plano Mensal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semestral1": {
      "main": [
        [
          {
            "node": "Gerar Plano Semestral1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Mensal1": {
      "main": [
        [
          {
            "node": "buscando link no asaas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Semestral1": {
      "main": [
        [
          {
            "node": "buscando link no asaas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscando link no asaas1": {
      "main": [
        [
          {
            "node": "salvando link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link1": {
      "main": [
        [
          {
            "node": "enviando fluxo com link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trimestral": {
      "main": [
        [
          {
            "node": "Gerar Plano Trimestral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Plano Trimestral": {
      "main": [
        [
          {
            "node": "buscando link no asaas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T17:38:53.505Z",
  "id": "35s7aeNkqfYTfjSY",
  "meta": null,
  "name": "Cadastrar no Asaas e gerar cobrança",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro-asaas",
        "options": {}
      },
      "id": "80ce734c-9d23-4faf-92de-ca1aa62313e3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        580
      ],
      "webhookId": "b361ec8a-b87c-450f-a59d-521e2f3cd744"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.body.Nome }}"
            },
            {
              "name": "cpfCnpj",
              "value": "={{ $json.body.CPF }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body['E-mail'] }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.Telefone.slice(3) }}"
            },
            {
              "name": "mobilePhone",
              "value": "={{ $json.body.Telefone.slice(3) }}"
            },
            {
              "name": "externalReference",
              "value": "={{ $json.body['ID-BC'] }}"
            },
            {
              "name": "notificationDisabled",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "2779b24d-3825-4082-9b20-a0d7c6f0a6a8",
      "name": "criando cliente no asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{$now}}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "data-hoje",
        "options": {}
      },
      "id": "df9c32e3-d5a7-4fcc-8fff-78dada8f0575",
      "name": "formatando data hoje",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        460,
        580
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Webhook').item.json.body.Plano }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "Mensal"
            },
            {
              "operation": "contains",
              "value2": "Semestral",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "Anual",
              "output": 2
            }
          ]
        }
      },
      "id": "893bbb31-b580-4f02-a20e-a3a85f1f7866",
      "name": "Tipo de Plano",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        680,
        560
      ]
    },
    {
      "parameters": {},
      "id": "c0519eba-7c50-48f4-8223-8047aa27a872",
      "name": "Mensal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {},
      "id": "92b13b0b-8c8f-454b-8dd6-f21ea6ddb77f",
      "name": "Semestral",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        540
      ]
    },
    {
      "parameters": {},
      "id": "8bfe4030-6182-446c-ba18-b8abdd76865a",
      "name": "Anual",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "MONTHLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "a6f5d9d1-e8f4-401a-a261-f6cf5b9d710a",
      "name": "Gerar Plano Mensal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "SEMIANNUALLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "55e9ee4f-2303-46b7-aa80-56f5c2440213",
      "name": "Gerar Plano Semestral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "YEARLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "da245404-a53e-4d08-b734-c3057c738617",
      "name": "Gerar Plano Anual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $json[\"id\"] }}/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b3eaf3a8-9966-40d4-b225-3b9848e3d4ce",
      "name": "buscando link no asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1580,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Webhook').item.json[\"body\"][\"ID-BC\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.data[0].invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f0a73c38-136f-441c-9f05-20c1d82bced3",
      "name": "salvando link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1820,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Webhook').item.json[\"body\"][\"ID-BC\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "580064"
            }
          ]
        },
        "options": {}
      },
      "id": "6d09bfa3-8f72-444c-b984-5512f4c11360",
      "name": "enviando fluxo com link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2040,
        540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro-asaas=====",
        "options": {}
      },
      "id": "95478116-5e7a-466d-b305-f22add47d246",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        20,
        1220
      ],
      "webhookId": "b361ec8a-b87c-450f-a59d-521e2f3cd744"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.body.Nome }}"
            },
            {
              "name": "cpfCnpj",
              "value": "={{ $json.body.CPF }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body['E-mail'] }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.Telefone.slice(3) }}"
            },
            {
              "name": "mobilePhone",
              "value": "={{ $json.body.Telefone.slice(3) }}"
            },
            {
              "name": "externalReference",
              "value": "={{ $json.body['ID-BC'] }}"
            },
            {
              "name": "notificationDisabled",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "f72408c8-96f7-45c1-841b-e3caf732e6aa",
      "name": "criando cliente no asaas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        260,
        1220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{$now}}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "data-hoje",
        "options": {}
      },
      "id": "f7ff9527-6975-437a-9a6a-ea092022d415",
      "name": "formatando data hoje1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        480,
        1220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Webhook1').item.json.body.Plano }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "Mensal"
            },
            {
              "operation": "contains",
              "value2": "Trimestral",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "Semestral",
              "output": 2
            }
          ]
        }
      },
      "id": "cd4876ae-ed39-4016-811d-467db7b35623",
      "name": "Tipo de Plano1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        700,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "8af11906-a6f6-49d2-98be-c9ad276efc2f",
      "name": "Mensal1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        1020
      ]
    },
    {
      "parameters": {},
      "id": "019ebc8a-c559-4ebc-8598-a4dabecffec9",
      "name": "Semestral1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "MONTHLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook1').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas1').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje1').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook1').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "4c747e10-abe9-4383-b646-8759e3dc057b",
      "name": "Gerar Plano Mensal1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        1020
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "SEMIANNUALLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook1').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas1').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje1').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook1').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "bfcd8714-bae0-4bf5-a0ca-2b4a37130405",
      "name": "Gerar Plano Semestral1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        1340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $json[\"id\"] }}/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d6fd3a11-16e3-4aa7-b1fa-95b6507a2d9c",
      "name": "buscando link no asaas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Webhook1').item.json[\"body\"][\"ID-BC\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.data[0].invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3eea5fa7-5d65-4856-86a7-8a121df5e032",
      "name": "salvando link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1840,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Webhook1').item.json[\"body\"][\"ID-BC\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "580064"
            }
          ]
        },
        "options": {}
      },
      "id": "4307494c-188d-401b-9e4e-1d3490ca6a06",
      "name": "enviando fluxo com link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {},
      "id": "c047bcf3-21f8-445a-9a85-b1f97998f9af",
      "name": "Trimestral",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.asaas.com/api/v3/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "UNDEFINED"
            },
            {
              "name": "cycle",
              "value": "QUARTERLY"
            },
            {
              "name": "value",
              "value": "={{ parseInt($('Webhook1').item.json[\"body\"][\"ValorPlano\"]) }}"
            },
            {
              "name": "customer",
              "value": "={{ $('criando cliente no asaas1').item.json[\"id\"] }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $('formatando data hoje1').item.json[\"data-hoje\"] }}"
            },
            {
              "name": "description",
              "value": "={{ $('Webhook1').item.json[\"body\"][\"Plano\"] }} (ADESAO)"
            }
          ]
        },
        "options": {}
      },
      "id": "88e6f0ab-6ce1-4a38-a945-95c81fbcb9ea",
      "name": "Gerar Plano Trimestral",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "212",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "dfae79f8429d4a199aa70ec408bddd20-91396824d815819f-0",
            "x-forwarded-for": "18.228.10.119",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "eee596fa3054",
            "x-real-ip": "18.228.10.119"
          },
          "params": {},
          "query": {},
          "body": {
            "CPF": "05320628501",
            "Nome": "Kleyvison Teste",
            "ID-BC": "119169103",
            "Plano": "Assinatura Maya - Plano Mensal",
            "E-mail": "teste@teste.com",
            "ID Asaas": "{IdClienteAsaas}",
            "Telefone": "+557181719761",
            "ValorPlano": "25"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2023-11-22T17:38:53.513Z",
      "updatedAt": "2023-11-22T17:38:53.513Z",
      "role": "workflow:owner",
      "workflowId": "35s7aeNkqfYTfjSY",
      "projectId": "EhYksklXdTBsi26f",
      "project": {
        "createdAt": "2024-08-06T03:41:19.242Z",
        "updatedAt": "2024-08-06T03:41:19.242Z",
        "id": "EhYksklXdTBsi26f",
        "name": "Vinicius Fastinoni <bot.maya.n8n@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-08-06T03:41:19.242Z",
            "updatedAt": "2024-08-06T03:41:19.242Z",
            "role": "project:personalOwner",
            "userId": "31bebeed-1943-40c1-85cd-9ef49971170c",
            "projectId": "EhYksklXdTBsi26f",
            "user": {
              "createdAt": "2023-11-22T16:53:59.095Z",
              "updatedAt": "2024-08-18T23:59:52.800Z",
              "id": "31bebeed-1943-40c1-85cd-9ef49971170c",
              "email": "bot.maya.n8n@gmail.com",
              "firstName": "Vinicius",
              "lastName": "Fastinoni",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-11-22T17:09:31.234Z",
                "personalization_survey_n8n_version": "1.16.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "hR3fA4rAnKCuUwjJ",
                "userActivatedAt": 1722915679480,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1724025098948
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-11-22T17:42:30.840Z",
      "updatedAt": "2023-11-22T17:42:30.840Z",
      "id": "0gOZgGnm1GKApPtB",
      "name": "Maya"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-08T14:08:58.000Z",
  "versionId": "f4c16a0f-2dca-4ab8-87da-783a541dba4c"
}