workflows/deletar clientes 2 cobranças.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "buscar informações do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "buscando dados no bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscando dados no bc": {
      "main": [
        [
          {
            "node": "deletando do bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletando do bc": {
      "main": [
        [
          {
            "node": "deletando do asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletando do asaas": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "definindo telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone1": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-02T22:42:30.925Z",
  "id": "2iDS7Siig7cpoPe8",
  "name": "deletar clientes 2 cobranças",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "448fc0b3-4b5b-4928-b90d-549f308b759c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments?status=OVERDUE",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "d5bb308a-1b6e-4640-8650-d075d9120ad8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments?status=OVERDUE",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "daf7cae2-8747-461e-8824-b4add6743da8",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        740,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "69357ef5-7721-4fda-97e9-2efc791c97aa",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "72b2b6d3-bc73-41a6-b259-ba82c53f083b",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        960,
        580
      ]
    },
    {
      "parameters": {},
      "id": "c038924e-c1df-45d4-8603-38837275dceb",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "fieldsToSplitBy": "customer",
        "options": {}
      },
      "id": "efdadd86-8938-4da0-a201-9107eeeca323",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        1480,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ parseInt($json.count_id) }}",
              "operation": "larger",
              "value2": 1
            }
          ]
        }
      },
      "id": "97f2abbb-289a-451d-aff6-7e40d1abb611",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json.customer }}",
        "options": {}
      },
      "name": "buscar informações do cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2200,
        460
      ],
      "id": "1159fe44-3e61-4f43-80a9-4c3bfeab4434",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.function",
      "position": [
        2960,
        460
      ],
      "typeVersion": 1,
      "id": "b0957f1d-64a5-4e57-b724-ac21c488b194"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "337e9f6d-4dee-456e-a95e-89a2d1a2220e",
      "name": "definindo telefone",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2640,
        340
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f476ce47-dc20-444e-97be-adef4b6ceb8d",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1940,
        480
      ]
    },
    {
      "parameters": {
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2a3facdf-e9db-4aa7-a41b-b33c388adb91",
      "name": "buscando dados no bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3180,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1F04yrg6P1fiSSY",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/delete/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "fad6f384-663c-423e-b29c-70adc76d2b29",
      "name": "deletando do bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3400,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1F04yrg6P1fiSSY",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "DELETE",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $('buscar informações do cliente').item.json.id }}",
        "options": {}
      },
      "name": "deletando do asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3620,
        460
      ],
      "id": "2fdb87e7-e5fa-46ad-8f5e-418e6774fd06",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "32e97c9e-0950-4263-aa69-1ca3a8cbf92b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3840,
        460
      ],
      "webhookId": "371bf73e-939d-498d-b262-ac8461ae6afa"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "686ccdf4-fa34-4d39-afd7-cca6e2739930",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2420,
        360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8e290ae9-66f8-41b9-9f06-dd881dcc923a",
      "name": "definindo telefone1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2640,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "id": "WVFbq3skbZP8DMK0",
      "createdAt": "2023-08-11T02:32:29.267Z",
      "updatedAt": "2023-08-11T02:32:29.267Z",
      "name": "Maya"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-08-11T02:34:48.000Z",
  "versionId": "f9563706-71e7-4c95-9484-13e8de67fc3d"
}