workflows/Enviar Lembretes cobranças.json
{
  "active": true,
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "⏱️ Aguardando (PENDING)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Aguardando (PENDING)": {
      "main": [
        [
          {
            "node": "Lembrete (-5d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete (-1d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete (no dia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "1 por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez": {
      "main": [
        [
          {
            "node": "buscar informações do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "salvando link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link": {
      "main": [
        [
          {
            "node": "enviar fluxo cobranca vencida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo cobranca vencida": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "1 por vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Atrasado (OVERDUE)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete (-1d)": {
      "main": [
        [
          {
            "node": "data D-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete (no dia)": {
      "main": [
        [
          {
            "node": "data-hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data-hoje": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link1": {
      "main": [
        [
          {
            "node": "enviar fluxo LEMBRETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência1": {
      "main": [
        [
          {
            "node": "salvando link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez1": {
      "main": [
        [
          {
            "node": "buscar informações do cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "adesao?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adesao?": {
      "main": [
        [],
        [
          {
            "node": "1 por vez1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo LEMBRETE": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "definindo telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone2": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone3": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "definindo telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone": {
      "main": [
        [
          {
            "node": "Validar Telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone4": {
      "main": [
        [
          {
            "node": "Validar Telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone2": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "adesao?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link2": {
      "main": [
        [
          {
            "node": "enviar fluxo LEMBRETE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência2": {
      "main": [
        [
          {
            "node": "salvando link2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez2": {
      "main": [
        [
          {
            "node": "buscar informações do cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "1 por vez2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adesao?1": {
      "main": [
        [],
        [
          {
            "node": "1 por vez2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo LEMBRETE1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone3": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "definindo telefone1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone1": {
      "main": [
        [
          {
            "node": "Validar Telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone5": {
      "main": [
        [
          {
            "node": "Validar Telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data D-1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Item Lists4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists4": {
      "main": [
        [
          {
            "node": "adesao?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "salvando link3": {
      "main": [
        [
          {
            "node": "enviar fluxo LEMBRETE2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente3": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência3": {
      "main": [
        [
          {
            "node": "salvando link3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 por vez3": {
      "main": [
        [
          {
            "node": "buscar informações do cliente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "1 por vez3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adesao?2": {
      "main": [
        [],
        [
          {
            "node": "1 por vez3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo LEMBRETE2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone4": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "definindo telefone6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone6": {
      "main": [
        [
          {
            "node": "Validar Telefone4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone7": {
      "main": [
        [
          {
            "node": "Validar Telefone4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete (-5d)": {
      "main": [
        [
          {
            "node": "data D-5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data D-5": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron1": {
      "main": [
        [
          {
            "node": "❌ Atrasado (OVERDUE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T17:44:41.067Z",
  "id": "kUsPCVmhd5QR4C8j",
  "meta": null,
  "name": "Enviar Lembretes cobranças",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "id": "f358e213-484f-48dc-8d58-8de7e0c6789b",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -240,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "7dca5fcd-b8e8-4380-a026-32d51140e226",
      "name": "Lembrete (-5d)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        960
      ]
    },
    {
      "parameters": {},
      "id": "3459811d-237e-40e8-817c-ce092f23dedb",
      "name": "Lembrete (-1d)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        1340
      ]
    },
    {
      "parameters": {},
      "id": "a7b5c4fc-b851-4e7b-a183-786be6d1ed33",
      "name": "Lembrete (no dia)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        1720
      ]
    },
    {
      "parameters": {},
      "id": "52cb3014-0160-4204-84f1-e991ffaa988e",
      "name": "❌ Atrasado (OVERDUE)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        140,
        540
      ]
    },
    {
      "parameters": {},
      "id": "1d7348af-ee3b-4724-9b4d-b3062461ea78",
      "name": "⏱️ Aguardando (PENDING)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        140,
        1340
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "OVERDUE"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "9a677429-54ea-453c-ab4d-56c23903b583",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "OVERDUE"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "3dee64c7-e32e-4ca2-a2a8-336336f43345",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {},
      "id": "de7cf376-c6ec-4e26-ad47-3412a1178349",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        940,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "4f84a1a2-6233-44bf-a2fd-760e20d723ac",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f64f20d3-5737-4fa3-8307-fc7831c5b810",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        680,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez').item.json.invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0a03ae2-ff78-4d13-acbf-c97ec5fdd93a",
      "name": "salvando link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json[\"customer\"] }}",
        "options": {}
      },
      "name": "buscar informações do cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1380,
        560
      ],
      "id": "9b999efa-79c1-4a84-a17e-a8ac76387750",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.function",
      "position": [
        2120,
        560
      ],
      "typeVersion": 1,
      "id": "ecfade64-2ebc-4113-9140-4a8ec1d3fc36"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "options": {}
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2340,
        560
      ],
      "id": "664436e2-c436-4633-bf47-546e1575ea16",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "122dff19-c324-4b86-9459-299f38315c7e",
      "name": "1 por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1160,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "541298"
            }
          ]
        },
        "options": {}
      },
      "id": "1f1a5892-a944-4ddc-b65e-05bab58478b0",
      "name": "enviar fluxo cobranca vencida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "15e13b43-9dda-4c1e-a53d-c0527c358586",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3040,
        560
      ],
      "webhookId": "85d2caef-88e0-4775-9c8d-e8cf88125175"
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "dueDate[ge]",
              "value": "={{ $json['data-busca'] }}"
            },
            {
              "name": "dueDate[le]",
              "value": "={{ $json['data-busca'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d8787730-a692-476f-b1a5-a009c1ca459b",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        1720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "value": "={{$now}}",
        "dataPropertyName": "data-busca",
        "toFormat": "YYYY-MM-DD",
        "options": {}
      },
      "id": "a37e3f78-e523-42b0-bf49-316304680946",
      "name": "data-hoje",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        1720
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "00c8b456-db99-48c3-882a-bb50eb844627",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        1160,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez1').item.json.invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c02a937b-540a-4d3e-8fb3-98ccd1472acb",
      "name": "salvando link1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3040,
        1720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json[\"customer\"] }}",
        "options": {}
      },
      "name": "buscar informações do cliente1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        1720
      ],
      "id": "e1cb79ee-a768-49c8-b3b3-c2d107bedc87",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "options": {}
      },
      "name": "Cadastrando na Audiência1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2820,
        1720
      ],
      "id": "ff1510e1-ece9-4578-9808-edf36840c177",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "960e4b2a-8d16-438a-aad3-f313b95634b2",
      "name": "1 por vez1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1620,
        1720
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "81843bc0-6318-43dd-894a-e5eed2d9e0e7",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3500,
        1720
      ],
      "webhookId": "85d2caef-88e0-4775-9c8d-e8cf88125175"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.description }}",
              "operation": "contains",
              "value2": "ADESAO"
            }
          ]
        }
      },
      "id": "77e3ff7a-673e-49b3-b72f-31667e3f7212",
      "name": "adesao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência1').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "541294"
            }
          ]
        },
        "options": {}
      },
      "id": "d0129ab8-dded-4f76-b501-070eaf8357a3",
      "name": "enviar fluxo LEMBRETE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3280,
        1720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2d28ba43-e588-4dfd-953a-691f4539b3b8",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4de6e2c5-9f61-4059-aa04-a56433b42670",
      "name": "definindo telefone2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        500
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1297a4b-d966-4b47-b3d2-57572eed1b95",
      "name": "definindo telefone3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1820,
        640
      ]
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone2",
      "type": "n8n-nodes-base.function",
      "position": [
        2620,
        1720
      ],
      "typeVersion": 1,
      "id": "b80c32f5-92a4-409b-b5af-6f681ab87405"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7291b5d0-8c36-400a-8fa1-05ab740d79c5",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        1720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d97c4c8a-68d5-4826-8d25-cc908f100e6b",
      "name": "definindo telefone",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        1640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ccffafb-5fb3-4659-b96b-9188483a291f",
      "name": "definindo telefone4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        1800
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "dueDate[ge]",
              "value": "={{ $json['data-busca'].slice(0,10) }}"
            },
            {
              "name": "dueDate[le]",
              "value": "={{ $json['data-busca'].slice(0,10) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57ccff85-a0c5-4ab2-8d48-6c311cd68228",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        1340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "99fbb3a2-0303-48e5-b6e0-57fc745e1a92",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        1160,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez2').item.json.invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c2918f8-8eb4-4845-9308-d23190889949",
      "name": "salvando link2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3040,
        1340
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json[\"customer\"] }}",
        "options": {}
      },
      "name": "buscar informações do cliente2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        1340
      ],
      "id": "1359bb93-d399-4c02-9c2b-c6c91dc9ee67",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "options": {}
      },
      "name": "Cadastrando na Audiência2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2820,
        1340
      ],
      "id": "1ae0c091-89ed-43c2-ba99-ba45a78f1d5e",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "3e98daf7-c224-4c09-8ffe-335e6ae581f7",
      "name": "1 por vez2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1620,
        1340
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "d205f9b7-67a6-4d71-b7b4-1bb90d2496e7",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3500,
        1340
      ],
      "webhookId": "85d2caef-88e0-4775-9c8d-e8cf88125175"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.description }}",
              "operation": "contains",
              "value2": "ADESAO"
            }
          ]
        }
      },
      "id": "22ee7cde-7f70-4d18-a3d0-0b3b74b19630",
      "name": "adesao?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência2').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "541293"
            }
          ]
        },
        "options": {}
      },
      "id": "3f9e31dc-874c-4fcb-a16d-e134b2a63556",
      "name": "enviar fluxo LEMBRETE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3280,
        1340
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone3",
      "type": "n8n-nodes-base.function",
      "position": [
        2620,
        1340
      ],
      "typeVersion": 1,
      "id": "e03cdd23-9aaa-42be-96e1-4d4b1b04e489"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1583078b-3b28-4a81-8a37-b49aeeff39ef",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        1340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "59568924-4ff2-48e0-9d0b-7b767de9abc9",
      "name": "definindo telefone1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        1260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "53653ab1-a0e4-45ba-b6f5-510f4ec0ff54",
      "name": "definindo telefone5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        1420
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$now}}",
        "duration": 1,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "a9230018-98d5-4f83-9959-9d2d7c3128ab",
      "name": "data D-1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        1340
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PENDING"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "dueDate[ge]",
              "value": "={{ $json['data-busca'].slice(0,10) }}"
            },
            {
              "name": "dueDate[le]",
              "value": "={{ $json['data-busca'].slice(0,10) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6363f45a-c548-4c38-bcb0-bf9d85fc07ba",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e82ee7ac-414b-4fd8-95f7-3c2cd0ba1183",
      "name": "Item Lists4",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.2,
      "position": [
        1160,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/387576/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('1 por vez3').item.json.invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e49280ff-aad3-4593-8eb7-6ce40da377e9",
      "name": "salvando link3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3040,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{ $json[\"customer\"] }}",
        "options": {}
      },
      "name": "buscar informações do cliente3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1860,
        960
      ],
      "id": "6775b36c-1faa-4a15-aee9-28e3bfa851aa",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "options": {}
      },
      "name": "Cadastrando na Audiência3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2820,
        960
      ],
      "id": "22175dcc-cde1-4b8c-9171-1f7d8be7532e",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bb8ab850-1256-40c4-b790-3ddad33dedcb",
      "name": "1 por vez3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1620,
        960
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "37937d5a-5f97-4b47-bbf9-75c7d56be6cc",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3500,
        960
      ],
      "webhookId": "85d2caef-88e0-4775-9c8d-e8cf88125175"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.description }}",
              "operation": "contains",
              "value2": "ADESAO"
            }
          ]
        }
      },
      "id": "77e6c0ec-3bf4-4b91-86a6-b4851f141770",
      "name": "adesao?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência3').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "541292"
            }
          ]
        },
        "options": {}
      },
      "id": "4d3faaf6-d226-4349-8823-5ecc50d3aaa9",
      "name": "enviar fluxo LEMBRETE2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3280,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone4",
      "type": "n8n-nodes-base.function",
      "position": [
        2620,
        960
      ],
      "typeVersion": 1,
      "id": "a0fcc586-5f2e-4567-aa49-f56362bb2586"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "525e16b0-f003-4b41-8394-c9da4627310d",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        960
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "edc7bd34-bcdd-41e2-90a1-9d0d28c0ca87",
      "name": "definindo telefone6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        880
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"].toString()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5848cebc-2ca4-4489-a028-b356cfe81a9c",
      "name": "definindo telefone7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2320,
        1040
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$now}}",
        "duration": 5,
        "dataPropertyName": "data-busca",
        "options": {}
      },
      "id": "cbdbdbae-ebe8-4648-957f-8eb85a0735b7",
      "name": "data D-5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        960
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "id": "d30807ad-74ea-402d-a0bd-8cd7ef361cdc",
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -220,
        540
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-11-22T17:42:30.840Z",
      "updatedAt": "2023-11-22T17:42:30.840Z",
      "id": "0gOZgGnm1GKApPtB",
      "name": "Maya"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-11-22T17:47:15.000Z",
  "versionId": "8006ee99-e900-472c-bb9c-b49a3a3db3a4"
}