workflows/gestantes.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "gestantes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "ABA 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 7",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 8",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 2": {
      "main": [
        [
          {
            "node": "gestantes  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 3": {
      "main": [
        [
          {
            "node": "gestantes 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 5": {
      "main": [
        [
          {
            "node": "gestantes 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 6": {
      "main": [
        [
          {
            "node": "gestantes 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 7": {
      "main": [
        [
          {
            "node": "gestantes 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 8": {
      "main": [
        [
          {
            "node": "gestantes 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 9": {
      "main": [
        [
          {
            "node": "gestantes 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 4": {
      "main": [
        [
          {
            "node": "gestantes 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-27T14:00:07.846Z",
  "id": "JavfjYqFtkcVU7VB",
  "name": "gestantes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestantes",
        "options": {}
      },
      "id": "e6f12875-2eac-4776-bf9f-b999787b086b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        400
      ],
      "webhookId": "61884fa1-6bd2-4b7a-bd33-efc7bbf80355"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 823444675,
          "mode": "list",
          "cachedResultName": "GESTANTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=823444675"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $json.body.NOME }}",
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANA }}",
            "STATUS": "={{ $json.body.STATUS }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "UNICO/GEMELAR": "={{ $json[\"body\"][\"UNICO/GEMELAR\"] }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "EXAMES": "={{ $json.body.EXAMES }}",
            "CRESCIM. FETAL": "={{ $json.body['CRESCIM. FETAL'] }}",
            "MEDICAÇÃO": "={{ $json[\"body\"][\"MEDICAÇÃO\"] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "MEDICAMENTO CONTINUO": "={{ $json.body['MEDICAMENTO CONTINUO'] }}",
            "PESO": "={{ $json.body.PESO }}",
            "ALTURA": "={{ $json.body.ALTURA }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UNICO/GEMELAR",
              "displayName": "UNICO/GEMELAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EXAMES",
              "displayName": "EXAMES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIM. FETAL",
              "displayName": "CRESCIM. FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAÇÃO",
              "displayName": "MEDICAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO CONTINUO",
              "displayName": "MEDICAMENTO CONTINUO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO",
              "displayName": "PESO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA",
              "displayName": "ALTURA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "08ff2521-029e-4917-8e5f-12d675be8c62",
      "name": "gestantes 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        740,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "27aae3d6-1303-4650-9e58-e377bad23b57",
      "name": "ABA 3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "4"
            }
          ]
        }
      },
      "id": "6362cf67-2518-4b74-b179-452651de5af9",
      "name": "ABA 4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "5"
            }
          ]
        }
      },
      "id": "243f5228-b380-4d9f-bad3-db382603497e",
      "name": "ABA 5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "6"
            }
          ]
        }
      },
      "id": "e7e67197-929c-4bf0-b4b6-cd76629dc06b",
      "name": "ABA 6",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "7"
            }
          ]
        }
      },
      "id": "8353af62-cf41-4e2b-9522-324a221075c5",
      "name": "ABA 7",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "8"
            }
          ]
        }
      },
      "id": "a7c263f8-442b-4fbe-9ba9-43046d54066d",
      "name": "ABA 8",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "9"
            }
          ]
        }
      },
      "id": "2f59ffae-9063-4a86-a5ed-1ecbb9063e13",
      "name": "ABA 9",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1740
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gestantes2",
        "options": {}
      },
      "id": "1bad2d4d-8754-471c-86ae-4ee0349d846d",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1220
      ],
      "webhookId": "3806d1ef-a5f5-4dde-b84c-deb9320e52c2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "2"
            }
          ]
        }
      },
      "id": "df9ddf6f-2621-4b26-8865-e8296784b074",
      "name": "ABA 2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        740
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1044814979",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4cbd2843-ef8d-4fae-8902-a092aa0843ec",
      "name": "gestantes 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        900
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 664792711,
          "mode": "list",
          "cachedResultName": "GESTANTES 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=664792711"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c422df79-8c02-44ca-a10d-198deb57393b",
      "name": "gestantes  2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        740
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "2045529466",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6052c775-d8c0-421a-89a2-bd3d1e2c7b12",
      "name": "gestantes 4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1756502948",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a3f5c46-ecb2-4e6d-b27b-22da4dfa5388",
      "name": "gestantes 5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1840261495",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5debc64f-d72e-420b-90a7-c1dc883f0dad",
      "name": "gestantes 6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1866354203",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1468ed40-f435-462f-8264-d76f6ce0c271",
      "name": "gestantes 7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "337673423",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "07e19322-c696-45de-8f09-3521d67ebce2",
      "name": "gestantes 8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1994543186",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "LOCAL DO PARTO": "={{ $json.body['LOCAL DO PARTO'] }}",
            "ACOMP. MENSAL": "={{ $json.body['ACOMP. MENSAL'] }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}",
            "DIAGNÓSTICO RECENTE": "={{ $json.body['DIAGNÓSTICO RECENTE'] }}",
            "MEDICAMENTO": "={{ $json.body.MEDICAMENTO }}",
            "CRESCIMENTO FETAL": "={{ $json.body['CRESCIMENTO FETAL'] }}",
            "PESO DO FETO": "={{ $json.body['PESO DO FETO'] }}",
            "BATIMENTO": "={{ $json.body.BATIMENTO }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "PESO MÃE": "={{ $json.body['PESO MÃE'] }}",
            "ALTURA MÃE": "={{ $json.body['ALTURA MÃE'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOCAL DO PARTO",
              "displayName": "LOCAL DO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMP. MENSAL",
              "displayName": "ACOMP. MENSAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNÓSTICO RECENTE",
              "displayName": "DIAGNÓSTICO RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRESCIMENTO FETAL",
              "displayName": "CRESCIMENTO FETAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO DO FETO",
              "displayName": "PESO DO FETO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BATIMENTO",
              "displayName": "BATIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO MÃE",
              "displayName": "PESO MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTURA MÃE",
              "displayName": "ALTURA MÃE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2fd0b69c-0e96-4e54-808f-c96d64b9ef2a",
      "name": "gestantes 9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1740
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "651",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "df516bcae7a54727b13e0d45d094ce96-96303b4f644b53b5-0",
            "x-forwarded-for": "54.207.254.83",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "54.207.254.83"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "TELEFONE": "{telefone}",
            "MATRICULA": "{MATRICULA}",
            "EMPRESA": "{EMPRESA}",
            "SEMANA": "{G - SEMANAS (NUMERO)}",
            "STATUS": "{G-STATUS}",
            "UNICO/GEMELAR": "{G-FETO}",
            "SEXO": "{G-SEXO}",
            "TIPO DE PARTO": "{G-TIPO DE PARTO}",
            "EXAMES": "{G-EXAMES}",
            "CRESCIM. FETAL": "{CRESC_FETO_GESTANTE}",
            "MEDICAÇÃO": "{G-MEDICAÇÃO}",
            "ACOMP. MENSAL": "{G-ACOMP. MENSAL}",
            "PATOLOGIA": "{G-PATOLOGIA}",
            "OUTRO ESPECIALISTA": "{G-OUTRO ESPECIALISTA}",
            "MEDICAMENTO CONTINUO": "{G-MEDIC. CONTINUO}",
            "PESO": "{G-PESO}",
            "ALTURA": "{G-ALTURA}",
            "LOCAL DO PARTO": "{G-PARTO-LOCAL}",
            "PROGRAMA DE SAÚDE": "{PSAUDE}",
            "ABA": "GESTANTES"
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "608",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "54980f06d65e44ae86f1965ad96784d0-bc347b9f5d690e4e-0",
            "x-forwarded-for": "18.231.176.176",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "18.231.176.176"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "TELEFONE": "{telefone}",
            "MATRICULA": "{MATRICULA}",
            "PROGRAMA DE SAÚDE": "{PSAUDE}",
            "EMPRESA": "{EMPRESA}",
            "SEMANAS": "{G - SEMANAS (NUMERO)}",
            "LOCAL DO PARTO": "{G-PARTO-LOCAL}",
            "INTERCORRENCIA": "{G-INTERCORRÊNCIA}",
            "ACOMP. MENSAL": "{G-ACOMP. MENSAL}",
            "DIAGNÓSTICO RECENTE": "{G-DIAGNOSTICO}",
            "MEDICAMENTO": "{G-MEDICAÇÃO}",
            "CRESCIMENTO FETAL": "{CRESC_FETO_GESTANTE}",
            "PESO DO FETO": "{G-PESO FETO}",
            "BATIMENTO": "{G-BATIMENTO FETO}",
            "SEXO": "{G-SEXO}",
            "PESO MÃE": "{G-PESO}",
            "ALTURA MÃE": "{G-ALTURA}",
            "ABA": "9"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-10-27T14:50:21.000Z",
  "versionId": "51921694-f02c-4c9f-91fa-e9af15f5f73c"
}