workflows/Julia.json
{
  "active": true,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "enviar fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone vazio": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "telefone vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone vazio1": {
      "main": [
        [
          {
            "node": "telefone vazio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone vazio2": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "telefone vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-05T23:13:44.286Z",
  "id": "Cjy4Wuqs1Wuv6NuL",
  "meta": null,
  "name": "Julia",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o",
          "mode": "list",
          "cachedResultName": "BOT-JULIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 448379726,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726"
        },
        "options": {}
      },
      "id": "22562cb6-ea0a-4ef2-91ba-3c93519ca3e1",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        420,
        540
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hzggfIVge1lSLJ6h",
          "name": "bot.maya.n8n@gmail.com trigger"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "0bcecce3-fba6-4818-92c4-d508ba1437b8",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        980,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('telefone vazio2').item.json.TELEFONE }}",
            "TELEFONE FORMATADO": "={{ $json.whatsapp }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "TELEFONE FORMATADO",
              "displayName": "TELEFONE FORMATADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('telefone vazio2').item.json.row_number }}"
            }
          }
        }
      },
      "id": "9bf406cf-53e8-4cff-aefd-6d3577deec54",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1700,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://conectawebhook.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1700,
        660
      ],
      "id": "6c8ecee6-c51d-4dd0-9162-62990b9e51c4",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Q3W93rwwK5VFa55P",
          "name": "BC - JULIA"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{ $json.TELEFONE }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.NOME }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6c3d079b-9dd3-4514-8923-6658a0914063",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        1220,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "a4dec782-de85-46a8-b42a-5dbc00d6ca37",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1420,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verificar-planilha-julia",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cda78b44-5767-4d53-94af-3a24044f448c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -60,
        980
      ],
      "webhookId": "491a8b87-8f26-48e4-8dde-d13ddffbfb89"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE FORMATADO",
              "lookupValue": "={{ $json.body.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "378a8407-30b8-4ca5-b99b-eda57bb83440",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        80,
        980
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://conectawebhook.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "=302138"
            }
          ]
        }
      },
      "name": "enviar fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1940,
        660
      ],
      "id": "a76f797d-c6ca-47e0-8736-3628f2141bd6",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "5644d142-68de-4690-a748-a224343f5209",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2180,
        660
      ],
      "webhookId": "cf4e8b1f-c2c2-4630-be41-2a9e08a8a2be"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.TELEFONE }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "e68625e6-f383-4116-9e96-c871231de3b9",
      "name": "telefone vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        540
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "id": "9a09a39c-9b86-49d7-82da-a13e89666581",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        980,
        380
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o",
          "mode": "list",
          "cachedResultName": "BOT-JULIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 448379726,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "0b410292-8edc-4e79-aecd-4baeb5c77149",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        260,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.TELEFONE }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "63e535fc-aa94-4684-9550-492b6e253b1e",
      "name": "telefone vazio1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['TELEFONE FORMATADO'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "91f4f781-5fbe-436d-b1b3-3fa23808e55a",
      "name": "telefone vazio2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        780
      ]
    },
    {
      "parameters": {},
      "id": "3b19edc8-838d-45bc-8b95-756ae92e6db5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        680
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o/edit#gid=448379726",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE FORMATADO"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "f8dd0867-77f0-4868-9589-dc3e9cc2850d",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        440,
        360
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    }
  ],
  "pinData": {
    "Google Sheets3": [
      {
        "json": {
          "row_number": 2,
          "TELEFONE FORMATADO": "+5521997260081",
          "TELEFONE": "21997260081",
          "NOME": "ALBERTO MARINHO RIBEIRO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 3,
          "TELEFONE FORMATADO": "+5521997404400",
          "TELEFONE": "21997404400",
          "NOME": " Aluizio de Souza"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 4,
          "TELEFONE FORMATADO": "+5521988326879",
          "TELEFONE": "21988326879",
          "NOME": " IRACEMA KATIA MANHÃES DAMASCENO PERONICO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 5,
          "TELEFONE FORMATADO": "+5521969284169",
          "TELEFONE": "21969284169",
          "NOME": " JUNARA HELENA AIRES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 6,
          "TELEFONE FORMATADO": "+5521973604682",
          "TELEFONE": "21973604682",
          "NOME": " MARIA IZABEL MEDEIROS DA ROSA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 7,
          "TELEFONE FORMATADO": "+5521979173945",
          "TELEFONE": "21979173945",
          "NOME": " MOZART SIQUEIRA DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 8,
          "TELEFONE FORMATADO": "+5521998799377",
          "TELEFONE": "21998799377",
          "NOME": " Nilson Santana Luiz"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 9,
          "TELEFONE FORMATADO": "+5521998471235",
          "TELEFONE": "21998471235",
          "NOME": "ALINE SOUZA FERREIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 10,
          "TELEFONE FORMATADO": "+5521975565469",
          "TELEFONE": "21975565469",
          "NOME": "ANA LUCIA PEROVANO MIEIS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 11,
          "TELEFONE FORMATADO": "+5521966153355",
          "TELEFONE": "21966153355",
          "NOME": "ANDRE MONTEIRO HENRICE"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 12,
          "TELEFONE FORMATADO": "+5521999051535",
          "TELEFONE": "21999051535",
          "NOME": "BIANCA DORESTES MACHADO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 13,
          "TELEFONE FORMATADO": "+5521991185216",
          "TELEFONE": "21991185216",
          "NOME": "CELIO DA CRUZ LOBO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 14,
          "TELEFONE FORMATADO": "+5521996089855",
          "TELEFONE": "21996089855",
          "NOME": "CESAR AUGUSTO DE OLIVEIRA "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 15,
          "TELEFONE FORMATADO": "+5521970387360",
          "TELEFONE": "21970387360",
          "NOME": "CLAUDIA REGINA MONTEIRO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 16,
          "TELEFONE FORMATADO": "+5521964917985",
          "TELEFONE": "21964917985",
          "NOME": "DEBORA DE MOURA HENRIQUES DINIZ"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 17,
          "TELEFONE FORMATADO": "+5521999023418",
          "TELEFONE": "21999023418",
          "NOME": "Diego de Oliveira Coelho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 18,
          "TELEFONE FORMATADO": "+5521964926544",
          "TELEFONE": "21964926544",
          "NOME": "ELAINE CESARIO CAMPOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 19,
          "TELEFONE FORMATADO": "+5521987006007",
          "TELEFONE": "21987006007",
          "NOME": "Elaine Silva Oliveira Dos Santos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 20,
          "TELEFONE FORMATADO": "+5521977476013",
          "TELEFONE": "21977476013",
          "NOME": "FERNANDA MARQUES BRAGA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 21,
          "TELEFONE FORMATADO": "+5521996644003",
          "TELEFONE": "21996644003",
          "NOME": "GRACIANI DA SILVA RODRIGUES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 22,
          "TELEFONE FORMATADO": "+5521986297198",
          "TELEFONE": "21986297198",
          "NOME": "HELTON SANTOS BEZERRA DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 23,
          "TELEFONE FORMATADO": "+5521987584679",
          "TELEFONE": "21987584679",
          "NOME": "INGRID GABRIELA BERGMAN"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 24,
          "TELEFONE FORMATADO": "+5521988326879",
          "TELEFONE": "21988326879",
          "NOME": "IRACEMA KATIA MANHÃES PERONICO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 25,
          "TELEFONE FORMATADO": "+5521992039462",
          "TELEFONE": "21992039462",
          "NOME": "IVAN DUVAL DE ARRUDA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 26,
          "TELEFONE FORMATADO": "+5521964214277",
          "TELEFONE": "21964214277",
          "NOME": "JAQUELINE DE SOUZA BENTO   "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 27,
          "TELEFONE FORMATADO": "+5521994489550",
          "TELEFONE": "21 994489550",
          "NOME": "JAQUELINE DUARTE MOTTA ARRUDA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 28,
          "TELEFONE FORMATADO": "+5521994845636",
          "TELEFONE": "21994845636",
          "NOME": "JOSE MAURO TOLEDO LOPES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 29,
          "TELEFONE FORMATADO": "+5521964548089",
          "TELEFONE": "21964548089",
          "NOME": "Jucilene Villarinho Pereira de Carvalho "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 30,
          "TELEFONE FORMATADO": "+5521993049675",
          "TELEFONE": "21993049675",
          "NOME": "JULIANA OLIVEIRA DOS SANTOS DA SILVA "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 31,
          "TELEFONE FORMATADO": "+5521999023418",
          "TELEFONE": "21999023418",
          "NOME": "KAYTH ALICE RIBEIRO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 32,
          "TELEFONE FORMATADO": "+5521964675023",
          "TELEFONE": "21964675023",
          "NOME": "LUAN HENRIQUE AUGUSTO DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 33,
          "TELEFONE FORMATADO": "+5521960164112",
          "TELEFONE": "21960164112",
          "NOME": "MANOEL FRANCISCO FERNANDES DE CASTRO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 34,
          "TELEFONE FORMATADO": "+5521987243752",
          "TELEFONE": "21987243752",
          "NOME": "MARCELO QUENNEDI RIBEIRO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 35,
          "TELEFONE FORMATADO": "+5521997230441",
          "TELEFONE": "21997230441",
          "NOME": "MARCINA ANA DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 36,
          "TELEFONE FORMATADO": "+5521983637944",
          "TELEFONE": "21983637944",
          "NOME": "MARCOS ANTONIO PEREIRA DOS SANTOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 37,
          "TELEFONE FORMATADO": "+5521997223775",
          "TELEFONE": "21997223775",
          "NOME": "MARCOS FRANCISCO DO ROSARIO GOMES JR"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 38,
          "TELEFONE FORMATADO": "+5521964231608",
          "TELEFONE": "21964231608 ",
          "NOME": "MARIA OZELIA DE SOUSA DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 39,
          "TELEFONE FORMATADO": "+5521991271826",
          "TELEFONE": "21991271826",
          "NOME": "MARTA MACHADO GOMES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 40,
          "TELEFONE FORMATADO": "+5521985084130",
          "TELEFONE": "21985084130",
          "NOME": "NATALIA CARVALHO ALVARENGA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 41,
          "TELEFONE FORMATADO": "+5521990483041",
          "TELEFONE": "21990483041",
          "NOME": "NATASHA DA COSTA LUZITANO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 42,
          "TELEFONE FORMATADO": "+5521995222535",
          "TELEFONE": "21995222535",
          "NOME": "Newton Gomes Barreto Filho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 43,
          "TELEFONE FORMATADO": "+5521964303037",
          "TELEFONE": "21964303037",
          "NOME": "OSWALDO GONÇALVES WERNECK"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 44,
          "TELEFONE FORMATADO": "+5521972225518",
          "TELEFONE": "21972225518",
          "NOME": "PRISCILA PATRICIO ALEXANDRE DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 45,
          "TELEFONE FORMATADO": "+5521987242827",
          "TELEFONE": "21987242827",
          "NOME": "RAPHAEL MEIRELES CARDOZO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 46,
          "TELEFONE FORMATADO": "+5521964055507",
          "TELEFONE": "21964055507",
          "NOME": "Rita de Cássia Castro da Silva Brum Silveira "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 47,
          "TELEFONE FORMATADO": "+5521986235734",
          "TELEFONE": "21986235734",
          "NOME": "ROSANGELA DA SILVA RODRIGUES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 48,
          "TELEFONE FORMATADO": "+5521991354008",
          "TELEFONE": "21991354008",
          "NOME": "Thais Marins Lima"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 49,
          "TELEFONE FORMATADO": "+5521990704059",
          "TELEFONE": "21990704059",
          "NOME": "THAYLA THAMIRES LEMOS DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 50,
          "TELEFONE FORMATADO": "+5521992494480",
          "TELEFONE": "21992494480",
          "NOME": "VALDILÉA DOS SANTOS MENDES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 51,
          "TELEFONE FORMATADO": "+5521972404416",
          "TELEFONE": "21972404416",
          "NOME": "WELLINGTON SÁ DE VASCONCELLOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 52,
          "TELEFONE FORMATADO": "+5521980407913",
          "TELEFONE": "21 980407913",
          "NOME": "RAFAELLA LUISA MORAES DA SILVA CARDOSO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 53,
          "TELEFONE FORMATADO": "+5521971847136",
          "TELEFONE": "21971847136",
          "NOME": "Wallace Lopes Barreto"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 54,
          "TELEFONE FORMATADO": "+5521994642154",
          "TELEFONE": "21)994642154",
          "NOME": " Vanessa Silva Da Cunha Fabião"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 55,
          "TELEFONE FORMATADO": "+5521969069544",
          "TELEFONE": "21969069544",
          "NOME": "Vladimir dos santos vaz"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 56,
          "TELEFONE FORMATADO": "+5521982305158",
          "TELEFONE": "21982305158",
          "NOME": "Marília Silva Farias"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 57,
          "TELEFONE FORMATADO": "+5521972654799",
          "TELEFONE": "21972654799",
          "NOME": "Manoelle Lima dos Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 58,
          "TELEFONE FORMATADO": "+5521989519661",
          "TELEFONE": "21989519661",
          "NOME": "Ana Carolina de Souza Nerval"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 59,
          "TELEFONE FORMATADO": "+5521992593830",
          "TELEFONE": "21992593830",
          "NOME": "Vinicius Faustinoni"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 60,
          "TELEFONE FORMATADO": "+5521978813974",
          "TELEFONE": "21978813974",
          "NOME": "leticia"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 61,
          "TELEFONE FORMATADO": "+5521975187396",
          "TELEFONE": "21975187396",
          "NOME": "Raquel Daiane dos Santos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 62,
          "TELEFONE FORMATADO": "+5521974473960",
          "TELEFONE": "21974473960",
          "NOME": "Lucas Ribeiro da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 63,
          "TELEFONE FORMATADO": "+5521988998705",
          "TELEFONE": "21988998705",
          "NOME": "Rejane Inacia da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 64,
          "TELEFONE FORMATADO": "+5521960180044",
          "TELEFONE": "21960180044",
          "NOME": "Paulo Sérgio Mendonça da Silva "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 65,
          "TELEFONE FORMATADO": "+5521970074888",
          "TELEFONE": "21970074888",
          "NOME": "Patricia Florim Madeira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 66,
          "TELEFONE FORMATADO": "+5521991243132",
          "TELEFONE": "21991243132",
          "NOME": "Ana Claudia Ribeiro da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 67,
          "TELEFONE FORMATADO": "+5521979361997",
          "TELEFONE": "(21)979361997",
          "NOME": "Kevin Oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 68,
          "TELEFONE FORMATADO": "+5521999840586",
          "TELEFONE": "21999840586",
          "NOME": "Ana Claudia"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 69,
          "TELEFONE FORMATADO": "+5521995243623",
          "TELEFONE": "21995243623",
          "NOME": "Marcelo Brito"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 70,
          "TELEFONE FORMATADO": "+5521980358537",
          "TELEFONE": "21980358537",
          "NOME": "Maredil Santos de Godois Rangel"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 71,
          "TELEFONE FORMATADO": "+5521995018461",
          "TELEFONE": "(21)995018461",
          "NOME": "Luciane Costa da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 72,
          "TELEFONE FORMATADO": "+5521965188020",
          "TELEFONE": "21965188020",
          "NOME": "Roseni da Costa Santos da glória "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 73,
          "TELEFONE FORMATADO": "+5521992351719",
          "TELEFONE": "21992351719",
          "NOME": "Amanda Leal Porto Degou "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 74,
          "TELEFONE FORMATADO": "+5521993747457",
          "TELEFONE": "21993747457",
          "NOME": "Vanessa Cristina da Silva Gomes "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 75,
          "TELEFONE FORMATADO": "+5521981499891",
          "TELEFONE": "(21)981499891",
          "NOME": "Ney Duarte"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 76,
          "TELEFONE FORMATADO": "+5521982184987",
          "TELEFONE": "21982184987",
          "NOME": "Andrea Pereira Baiao"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 77,
          "TELEFONE FORMATADO": "+5521964030786",
          "TELEFONE": "21964030786",
          "NOME": "Fábio Pessanha"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 78,
          "TELEFONE FORMATADO": "+5521964272385",
          "TELEFONE": "21964272385",
          "NOME": " Leandra Christina Lisboa "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 79,
          "TELEFONE FORMATADO": "+5521993747457",
          "TELEFONE": "21993747457",
          "NOME": "Vanessa Cristina da Silva Gomes "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 80,
          "TELEFONE FORMATADO": "+5521982184987",
          "TELEFONE": "21982184987",
          "NOME": " Andrea Pereira Baiao"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 81,
          "TELEFONE FORMATADO": "+5521986714633",
          "TELEFONE": "21986714633",
          "NOME": "Fabiano de Oliveira da Silva Gomes"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 82,
          "TELEFONE FORMATADO": "+5521982336707",
          "TELEFONE": "21982336707",
          "NOME": "Gisele Benevente Caminha "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 83,
          "TELEFONE FORMATADO": "+5521975378770",
          "TELEFONE": "21975378770",
          "NOME": "Josefa Helena Barros da Silva "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 84,
          "TELEFONE FORMATADO": "+5521983456670",
          "TELEFONE": "21983456670",
          "NOME": "Marcio Lopes Augusto"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 85,
          "TELEFONE FORMATADO": "+5521964781127",
          "TELEFONE": "21964781127",
          "NOME": "Regiane Célia Nascimento Silva Gomes "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 86,
          "TELEFONE FORMATADO": "+5521972777895",
          "TELEFONE": "(21)972777895",
          "NOME": "Leonardo da Silva dos anjos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 87,
          "TELEFONE FORMATADO": "+5521991169869",
          "TELEFONE": "21991169869",
          "NOME": " Anderson do Amaral Araujo"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 88,
          "TELEFONE FORMATADO": "+5521971467271",
          "TELEFONE": "(21)971467271",
          "NOME": " João Pedro Viana Teixeira Dos Anjos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 89,
          "TELEFONE FORMATADO": "+5521972512816",
          "TELEFONE": "(21)972512816",
          "NOME": "Jacyara Motta do Nascimento "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 90,
          "TELEFONE FORMATADO": "+5521992175420",
          "TELEFONE": "21992175420",
          "NOME": "Sandra Regina Marins de Abreu Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 91,
          "TELEFONE FORMATADO": "+5521988711044",
          "TELEFONE": "21988711044",
          "NOME": "Tereza Cristina Vieira Lima Neves "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 92,
          "TELEFONE FORMATADO": "+5521991704598",
          "TELEFONE": "21991704598",
          "NOME": "Graça Maria de Lemos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 93,
          "TELEFONE FORMATADO": "+5521987349635",
          "TELEFONE": "21987349635",
          "NOME": "Elisângela Pereira "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 94,
          "TELEFONE FORMATADO": "+5521991005562",
          "TELEFONE": "21991005562",
          "NOME": "Manuel Otávio 1"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 95,
          "TELEFONE FORMATADO": "+5521982390241",
          "TELEFONE": "21982390241",
          "NOME": "Manuel Otávio 2"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 96,
          "TELEFONE FORMATADO": "+5521993246562",
          "TELEFONE": "21993246562",
          "NOME": "Ricardo Claudino "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 97,
          "TELEFONE FORMATADO": "+5521986760071",
          "TELEFONE": "21986760071",
          "NOME": "Rhayssa Ribeiro"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 98,
          "TELEFONE FORMATADO": "+5521979494239",
          "TELEFONE": "21979494239",
          "NOME": "Lidiane Alves "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 99,
          "TELEFONE FORMATADO": "+5521995342639",
          "TELEFONE": "21995342639",
          "NOME": "Erika Francisca "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 100,
          "TELEFONE FORMATADO": "+5521973542888",
          "TELEFONE": "21973542888",
          "NOME": "Larissa dos Santos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 101,
          "TELEFONE FORMATADO": "+5521964050364",
          "TELEFONE": "21964050364",
          "NOME": "Alexandre Valoura"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 102,
          "TELEFONE FORMATADO": "+5521983472991",
          "TELEFONE": "21983472991",
          "NOME": "Neuzeli da Silva "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 103,
          "TELEFONE FORMATADO": "+5521968832464",
          "TELEFONE": "(21)968832464",
          "NOME": "Ana Lucia "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 104,
          "TELEFONE FORMATADO": "+5521970841125",
          "TELEFONE": "21970841125",
          "NOME": "Ramon "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 105,
          "TELEFONE FORMATADO": "+5521992351719",
          "TELEFONE": "21992351719",
          "NOME": " Amanda Leal Porto Degou "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 106,
          "TELEFONE FORMATADO": "+5521993150115",
          "TELEFONE": "21993150115",
          "NOME": "Karol Gomes"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 107,
          "TELEFONE FORMATADO": "+5521970285544",
          "TELEFONE": "21970285544",
          "NOME": "André Geraldo de Souza"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 108,
          "TELEFONE FORMATADO": "+5521982432901",
          "TELEFONE": "21982432901",
          "NOME": "Suzanne Gonçalves "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 109,
          "TELEFONE FORMATADO": "+5521972741242",
          "TELEFONE": "21972741242",
          "NOME": "Marcelo Brito de Souza"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 110,
          "TELEFONE FORMATADO": "+5521995702143",
          "TELEFONE": "(21)995702143",
          "NOME": "DIOGO CAVALCANTI VIEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 111,
          "TELEFONE FORMATADO": "+5521982219480",
          "TELEFONE": "(21)982219480",
          "NOME": "Alice Siqueira da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 112,
          "TELEFONE FORMATADO": "+5521970325986",
          "TELEFONE": "(21)970325986",
          "NOME": "Tracy Vieira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 113,
          "TELEFONE FORMATADO": "+5521981433948",
          "TELEFONE": "(21)981433948",
          "NOME": "Taiz Damiana Marques de Andrade"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 114,
          "TELEFONE FORMATADO": "+5521967595339",
          "TELEFONE": "(21)967595339",
          "NOME": "ANTONIA CLEUMARA FARIAS DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 115,
          "TELEFONE FORMATADO": "+5521974529727",
          "TELEFONE": "(21)974529727",
          "NOME": "Estephani Ismerim dos santos rocha"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 116,
          "TELEFONE FORMATADO": "+5521971983070",
          "TELEFONE": "(21)971983070",
          "NOME": "Orlando da Anunciação Barros"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 117,
          "TELEFONE FORMATADO": "+5521964011890",
          "TELEFONE": "(21)964011890",
          "NOME": "Francicleide dos Santos Ferreira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 118,
          "TELEFONE FORMATADO": "+5521974127097",
          "TELEFONE": "(21)974127097",
          "NOME": "Fabrine da Silva dos Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 119,
          "TELEFONE FORMATADO": "+5521964588399",
          "TELEFONE": "(21)964588399",
          "NOME": "Robson Vieira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 120,
          "TELEFONE FORMATADO": "+5521964681143",
          "TELEFONE": "(21)964681143",
          "NOME": "Haryson Vieira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 121,
          "TELEFONE FORMATADO": "+5521964167790",
          "TELEFONE": "(21)964167790",
          "NOME": "Júlio Batista Amaro Junior"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 122,
          "TELEFONE FORMATADO": "+5521970437744",
          "TELEFONE": "(21)970437744",
          "NOME": "LUCAS MARACUI ALEIXO DE ALMEIDA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 123,
          "TELEFONE FORMATADO": "+5521980974218",
          "TELEFONE": "(21)980974218",
          "NOME": "Valéria Ramos Araújo dos Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 124,
          "TELEFONE FORMATADO": "+5521994933220",
          "TELEFONE": "(21)994933220",
          "NOME": "Sabrina da Cunha Rosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 125,
          "TELEFONE FORMATADO": "+5521980583354",
          "TELEFONE": "(21)980583354",
          "NOME": "Kathleen Andrade de Farias"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 126,
          "TELEFONE FORMATADO": "+5521987051292",
          "TELEFONE": "(21)987051292",
          "NOME": "EDUARDO SILVA DOS SANTOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 127,
          "TELEFONE FORMATADO": "+5521987369142",
          "TELEFONE": "(21)987369142",
          "NOME": "Gilson Moreira Benevenuto"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 128,
          "TELEFONE FORMATADO": "+5521974530376",
          "TELEFONE": "(21)974530376",
          "NOME": "ACILENE DA CONCEIÇÃO NOGUEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 129,
          "TELEFONE FORMATADO": "+5521964890510",
          "TELEFONE": "(21)964890510",
          "NOME": "ANA CHRISTINA DE LIMA CAVALCANTI"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 130,
          "TELEFONE FORMATADO": "+5521964062956",
          "TELEFONE": "(21)964062956",
          "NOME": "ANDERSON FREIRE DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 131,
          "TELEFONE FORMATADO": "+5521988900950",
          "TELEFONE": "(21)988900950",
          "NOME": "ÉLIA DALTRO DO Ó"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 132,
          "TELEFONE FORMATADO": "+5521964862094",
          "TELEFONE": "(21)964862094",
          "NOME": "MARCIO DO COUTO DUTRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 133,
          "TELEFONE FORMATADO": "+5521970171889",
          "TELEFONE": "(21)970171889",
          "NOME": "RITA DE CASSIA MEDEIROS DA A. BARROS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 134,
          "TELEFONE FORMATADO": "+5521964855068",
          "TELEFONE": "(21)964855068",
          "NOME": "SANDRO CUNHA DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 135,
          "TELEFONE FORMATADO": "+5521980795015",
          "TELEFONE": "(21)980795015",
          "NOME": "ANA CLAUDIA GUIMARÃES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 136,
          "TELEFONE FORMATADO": "+5521976480694",
          "TELEFONE": "(21)976480694",
          "NOME": "GLAUCE CONCEIÇÃO DA HORA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 137,
          "TELEFONE FORMATADO": "+5521979782952",
          "TELEFONE": "(21)979782952",
          "NOME": "ELIZA SIQUEIRA DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 138,
          "TELEFONE FORMATADO": "+5521987451685",
          "TELEFONE": "(21)987451685",
          "NOME": "Francisca Valdilane silva Braz"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 139,
          "TELEFONE FORMATADO": "+5521992878793",
          "TELEFONE": "(21)992878793",
          "NOME": "Paulo Roberto de Souza Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 140,
          "TELEFONE FORMATADO": "+5521983195036",
          "TELEFONE": "(21)983195036",
          "NOME": "ROSINÉA NAPOMUCENO BOUVIER"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 141,
          "TELEFONE FORMATADO": "+5521964251835",
          "TELEFONE": "(21)964251835",
          "NOME": "Elisabete da Silva Ramos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 142,
          "TELEFONE FORMATADO": "+5521964419209",
          "TELEFONE": "(21)964419209",
          "NOME": "Fernando cunha de Oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 143,
          "TELEFONE FORMATADO": "+5521993013716",
          "TELEFONE": "21993013716",
          "NOME": "Sirlei Maria Cardozo dos Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 144,
          "TELEFONE FORMATADO": "+5521991051969",
          "TELEFONE": "(21)991051969",
          "NOME": "DIOGO FARIAS DA SILVA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 145,
          "TELEFONE FORMATADO": "+5521977221091",
          "TELEFONE": "(21)977221091",
          "NOME": "Fabio Santos de Sousa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 146,
          "TELEFONE FORMATADO": "+5521979248061",
          "TELEFONE": "(21)979248061",
          "NOME": "Nathália de Andrade Rodrigues"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 147,
          "TELEFONE FORMATADO": "+5521979983218",
          "TELEFONE": "(21)97998-3218",
          "NOME": "Maria de Nazaré Roxo oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 148,
          "TELEFONE FORMATADO": "+5521996780283",
          "TELEFONE": "(21)99678-0283",
          "NOME": "JOICE LUIZ SEVERINO JERONIMO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 149,
          "TELEFONE FORMATADO": "+5521998358108",
          "TELEFONE": "(21)998358108",
          "NOME": "Fernanda da Silva Carvalho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 150,
          "TELEFONE FORMATADO": "+5521983603609",
          "TELEFONE": "(21)983603609",
          "NOME": "Marcely Graciano de Lemos testa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 151,
          "TELEFONE FORMATADO": "+5521988182827",
          "TELEFONE": "(21)988182827",
          "NOME": "Carla Correa de Carvalho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 152,
          "TELEFONE FORMATADO": "+5521964433675",
          "TELEFONE": "(21)96443-3675",
          "NOME": "Geisa Figueiredo"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 153,
          "TELEFONE FORMATADO": "+5521970454393",
          "TELEFONE": "(21)97045-4393",
          "NOME": "Desirée Castro de Faria"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 154,
          "TELEFONE FORMATADO": "+5521985413558",
          "TELEFONE": "(21)98541-3558",
          "NOME": "Mariana Anastácia Daltro do Ó Pereira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 155,
          "TELEFONE FORMATADO": "+5521985149768",
          "TELEFONE": "(21)98514-9768",
          "NOME": "Bruno Magalhães de Souza"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 156,
          "TELEFONE FORMATADO": "+5521982971024",
          "TELEFONE": "(21)98297-1024",
          "NOME": "Aline das chagas Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 157,
          "TELEFONE FORMATADO": "+5521982424384",
          "TELEFONE": "(21)98242 4384",
          "NOME": "Carlos Henrique Ferreira de Araujo"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 158,
          "TELEFONE FORMATADO": "+5521965588124",
          "TELEFONE": "(21)965588124",
          "NOME": "Daiane De Oliveira Rocha"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 159,
          "TELEFONE FORMATADO": "+5521982112340",
          "TELEFONE": "(21)98211-2340",
          "NOME": "Juliana Miranda Silva Monteiro"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 160,
          "TELEFONE FORMATADO": "+5521992981892",
          "TELEFONE": "(21)992981892",
          "NOME": "Denilson Lau De Oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 161,
          "TELEFONE FORMATADO": "+5521972862799",
          "TELEFONE": "(21)972862799",
          "NOME": "Murilo dos Santos Alcantara"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 162,
          "TELEFONE FORMATADO": "+5521992227846",
          "TELEFONE": "(21)9922-27846",
          "NOME": "Flavio ferreira Gomes"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 163,
          "TELEFONE FORMATADO": "+5521995627626",
          "TELEFONE": "(21)995627626",
          "NOME": "Marta de Almeida Casalli"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 164,
          "TELEFONE FORMATADO": "+5521982112340",
          "TELEFONE": "(21)98211-2340",
          "NOME": "Juliana Miranda Silva Monteiro"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 165,
          "TELEFONE FORMATADO": "+5521996926951",
          "TELEFONE": "(21)99692 6951",
          "NOME": "Elisangela Rodrigues de Moura"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 166,
          "TELEFONE FORMATADO": "+5521983979138",
          "TELEFONE": "(21)98397-9138",
          "NOME": "Isabelle Guimarães Martins de Oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 167,
          "TELEFONE FORMATADO": "+5521974051990",
          "TELEFONE": "21974051990",
          "NOME": "MARCIA DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 168,
          "TELEFONE FORMATADO": "+5521991359775",
          "TELEFONE": "21 99135-9775",
          "NOME": "Monica Nogueira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 169,
          "TELEFONE FORMATADO": "+5521984232219",
          "TELEFONE": "21984232219",
          "NOME": "Thamires de  Siqueira Matos Galdino"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 170,
          "TELEFONE FORMATADO": "+5521973601021",
          "TELEFONE": "21973601021",
          "NOME": "ALCIDIA LIGEIRO DO NASCIMENTO"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 171,
          "TELEFONE FORMATADO": "+5521995489868",
          "TELEFONE": "21995489868",
          "NOME": "VIVIAN NASCIMENTO DE CASTRO DOS SANTOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 172,
          "TELEFONE FORMATADO": "+5521964599799",
          "TELEFONE": "21964599799",
          "NOME": "ANA CRISTINA DANTAS DE CARVALHO DE OLIVEIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 173,
          "TELEFONE FORMATADO": "+5521986852220",
          "TELEFONE": "21986852220",
          "NOME": "JULIANA CRISTINA FRANCISCO DA CRUZ"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 174,
          "TELEFONE FORMATADO": "+5521981746387",
          "TELEFONE": "21981746387",
          "NOME": "FABIANA FRANCISCA MELLO DA SILVA MADUREIRA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 175,
          "TELEFONE FORMATADO": "+554896277069",
          "TELEFONE": "48996277069",
          "NOME": "GLEYCIANE PEIXOTO DOS ANJOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 176,
          "TELEFONE FORMATADO": "+5521995022640",
          "TELEFONE": "21 99502-2640 ",
          "NOME": "Katia regina Silva de araujo "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 177,
          "TELEFONE FORMATADO": "+5521991578002",
          "TELEFONE": "21991578002",
          "NOME": "DANIELLE ALVES DA COSTA GOMES"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 178,
          "TELEFONE FORMATADO": "+5521984250630",
          "TELEFONE": "21984250630",
          "NOME": "RENATA DE OLIVEIRA MENDONÇA"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 179,
          "TELEFONE FORMATADO": "+5521965228920",
          "TELEFONE": "21965228920",
          "NOME": "Paula maria da Conceição Amorim Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 180,
          "TELEFONE FORMATADO": "+5521996923850",
          "TELEFONE": "21996923850",
          "NOME": "Marta Da Costa Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 181,
          "TELEFONE FORMATADO": "+5521994846598",
          "TELEFONE": "(21) 99484-6598",
          "NOME": "Julio Alves Pereira Filho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 182,
          "TELEFONE FORMATADO": "+5521964620006",
          "TELEFONE": "21964620006",
          "NOME": "Maurício de Castro "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 183,
          "TELEFONE FORMATADO": "+5521964620004",
          "TELEFONE": "21964620004",
          "NOME": "Suzana de Castro "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 184,
          "TELEFONE FORMATADO": "+5521974571185",
          "TELEFONE": "21974571185",
          "NOME": "Lucas Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 185,
          "TELEFONE FORMATADO": "+5521992564771",
          "TELEFONE": "21 99256-4771",
          "NOME": "Angélica "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 186,
          "TELEFONE FORMATADO": "+5521986238508",
          "TELEFONE": "(21)98623-8508",
          "NOME": "João Alexandre"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 187,
          "TELEFONE FORMATADO": "+5521974074349",
          "TELEFONE": "21 974074349",
          "NOME": "Veronica dos Santos "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 188,
          "TELEFONE FORMATADO": "+5521982537969",
          "TELEFONE": "21982537969",
          "NOME": "Leandro"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 189,
          "TELEFONE FORMATADO": "+5521993923039",
          "TELEFONE": "(21) 99392-3039",
          "NOME": "Jéssica Belo do Rosário"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 190,
          "TELEFONE FORMATADO": "+5521991740075",
          "TELEFONE": "21 99174-0075",
          "NOME": "Cristiane Luci Oliveira santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 191,
          "TELEFONE FORMATADO": "+5521982078845",
          "TELEFONE": "21982078845",
          "NOME": "Ayra chayane Mendes Ferreira da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 192,
          "TELEFONE FORMATADO": "+5521995586173",
          "TELEFONE": "21995586173",
          "NOME": "Magda"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 193,
          "TELEFONE FORMATADO": "+5521974529727",
          "TELEFONE": "21 97452-9727",
          "NOME": "Estephani Ismerim dos Santos Rocha"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 194,
          "TELEFONE FORMATADO": "+5521995702143",
          "TELEFONE": "21 99570-2143",
          "NOME": "Diogo Vieira  "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 195,
          "TELEFONE FORMATADO": "+5521965155987",
          "TELEFONE": "21 965155987",
          "NOME": "Anna Bárbara Godoy de Oliveira Valle"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 196,
          "TELEFONE FORMATADO": "+5521960198934",
          "TELEFONE": " 21 96019-8934",
          "NOME": "Natália cabrine Bento Ramos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 197,
          "TELEFONE FORMATADO": "+5521966149191",
          "TELEFONE": "21 96614.9191",
          "NOME": "Maria Margarete de Sousa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 198,
          "TELEFONE FORMATADO": "+5521996355439",
          "TELEFONE": "21996355439",
          "NOME": "Wallace Lopes Barreto"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 199,
          "TELEFONE FORMATADO": "+5521964495801",
          "TELEFONE": "21 964495801",
          "NOME": "PAULO ROBERTO RAMOS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 200,
          "TELEFONE FORMATADO": "+5521964069571",
          "TELEFONE": "21 96406-9571",
          "NOME": "Leticia Marins de Souza Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 201,
          "TELEFONE FORMATADO": "+5521992612184",
          "TELEFONE": "21 992612184",
          "NOME": "IAKSE DOS SANTOS MARTINS"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 202,
          "TELEFONE FORMATADO": "+5521991264639",
          "TELEFONE": "21991264639",
          "NOME": "Patricia Leal da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 203,
          "TELEFONE FORMATADO": "+5521969069544",
          "TELEFONE": "21 969069544",
          "NOME": "Vladimir dos santos vaz "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 204,
          "TELEFONE FORMATADO": "+5521971413733",
          "TELEFONE": "21971413733",
          "NOME": "Lívia Mara da Rocha Pereira Batista dos Santos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 205,
          "TELEFONE FORMATADO": "+5521991401498",
          "TELEFONE": "21991401498",
          "NOME": "Luciana Fernandes Dias"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 206,
          "TELEFONE FORMATADO": "+5521992564771",
          "TELEFONE": "21992564771",
          "NOME": "Angélica dos santos Gomes"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 207,
          "TELEFONE FORMATADO": "+5521998173958",
          "TELEFONE": "21998173958",
          "NOME": "Mônica Teixeira da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 208,
          "TELEFONE FORMATADO": "+5521985312910",
          "TELEFONE": "21985312910",
          "NOME": "Leila Tessoliano da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 209,
          "TELEFONE FORMATADO": "+5521991539801",
          "TELEFONE": "21991539801",
          "NOME": "Denilson Souza"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 210,
          "TELEFONE FORMATADO": "+5521988326879",
          "TELEFONE": "21988326879",
          "NOME": "Iracema katia MANHÃES Damasceno perónico "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 211,
          "TELEFONE FORMATADO": "+5521968053452",
          "TELEFONE": "21968053452",
          "NOME": "Cristiane Oliveira de Carvalho"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 212,
          "TELEFONE FORMATADO": "+5521964709082",
          "TELEFONE": "21964709082",
          "NOME": "Tiago Basilio"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 213,
          "TELEFONE FORMATADO": "+5521988900905",
          "TELEFONE": "21 98890-0905",
          "NOME": "Elia"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 214,
          "TELEFONE FORMATADO": "+5521994023888",
          "TELEFONE": "21994023888",
          "NOME": "Aruana Oliveira"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 215,
          "TELEFONE FORMATADO": "+5521964297428",
          "TELEFONE": "21 96429-7428",
          "NOME": "Marco Aurélio"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 216,
          "TELEFONE FORMATADO": "+5521967664969",
          "TELEFONE": "21 96766-4969",
          "NOME": "Maria Beth"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 217,
          "TELEFONE FORMATADO": "+5521979248061",
          "TELEFONE": "21979248061",
          "NOME": "Nathália de Andrade Rodrigues"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 218,
          "TELEFONE FORMATADO": "+5521974619905",
          "TELEFONE": "21 97461-9905",
          "NOME": "TATIANA DO AMARAL ANDRADE"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 219,
          "TELEFONE FORMATADO": "+5521985859183",
          "TELEFONE": "21 98585-9183",
          "NOME": "Juliana Nascimento"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 220,
          "TELEFONE FORMATADO": "+5521974008793",
          "TELEFONE": "21974008793",
          "NOME": "Deise Gladson"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 221,
          "TELEFONE FORMATADO": " +5521964599799",
          "TELEFONE": " 21964599799",
          "NOME": "Ana Cristina Dantas"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 222,
          "TELEFONE FORMATADO": "+5521994666313",
          "TELEFONE": "21 9466-6313",
          "NOME": "Hana Beathriz Ezequiel Amolinario"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 223,
          "TELEFONE FORMATADO": "+5521967337333",
          "TELEFONE": "21 96733-7333",
          "NOME": "Luana Teixeira Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 224,
          "TELEFONE FORMATADO": "+5521992184103",
          "TELEFONE": "21992184103",
          "NOME": "Nathalia da silva Gonçalves "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 225,
          "TELEFONE FORMATADO": "+5521966149191",
          "TELEFONE": "21966149191",
          "NOME": "Maria Margarete de Sousa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 226,
          "TELEFONE FORMATADO": "+5521979190498",
          "TELEFONE": "21 97919-0498",
          "NOME": "Patrícia Gonçalves"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 227,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21966210917",
          "NOME": "Camilla da Silva Miguel"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 228,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21964052325",
          "NOME": "Juliana da Silva de Moura"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 229,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21984225217",
          "NOME": "Margareth de Almeida Fidalgo"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 230,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 998699838",
          "NOME": "Loriane Garcia Freire"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 231,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "2198372-3426 ",
          "NOME": "Isabela Marques da Silva "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 232,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 97913-6849",
          "NOME": "Tereza Cristina de Cássia Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 233,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 995243623",
          "NOME": "Jerucia Cássia Lopes Sampaio Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 234,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 967421517",
          "NOME": "Alexandre Gomes "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 235,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 97479-2419",
          "NOME": "Josielen Silva Marins Teixeira Pimenta "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 236,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 9466-6313",
          "NOME": "Hana Beathriz Ezequiel Amolinario"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 237,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21973976759",
          "NOME": "Jose Renato da Silva Leite "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 238,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21973855107",
          "NOME": "Rodrigo da Silva Monteiro "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 239,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21999556763",
          "NOME": "Rayssa Cabral de Oliveira "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 240,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21996834374",
          "NOME": "Raquel Silva da Conceição "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 241,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21973555164",
          "NOME": "Bruno de Oliveira Von-Held"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 242,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21983072546",
          "NOME": "Paula de Melo Rodrigues Carvalho "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 243,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21967337333",
          "NOME": "Luana Teixeira Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 244,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21983553627",
          "NOME": "Thuany Herencio de Carvalho Coelho "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 245,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21991704598",
          "NOME": "Graça Maria de Lemos"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 246,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21994222850",
          "NOME": "Larissa Pereira da Silva "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 247,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21965480953",
          "NOME": "João Vinicius Campello "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 248,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21969512307",
          "NOME": "Isabelle Rosa de Salles Nactividade "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 249,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21979126352",
          "NOME": "Evelyn Leticia Bezerra Aureliano"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 250,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 979136849",
          "NOME": "Tereza Cristina de Cássia Barbosa"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 251,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21964280987",
          "NOME": "Erica Serrao da Costa "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 252,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21991264639",
          "NOME": "Patricia Leal da Silva"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      },
      {
        "json": {
          "row_number": 253,
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21982703851",
          "NOME": "Martha Alcântara "
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o",
      "sheetId": 448379726,
      "lastRevision": 18451,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1_PYgJ1kybEGr2-XK2rjuaWhzfHFgFppDaz0TnIT6b8o&revision=18451&exportFormat=xlsx",
      "lastIndexChecked": 252
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-12-09T10:28:41.000Z",
  "versionId": "ed5a4dce-c332-4535-b5ee-7835fdbb7d0d"
}