workflows/lembrete 15m antes - medi.json
{
  "active": true,
  "connections": {
    "a cada 5 minutos": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T18:25:35.645Z",
  "id": "eZ88PqaU27uGJ4GN",
  "meta": null,
  "name": "lembrete 15m antes - medi",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            },
            {
              "field": "hours",
              "triggerAtMinute": 5
            },
            {
              "field": "hours",
              "triggerAtMinute": 10
            },
            {
              "field": "hours",
              "triggerAtMinute": 15
            },
            {
              "field": "hours",
              "triggerAtMinute": 20
            },
            {
              "field": "hours",
              "triggerAtMinute": 25
            },
            {
              "field": "hours",
              "triggerAtMinute": 30
            },
            {
              "field": "hours",
              "triggerAtMinute": 35
            },
            {
              "field": "hours",
              "triggerAtMinute": 40
            },
            {
              "field": "hours",
              "triggerAtMinute": 45
            },
            {
              "field": "hours",
              "triggerAtMinute": 50
            },
            {
              "field": "hours",
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "id": "57ed3f48-4198-4baa-9828-1a7f907381e4",
      "name": "a cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        660
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wirN-vIslfaKAAjP_ssJU0w5pGhXrsNC57RNK3cookI",
          "mode": "list",
          "cachedResultName": "Agendamentos - Medi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wirN-vIslfaKAAjP_ssJU0w5pGhXrsNC57RNK3cookI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 265903553,
          "mode": "list",
          "cachedResultName": "AGENDAMENTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wirN-vIslfaKAAjP_ssJU0w5pGhXrsNC57RNK3cookI/edit#gid=265903553"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DATA E HORA (pra quando)",
              "lookupValue": "={{ $json['data hora'] }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "5ee6a22e-f28d-4dd7-ac04-b7442fc35f0c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1080,
        660
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json['data hora'] }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy HH:mm",
        "outputFieldName": "data hora",
        "options": {
          "timezone": true
        }
      },
      "id": "1e05c288-d4fc-4590-b561-6bccd0565878",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        840,
        660
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.timestamp }}",
        "timeUnit": "minutes",
        "duration": 15,
        "outputFieldName": "data hora"
      },
      "id": "b67a6754-60cd-4778-afef-689c38992c4a",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        600,
        660
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:a cada 5 minutos": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-22T18:26:28.000Z",
  "versionId": "9785ee7e-8199-46a4-9ce3-432676717b4e"
}