workflows/Medi - Pais.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-08T18:40:04.849Z",
  "id": "ydEQsAkm9PQ0clty",
  "name": "Medi - Pais",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medi-pais",
        "options": {}
      },
      "id": "41776be0-487e-4794-8a31-898e995e8b3d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        600
      ],
      "webhookId": "e23ca435-9bf5-44c5-9f93-d528130db37c"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PESQUISA PAIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "DATA": "={{ $json.body.DATA }}",
            "NOME": "={{ $json.body.NOME }}",
            "REMEDIO": "={{ $json.body.REMEDIO }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OBESIDADE": "={{ $json.body.OBESIDADE }}",
            "GESTANTE": "={{ $json.body.GESTANTE }}",
            "DIABETES": "={{ $json.body.DIABETES }}",
            "PRESSÃO": "={{ $json.body.PRESSAO }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMEDIO",
              "displayName": "REMEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBESIDADE",
              "displayName": "OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GESTANTE",
              "displayName": "GESTANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIABETES",
              "displayName": "DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESSÃO",
              "displayName": "PRESSÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "754ede2b-3d15-4cd3-befb-05aac68628c6",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PESQUISA PAIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $json.body.DATA }}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body.PSAUDE }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "REMEDIO": "={{ $json.body.REMEDIO }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OBESIDADE": "={{ $json.body.OBESIDADE }}",
            "DIABETES": "={{ $json.body.DIABETES }}",
            "PRESSÃO": "={{ $json.body.PRESSAO }}",
            "ACOMPANHAMENTO": "={{ $json.body.ACOMPANHAMENTO }}",
            "SINTOMA": "={{ $json.body.SINTOMA }}",
            "LGPD": "={{ $json.body.LGPD }}",
            "HORA": "={{ $json.body[\"DATA E HORA\"] }}",
            "CHECKUP": "={{ $json.body.CHECKUP }}",
            "CRÔNICO": "={{ $json.body.CRONICO }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMEDIO",
              "displayName": "REMEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBESIDADE",
              "displayName": "OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIABETES",
              "displayName": "DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESSÃO",
              "displayName": "PRESSÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMPANHAMENTO",
              "displayName": "ACOMPANHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SINTOMA",
              "displayName": "SINTOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LGPD",
              "displayName": "LGPD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CHECKUP",
              "displayName": "CHECKUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CRÔNICO",
              "displayName": "CRÔNICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "83efad2b-91e7-42d9-8823-acbcee41df36",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        600
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medi-pais2",
        "options": {}
      },
      "id": "41dbd2a6-49e3-4eb8-a7f5-99a612072541",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        660,
        980
      ],
      "webhookId": "fcf7f66c-809d-46f1-a920-c1bd9ebc22c3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 79205736,
          "mode": "list",
          "cachedResultName": "ATIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=79205736"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "ACOMPANHAMENTO ATUAL": "={{ $json.body.PERIODICIDADE }}",
            "EXAMES": "={{ $json.body.EXAME }}",
            "MEDICAÇÃO": "={{ $json.body.MEDICACAO }}",
            "ESPECIALIDADE": "={{ $json.body.ESPECIALIDADE }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ACOMPANHAMENTO ATUAL",
              "displayName": "ACOMPANHAMENTO ATUAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESPECIALIDADE",
              "displayName": "ESPECIALIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EXAMES",
              "displayName": "EXAMES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAÇÃO",
              "displayName": "MEDICAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9cae3f45-114c-4d44-ad5f-440c89192606",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "498",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "d3c80a8327bb4727afe3541077e46f03-83543290aa0a9572-0",
            "x-forwarded-for": "54.207.50.198",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "54.207.50.198"
          },
          "params": {},
          "query": {},
          "body": {
            "DATA": "{data}",
            "LGPD": "{LGPD}",
            "NOME": "{nomepais}",
            "RISCO": "{RISCO}",
            "PSAUDE": "{PSAUDE}",
            "CHECKUP": "{CHECKUP}",
            "CRONICO": "{CRONICO}",
            "EMPRESA": "{EMPRESA}",
            "PRESSAO": "{pressao-usuario}",
            "REMEDIO": "{remediopais}",
            "SINTOMA": "{Sintoma_PAIS}",
            "DIABETES": "{DIABETES}",
            "GESTANTE": "{Gestante}",
            "TELEFONE": "{TELEFONEPAIS}",
            "OBESIDADE": "{GRAU_OBESIDADE}",
            "PATOLOGIA": "{PATOLOGIA_PAIS}",
            "DATA E HORA": "{HORA_SOLICITAÇÃO}",
            "ACOMPANHAMENTO": "{Especialidade_PAIS}",
            "MATRICULA": "{Especialidade_PAIS}"
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "191",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "d0031567868749449e50cbd5569a016d-a9d9483be50b4b74-0",
            "x-forwarded-for": "15.229.146.128",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "15.229.146.128"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "TELEFONE": "{telefone}",
            "ACOMPANHAMENTO": "{FAZ_ACOMPANHAMENTO}",
            "PERIODICIDADE": "{periodicidade_PAIS}",
            "EXAME": "{Exame_Pais}",
            "MEDICACAO": "{remediopais}"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "hclMiW9LVIyi2C4n",
      "createdAt": "2023-08-11T02:32:22.208Z",
      "updatedAt": "2023-08-11T02:32:22.208Z",
      "name": "Medi"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-10-19T12:46:48.000Z",
  "versionId": "e5ef6f1a-9f16-4ba6-99f2-3bd7b538b513"
}