workflows/Medi - Pais.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T18:18:18.772Z",
  "id": "CQqhugJKjCAX6Ymw",
  "meta": null,
  "name": "Medi - Pais",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medi-pais",
        "options": {}
      },
      "id": "dcacaad4-49ec-475f-9ec8-176368739e58",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        600
      ],
      "webhookId": "e23ca435-9bf5-44c5-9f93-d528130db37c"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PESQUISA PAIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "DATA": "={{ $json.body.DATA }}",
            "NOME": "={{ $json.body.NOME }}",
            "REMEDIO": "={{ $json.body.REMEDIO }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OBESIDADE": "={{ $json.body.OBESIDADE }}",
            "GESTANTE": "={{ $json.body.GESTANTE }}",
            "DIABETES": "={{ $json.body.DIABETES }}",
            "PRESSÃO": "={{ $json.body.PRESSAO }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMEDIO",
              "displayName": "REMEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBESIDADE",
              "displayName": "OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GESTANTE",
              "displayName": "GESTANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIABETES",
              "displayName": "DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESSÃO",
              "displayName": "PRESSÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2f13e535-faab-422b-ac4e-35c7b5bf0e3a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PESQUISA PAIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $json.body.DATA }}",
            "HORA": "={{ $json.body['DATA E HORA'] }}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body.PSAUDE }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "REMEDIO": "={{ $json.body.REMEDIO }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OBESIDADE": "={{ $json.body.OBESIDADE }}",
            "DIABETES": "={{ $json.body.DIABETES }}",
            "PRESSÃO": "={{ $json.body.PRESSAO }}",
            "ACOMPANHAMENTO": "={{ $json.body.ACOMPANHAMENTO }}",
            "SINTOMA": "={{ $json.body.SINTOMA }}",
            "LGPD": "={{ $json.body.LGPD }}",
            "CHECKUP": "={{ $json.body.CHECKUP }}",
            "CRÔNICO": "={{ $json.body.CRONICO }}",
            "DATA-CHAMADO": "={{ $json.body['MOMENTO-CHAMADO'] }}",
            "HORA-CHAMADO": "={{ $json.body['MOMENTO-CHAMADO'] }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REMEDIO",
              "displayName": "REMEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBESIDADE",
              "displayName": "OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIABETES",
              "displayName": "DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESSÃO",
              "displayName": "PRESSÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMPANHAMENTO",
              "displayName": "ACOMPANHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SINTOMA",
              "displayName": "SINTOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LGPD",
              "displayName": "LGPD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CHECKUP",
              "displayName": "CHECKUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRÔNICO",
              "displayName": "CRÔNICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA-CHAMADO",
              "displayName": "DATA-CHAMADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA-CHAMADO",
              "displayName": "HORA-CHAMADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "504d3511-6455-4177-bd05-9f7cbd5e87a7",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        600
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "medi-pais2",
        "options": {}
      },
      "id": "047e1230-6f2d-474e-8a0a-a3512994bab6",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        980
      ],
      "webhookId": "fcf7f66c-809d-46f1-a920-c1bd9ebc22c3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 150588012,
          "mode": "list",
          "cachedResultName": "PESQUISA ATIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=150588012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd-MM-yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body.PSAUDE }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "ACOMPANHAMENTO": "={{ $json.body.ACOMPANHAMENTO }}",
            "ESPECIALIDADE": "={{ $json.body.ESPECIALIDADE }}",
            "EXAMES": "={{ $json.body.EXAME }}",
            "REMÉDIO": "={{ $json.body.MEDICACAO }}",
            "ALTERAÇÃO": "={{ $json.body.ALTERACAO }}",
            "INTERCORRENCIA": "={{ $json.body.INTERCORRENCIA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMPANHAMENTO",
              "displayName": "ACOMPANHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESPECIALIDADE",
              "displayName": "ESPECIALIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EXAMES",
              "displayName": "EXAMES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALTERAÇÃO",
              "displayName": "ALTERAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REMÉDIO",
              "displayName": "REMÉDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA",
              "displayName": "INTERCORRENCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "568b06e0-e902-4df8-abfb-135de3fed714",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PESQUISA PAIS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $json.body.DATA }}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body.PSAUDE }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "REMEDIO": "={{ $json.body.REMEDIO }}",
            "PATOLOGIA": "={{ $json.body.PATOLOGIA }}",
            "OBESIDADE": "={{ $json.body.OBESIDADE }}",
            "DIABETES": "={{ $json.body.DIABETES }}",
            "PRESSÃO": "={{ $json.body.PRESSAO }}",
            "ACOMPANHAMENTO": "={{ $json.body.ACOMPANHAMENTO }}",
            "SINTOMA": "={{ $json.body.SINTOMA }}",
            "LGPD": "={{ $json.body.LGPD }}",
            "HORA": "={{ $json.body[\"DATA E HORA\"] }}",
            "CHECKUP": "={{ $json.body.CHECKUP }}",
            "CRÔNICO": "={{ $json.body.CRONICO }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMEDIO",
              "displayName": "REMEDIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PATOLOGIA",
              "displayName": "PATOLOGIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OBESIDADE",
              "displayName": "OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIABETES",
              "displayName": "DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESSÃO",
              "displayName": "PRESSÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ACOMPANHAMENTO",
              "displayName": "ACOMPANHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SINTOMA",
              "displayName": "SINTOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LGPD",
              "displayName": "LGPD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CHECKUP",
              "displayName": "CHECKUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CRÔNICO",
              "displayName": "CRÔNICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OBSERVAÇÃO",
              "displayName": "OBSERVAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "8b661844-d2a7-4ab6-b965-94dd926e0a07",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1420,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "398",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "d415fb21c1094aa5ab71c1d60e2e331e-8ee62e39653f0557-0",
            "x-forwarded-for": "52.67.52.36",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "52.67.52.36"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "EXAME": "{Exame_Pais}",
            "TELEFONE": "{telefone}",
            "MEDICACAO": "{remediopais}",
            "ESPECIALIDADE": "{Especialidade_PAIS}",
            "PERIODICIDADE": "{periodicidade_PAIS}",
            "ACOMPANHAMENTO": "{FAZ_ACOMPANHAMENTO}",
            "MATRICULA": "{MATRICULA}",
            "PSAUDE": "{PSAUDE}",
            "EMPRESA": "{EMPRESA}",
            "INTERCORRENCIA": "{intercorrencia_PAIS}",
            "ALTERACAO": "{alteração_exame_PAIS}"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-11T21:50:39.405Z",
      "updatedAt": "2024-01-11T21:50:39.405Z",
      "id": "RvIHquTBgwK9F8iE",
      "name": "Medi"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-11T22:04:56.000Z",
  "versionId": "7724a6b8-972a-4d3e-a0b5-baf116bb7f81"
}