workflows/PUERICULTURA.json
{
  "active": false,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "ABA 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 2": {
      "main": [
        [
          {
            "node": "puericultura 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 3": {
      "main": [
        [
          {
            "node": "puericultura 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 5": {
      "main": [
        [
          {
            "node": "puericultura 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 6": {
      "main": [
        [
          {
            "node": "puericultura 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 4": {
      "main": [
        [
          {
            "node": "puericultura 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA ": {
      "main": [
        [
          {
            "node": "puericultura 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T18:27:34.735Z",
  "id": "5PT6aZ0jucAPSSFa",
  "meta": null,
  "name": "PUERICULTURA",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "d886f77d-a366-43cd-b2d7-3eeab09ab1a5",
      "name": "ABA 3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "4"
            }
          ]
        }
      },
      "id": "20926cd2-10cf-47e5-926b-e3cdec3b7904",
      "name": "ABA 4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "5"
            }
          ]
        }
      },
      "id": "712f6f4c-8131-4284-9779-3e17c2237aad",
      "name": "ABA 5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "6"
            }
          ]
        }
      },
      "id": "61c16216-a5d5-462a-b5a6-41c4fce9618b",
      "name": "ABA 6",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        980
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "puericultura",
        "options": {}
      },
      "id": "d4d1186a-7eb0-476e-8406-3e7e4abf8e62",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1160,
        640
      ],
      "webhookId": "5987dab2-8c92-4a9c-a70c-666d00062f97"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "2"
            }
          ]
        }
      },
      "id": "14b648d4-0448-4b15-b4c2-1a6919099b20",
      "name": "ABA 2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "737b87f5-e7f4-4c7c-a8db-9ec2914fb572",
      "name": "ABA ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 742515701
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6d7e97b9-fc0c-4b3b-a9bb-75f1beb8d146",
      "name": "puericultura 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 742515701
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json.body.MEDICAMENTO/VITAMINA }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "580394a9-2105-4ba7-8aad-14c86519e2ed",
      "name": "puericultura ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2680,
        380
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "80301526",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "eaeb149b-3161-4912-901d-c170c8e4f3cc",
      "name": "puericultura 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "455087511",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6b9cc756-f746-4bec-87f8-f2aed295e1ed",
      "name": "puericultura 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1322504198",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4d724c80-e43e-41e1-9ff2-9f5443007c97",
      "name": "puericultura 4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        700
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "2048214455",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2615a2c1-ef2b-4f94-8560-144823845f0d",
      "name": "puericultura 5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        840
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1236448004",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6ef052d2-e624-4d78-9e43-e3e6fd7c6067",
      "name": "puericultura 6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2100,
        980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "732",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "a8263bee5ca946e9bd5588c58c335789-8cafdc52e2918a4d-0",
            "x-forwarded-for": "54.232.237.172",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "54.232.237.172"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "TELEFONE": "{telefone}",
            "MATRICULA": "{MATRICULA}",
            "PROGRAMA DE SAÚDE": "{PSAUDE}",
            "EMPRESA": "{EMPRESA}",
            "SEMANAS": "{P-SEMANAS PARTO}",
            "TIPO DE PARTO": "{G-TIPO DE PARTO}",
            "SEXO": "{G-SEXO}",
            "NOME DA CRIANÇA": "{P-NOME BEBÊ}",
            "INTERCORRENCIA NO PARTO": "{P-INTERCORR. PARTO}",
            "PESO E ALTURA BEBE": "{P-PESO ALTURA BB}",
            "DIAS/MESES BEBÊ": "{P-DIAS/MESES DE VIDA}",
            "ALEITAMENTO": "{P-ALEITAMENTO}",
            "MEDICAMENTO/VITAMINA": "{P-MEDICAÇÃO/VITAMINA}",
            "VACINAÇÃO": "{P-VACINAÇÃO}",
            "FREQUENCIA PEDIATRA": "{P-FREQ-PEDIATRA}",
            "OUTRO ESPECIALISTA": "{P-OUTRO-ESPECIALISTA}",
            "DIAGNOSTICO CRONICO": "{P-DIAGNOSTICO-CRONIC}",
            "ABA": "6"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2023-11-22T18:27:34.740Z",
      "updatedAt": "2023-11-22T18:27:34.740Z",
      "role": "workflow:owner",
      "workflowId": "5PT6aZ0jucAPSSFa",
      "projectId": "EhYksklXdTBsi26f",
      "project": {
        "createdAt": "2024-08-06T03:41:19.242Z",
        "updatedAt": "2024-08-06T03:41:19.242Z",
        "id": "EhYksklXdTBsi26f",
        "name": "Vinicius Fastinoni <bot.maya.n8n@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-08-06T03:41:19.242Z",
            "updatedAt": "2024-08-06T03:41:19.242Z",
            "role": "project:personalOwner",
            "userId": "31bebeed-1943-40c1-85cd-9ef49971170c",
            "projectId": "EhYksklXdTBsi26f",
            "user": {
              "createdAt": "2023-11-22T16:53:59.095Z",
              "updatedAt": "2025-03-10T14:46:53.638Z",
              "id": "31bebeed-1943-40c1-85cd-9ef49971170c",
              "email": "bot.maya.n8n@gmail.com",
              "firstName": "Vinicius",
              "lastName": "Fastinoni",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-11-22T17:09:31.234Z",
                "personalization_survey_n8n_version": "1.16.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "hR3fA4rAnKCuUwjJ",
                "userActivatedAt": 1722915679480,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1741617639564
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-28T01:19:40.000Z",
  "versionId": "c017427e-7b5d-4928-98e2-0650ba25530a"
}