workflows/PUERICULTURA.json
{
  "active": true,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "ABA 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABA ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 2": {
      "main": [
        [
          {
            "node": "puericultura 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 3": {
      "main": [
        [
          {
            "node": "puericultura 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 5": {
      "main": [
        [
          {
            "node": "puericultura 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 6": {
      "main": [
        [
          {
            "node": "puericultura 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA 4": {
      "main": [
        [
          {
            "node": "puericultura 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ABA ": {
      "main": [
        [
          {
            "node": "puericultura 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-27T14:56:09.264Z",
  "id": "3fDW7ptw2bNM4jvj",
  "name": "PUERICULTURA",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "3"
            }
          ]
        }
      },
      "id": "b598a499-99b2-4ebb-9dcf-18642735d31b",
      "name": "ABA 3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "4"
            }
          ]
        }
      },
      "id": "35155714-c25f-456c-9ba9-fecb049ba5b8",
      "name": "ABA 4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "5"
            }
          ]
        }
      },
      "id": "04bf256c-29f0-42b7-8aa2-267fa954e488",
      "name": "ABA 5",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "6"
            }
          ]
        }
      },
      "id": "1f70605a-06e4-48b8-992d-783011f2aca8",
      "name": "ABA 6",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        1320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "puericultura",
        "options": {}
      },
      "id": "87c38024-e0ee-4c88-9d96-dfd82a130513",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        980
      ],
      "webhookId": "5987dab2-8c92-4a9c-a70c-666d00062f97"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "2"
            }
          ]
        }
      },
      "id": "64c36184-1d8e-47cc-a01d-9804a81530d0",
      "name": "ABA 2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ABA }}",
              "value2": "1"
            }
          ]
        }
      },
      "id": "f4b93c79-0106-4729-96df-29b8766d6a2c",
      "name": "ABA ",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        580
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 742515701
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b81a146f-7658-4f4b-8806-8560597e9179",
      "name": "puericultura 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        580
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 742515701
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json.body.MEDICAMENTO/VITAMINA }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b4767dd5-4928-4bca-9395-be15141ec292",
      "name": "puericultura ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1620,
        720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "80301526",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f251282b-a764-4880-918c-f560ca80915d",
      "name": "puericultura 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        740
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "455087511",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3569e7c9-818a-4da5-a623-ed9d3912e6a5",
      "name": "puericultura 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        900
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1322504198",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2ac0b2d7-153e-4b72-965b-7266acda9c8e",
      "name": "puericultura 4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1040
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "2048214455",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e00cd1fd-1d47-4096-8f62-9428b15eef50",
      "name": "puericultura 5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8",
          "mode": "list",
          "cachedResultName": "PAIS - MEDI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GjS3h0eaYJs-2zaBEnlCN3ljpCtNmmWE7GQFCPR_a_8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1236448004",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{$now.toFormat(\"dd/MM/yyyy\")}}",
            "HORA": "={{$now.toFormat(\"HH:mm\")}}",
            "NOME": "={{ $json.body.NOME }}",
            "TELEFONE": "={{ $json.body.TELEFONE }}",
            "MATRÍCULA": "={{ $json.body.MATRICULA }}",
            "PROGRAMA DE SAÚDE": "={{ $json.body['PROGRAMA DE SAÚDE'] }}",
            "EMPRESA": "={{ $json.body.EMPRESA }}",
            "SEMANAS": "={{ $json.body.SEMANAS }}",
            "TIPO DE PARTO": "={{ $json.body['TIPO DE PARTO'] }}",
            "SEXO": "={{ $json.body.SEXO }}",
            "NOME DA CRIANÇA": "={{ $json.body['NOME DA CRIANÇA'] }}",
            "INTERCORRENCIA NO PARTO": "={{ $json.body['INTERCORRENCIA NO PARTO'] }}",
            "PESO E ALTURA BEBE": "={{ $json.body['PESO E ALTURA BEBE'] }}",
            "DIAS/MESES BEBÊ": "={{ $json.body['DIAS/MESES BEBÊ'] }}",
            "ALEITAMENTO": "={{ $json.body.ALEITAMENTO }}",
            "MEDICAMENTO/VITAMINA": "={{ $json[\"body\"][\"MEDICAMENTO/VITAMINA\"] }}",
            "VACINAÇÃO": "={{ $json[\"body\"][\"VACINAÇÃO\"] }}",
            "FREQUENCIA PEDIATRA": "={{ $json.body['FREQUENCIA PEDIATRA'] }}",
            "OUTRO ESPECIALISTA": "={{ $json.body['OUTRO ESPECIALISTA'] }}",
            "DIAGNOSTICO CRONICO": "={{ $json.body['DIAGNOSTICO CRONICO'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MATRÍCULA",
              "displayName": "MATRÍCULA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROGRAMA DE SAÚDE",
              "displayName": "PROGRAMA DE SAÚDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMPRESA",
              "displayName": "EMPRESA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEMANAS",
              "displayName": "SEMANAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE PARTO",
              "displayName": "TIPO DE PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME DA CRIANÇA",
              "displayName": "NOME DA CRIANÇA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INTERCORRENCIA NO PARTO",
              "displayName": "INTERCORRENCIA NO PARTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PESO E ALTURA BEBE",
              "displayName": "PESO E ALTURA BEBE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAS/MESES BEBÊ",
              "displayName": "DIAS/MESES BEBÊ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ALEITAMENTO",
              "displayName": "ALEITAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDICAMENTO/VITAMINA",
              "displayName": "MEDICAMENTO/VITAMINA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VACINAÇÃO",
              "displayName": "VACINAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FREQUENCIA PEDIATRA",
              "displayName": "FREQUENCIA PEDIATRA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OUTRO ESPECIALISTA",
              "displayName": "OUTRO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DIAGNOSTICO CRONICO",
              "displayName": "DIAGNOSTICO CRONICO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9ecfde39-bb52-4df9-97ee-0168a36d805a",
      "name": "puericultura 6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        1320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "732",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "a8263bee5ca946e9bd5588c58c335789-8cafdc52e2918a4d-0",
            "x-forwarded-for": "54.232.237.172",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96550bad8dd9",
            "x-real-ip": "54.232.237.172"
          },
          "params": {},
          "query": {},
          "body": {
            "NOME": "{nome-completo}",
            "TELEFONE": "{telefone}",
            "MATRICULA": "{MATRICULA}",
            "PROGRAMA DE SAÚDE": "{PSAUDE}",
            "EMPRESA": "{EMPRESA}",
            "SEMANAS": "{P-SEMANAS PARTO}",
            "TIPO DE PARTO": "{G-TIPO DE PARTO}",
            "SEXO": "{G-SEXO}",
            "NOME DA CRIANÇA": "{P-NOME BEBÊ}",
            "INTERCORRENCIA NO PARTO": "{P-INTERCORR. PARTO}",
            "PESO E ALTURA BEBE": "{P-PESO ALTURA BB}",
            "DIAS/MESES BEBÊ": "{P-DIAS/MESES DE VIDA}",
            "ALEITAMENTO": "{P-ALEITAMENTO}",
            "MEDICAMENTO/VITAMINA": "{P-MEDICAÇÃO/VITAMINA}",
            "VACINAÇÃO": "{P-VACINAÇÃO}",
            "FREQUENCIA PEDIATRA": "{P-FREQ-PEDIATRA}",
            "OUTRO ESPECIALISTA": "{P-OUTRO-ESPECIALISTA}",
            "DIAGNOSTICO CRONICO": "{P-DIAGNOSTICO-CRONIC}",
            "ABA": "6"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-27T15:35:22.000Z",
  "versionId": "8eb6591e-85a9-4fca-9778-c220f4f459ba"
}