workflows/Recebendo dados asaas.json
{
  "active": true,
  "connections": {
    "Data Vencimento": {
      "main": [
        [
          {
            "node": "data -5D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -1D": {
      "main": [
        [
          {
            "node": "data -1D format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -5D": {
      "main": [
        [
          {
            "node": "data -5D format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -5D format": {
      "main": [
        [
          {
            "node": "data -1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -1D format": {
      "main": [
        [
          {
            "node": "buscar informações do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definindo Valores": {
      "main": [
        [
          {
            "node": "cobrança recebida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definindo Valores em Branco": {
      "main": [
        [
          {
            "node": "Atualizando Cobrança Deletada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagamento Deletado?": {
      "main": [
        [
          {
            "node": "Data Vencimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Definindo Valores em Branco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Pagamento Deletado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CARTAO DE CRÉDITO-CONFIRMADO": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Cliente Novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cobrança recebida?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CARTAO DE CRÉDITO-CONFIRMADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Novo": {
      "main": [
        [
          {
            "node": "buscando dados assinatura asaas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar fluxo cobranca recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscando dados assinatura asaas": {
      "main": [
        [
          {
            "node": "Atualizando descricao assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizando descricao assinatura": {
      "main": [
        [
          {
            "node": "com simulador?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "definindo telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone3": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone2": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "Definindo Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "com simulador?": {
      "main": [
        [
          {
            "node": "inserir tag simulador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar fluxo cliente novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inserir tag simulador": {
      "main": [
        [
          {
            "node": "enviar fluxo cliente novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "com simulador?1": {
      "main": [
        [
          {
            "node": "inserir tag simulador1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar fluxo cobranca recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inserir tag simulador1": {
      "main": [
        [
          {
            "node": "enviar fluxo cobranca recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-22T18:45:17.269Z",
  "id": "4zjYFMHe8X8ZOSui",
  "meta": null,
  "name": "Recebendo dados asaas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebendo-dados-asaas11",
        "options": {}
      },
      "id": "4496b6d5-f278-4f57-9980-0423ef5e9b9a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "webhookId": "88dbb469-d25f-4afa-9897-8f18ca96bebe"
    },
    {
      "parameters": {
        "value": "={{$json[\"body\"][\"payment\"][\"dueDate\"]}}",
        "dataPropertyName": "DataVencimento",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "Data Vencimento",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1080,
        700
      ],
      "id": "715f8402-b745-4bd2-92de-71f3f5a1d497"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$json[\"DataVencimento\"]}}",
        "operation": "subtract",
        "duration": 1,
        "dataPropertyName": "data-1D",
        "options": {
          "fromFormat": "DD/MM/YYYY"
        }
      },
      "name": "data -1D",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1700,
        700
      ],
      "id": "cefdd4a3-c2d2-43dc-a4c2-df9bf000479e"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$json[\"DataVencimento\"]}}",
        "operation": "subtract",
        "duration": 5,
        "dataPropertyName": "data-5D",
        "options": {
          "fromFormat": "DD/MM/YYYY"
        }
      },
      "name": "data -5D",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1300,
        700
      ],
      "id": "09559dd8-34f0-4245-ad3c-bb4bae136978"
    },
    {
      "parameters": {
        "value": "={{$json[\"data-5D\"]}}",
        "dataPropertyName": "data-5D",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "data -5D format",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1500,
        700
      ],
      "id": "bef12329-1402-4117-aa87-20dc9f41a170"
    },
    {
      "parameters": {
        "value": "={{$json[\"data-1D\"]}}",
        "dataPropertyName": "data-1D",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "data -1D format",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1900,
        700
      ],
      "id": "19f6e06b-7c3e-4b02-9c37-bbde1b27117e"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"name\"]}}"
            },
            {
              "name": "Telefone",
              "value": "={{$json[\"phone\"]}}"
            },
            {
              "name": "Data Vencimento",
              "value": "={{$node[\"data -5D format\"].json[\"DataVencimento\"]}}"
            },
            {
              "name": "Lembrete - 5D",
              "value": "={{$node[\"data -5D format\"].json[\"data-5D\"]}}"
            },
            {
              "name": "ID cliente",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"id\"]}}"
            },
            {
              "name": "ID cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"id\"]}}"
            },
            {
              "name": "Status",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"status\"]}}"
            },
            {
              "name": "Valor",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"value\"]}}"
            },
            {
              "name": "Evento",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"event\"]}}"
            },
            {
              "name": "Lembrete - 1D",
              "value": "={{$node[\"data -1D format\"].json[\"data-1D\"]}}"
            },
            {
              "name": "ID BC",
              "value": "={{$json[\"id\"]}}"
            },
            {
              "name": "Link de Cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"invoiceUrl\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Definindo Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3620,
        700
      ],
      "id": "6c6b7d08-7ec7-4758-9afb-382115ee6c2c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Telefone",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Data Vencimento",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Lembrete - 5D",
              "value": "=❌ DELETADO"
            },
            {
              "name": "ID cliente",
              "value": "=❌ DELETADO"
            },
            {
              "name": "ID cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"id\"]}}"
            },
            {
              "name": "Status",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Valor",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Evento",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Lembrete - 1D",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Check - Vencimento",
              "value": "❌ DELETADO"
            },
            {
              "name": "Check - 1D",
              "value": "❌ DELETADO"
            },
            {
              "name": "Check - 5D",
              "value": "❌ DELETADO"
            }
          ]
        },
        "options": {}
      },
      "name": "Definindo Valores em Branco",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1080,
        880
      ],
      "id": "69492bc3-be96-442d-becc-c7aa0b170b79"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook1\"].json[\"body\"][\"event\"]}}",
              "operation": "notEqual",
              "value2": "PAYMENT_DELETED"
            }
          ]
        }
      },
      "id": "0a560215-1ab9-44a7-9da5-e5a884c5eff5",
      "name": "Pagamento Deletado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        800
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "1yr_3OkWvD_BzbRqR7vfRgB9xucENvuKRgHsPzSZVbcY",
        "range": "A:AA",
        "key": "ID cobrança",
        "options": {}
      },
      "name": "Atualizando Cobrança Deletada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1300,
        880
      ],
      "id": "a704efbc-b289-4ce0-ae6c-b45eadc20d99",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE",
          "mode": "list",
          "cachedResultName": "Asaas - Maya RJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cobranças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID BC": "={{ $json['ID BC'] }}",
            "Nome": "={{ $json.Nome }}",
            "Telefone": "={{ $json.Telefone }}",
            "ID cliente": "={{ $json['ID cliente'] }}",
            "ID cobrança": "={{ $json['ID cobrança'] }}",
            "Link de Cobrança": "={{ $json['Link de Cobrança'] }}",
            "Valor": "={{ $json.Valor }}",
            "Status": "={{ $json.Status }}",
            "Evento": "={{ $json.Evento }}",
            "Data Vencimento": "={{ $('data -1D format').item.json.DataVencimento }}",
            "Lembrete - 5D": "={{ $('data -1D format').item.json['data-5D'] }}",
            "Lembrete - 1D": "={{ $('data -1D format').item.json['data-1D'] }}"
          },
          "matchingColumns": [
            "ID cobrança"
          ],
          "schema": [
            {
              "id": "ID cliente",
              "displayName": "ID cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID cobrança",
              "displayName": "ID cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID BC",
              "displayName": "ID BC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link de Cobrança",
              "displayName": "Link de Cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete - 5D",
              "displayName": "Lembrete - 5D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - 5D",
              "displayName": "Check - 5D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete - 1D",
              "displayName": "Lembrete - 1D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - 1D",
              "displayName": "Check - 1D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Vencimento",
              "displayName": "Data Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - Vencimento",
              "displayName": "Check - Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dias Atrasado",
              "displayName": "Dias Atrasado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Próxima Cobrança",
              "displayName": "Próxima Cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "347ecabb-9a26-4ad9-8c81-c6fd32a45fe6",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3600,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mE3Eh83aYMwpRDSp",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebendo-dados-asaas",
        "options": {}
      },
      "id": "30b9c43d-992f-47ac-96f4-4e755f62ab77",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        580,
        800
      ],
      "webhookId": "56118588-f8d0-4a5f-a22a-682e8515d095"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "value2": "CONFIRMED"
            },
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.billingType }}",
              "value2": "CREDIT_CARD"
            }
          ]
        }
      },
      "id": "91ab6a2f-7c23-4831-8cff-056c096f55f8",
      "name": "CARTAO DE CRÉDITO-CONFIRMADO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4080,
        760
      ]
    },
    {
      "parameters": {},
      "id": "7802d40a-84d6-466d-95db-90bf63be73e3",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4300,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "value2": "RECEIVED"
            }
          ]
        }
      },
      "id": "65854fdf-d531-4396-a459-c8b4a95a08ee",
      "name": "cobrança recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3860,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.description }}",
              "operation": "contains",
              "value2": "ADESAO"
            }
          ]
        }
      },
      "id": "40955bf2-d53f-437b-b663-736a51552634",
      "name": "Cliente Novo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4520,
        600
      ]
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $('Webhook1').item.json[\"body\"][\"payment\"][\"subscription\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c549f4b4-488d-403d-8240-7b1ab99194b5",
      "name": "buscando dados assinatura asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4860,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "={{ $json.billingType }}"
            },
            {
              "name": "cycle",
              "value": "={{ $json.cycle }}"
            },
            {
              "name": "value",
              "value": "={{ $json.value }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $json.nextDueDate }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description.replace(\" (ADESAO)\",\"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8d4cb81-7ad6-4995-b5f7-131073165270",
      "name": "Atualizando descricao assinatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5100,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "581062"
            }
          ]
        },
        "options": {}
      },
      "id": "1d10676a-4639-4e62-8e40-1c4893414ac9",
      "name": "enviar fluxo cliente novo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5820,
        540
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aaf44c1b-78f3-407b-9b8d-aadea750b5d1",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2320,
        700
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "33e2d7f6-233e-4329-a500-d04cffbf8319",
      "name": "definindo telefone2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2580,
        620
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c488bbf9-fe8a-4689-a99e-4f4badff9f71",
      "name": "definindo telefone3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2580,
        780
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.telefone }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6cab971-3fd1-4db4-80b3-392eb08f2fe0",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        2940,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "cb8ce9f1-1b9b-4ee5-8846-2599d7d79ab9",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3180,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$json[\"whatsapp\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3400,
        700
      ],
      "id": "edf1dcf0-a910-4de4-b0b8-16b9d32d1c20",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "1658862"
            }
          ]
        },
        "options": {}
      },
      "id": "f733058e-28ec-4c1b-ab85-1342d9d02d03",
      "name": "enviar fluxo cobranca recebida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5420,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{$json[\"body\"][\"payment\"][\"customer\"]}}",
        "options": {}
      },
      "name": "buscar informações do cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2100,
        700
      ],
      "id": "5615fdf9-6dce-44d4-9050-dea2d722557a",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Va5qrgh0YRss7hJN",
          "name": "Asaas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.description }}",
              "operation": "contains",
              "value2": "Simulador"
            }
          ]
        }
      },
      "id": "e829fc5b-4aeb-4ce5-a99f-829c4f24d223",
      "name": "com simulador?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5320,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/tags/7052549/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1471ef70-a8e0-4edc-a71f-1bbab6646a47",
      "name": "inserir tag simulador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5560,
        440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.description }}",
              "operation": "contains",
              "value2": "Simulador"
            }
          ]
        }
      },
      "id": "b61369f7-4690-46e6-baf0-c6e562b7c7e9",
      "name": "com simulador?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4780,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/tags/7052549/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "189979a6-cdd1-4e96-92ce-ae40288634c1",
      "name": "inserir tag simulador1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5040,
        1300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1790317/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('buscar assinatura cliente').item.json.data[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9505dcd-031b-4f1f-a7c4-fa593d0d0ac7",
      "name": "salvando id assinatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6140,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400817/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('atualizar').item.json.cpfCnpj }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea232672-050e-46db-9af1-532253f27315",
      "name": "salvando CPF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6140,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400824/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('atualizar').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f47b345-b5b1-4d20-8fb0-2be4def4f44b",
      "name": "salvando ID Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6140,
        620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/400824/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('buscar assinatura cliente').item.json[\"data\"][0][\"cycle\"].replace(\"MONTHLY\",\"mensal\").replace(\"SEMIANNUALLY\",\"semestral\").replace(\"YEARLY\",\"anual\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb38cf27-bb9e-4f91-9de5-33905dec6a4f",
      "name": "salvando tipo plano",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6140,
        780
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "pCMjftibfRSpRtqc",
          "name": "BC - Maya"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1270",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "newrelic": "eyJkIjp7ImFjIjoiNjE0MTE2IiwicHIiOjAuNTI1NzQ2LCJ0eCI6ImFlZjM3ODQxODQxMDJmOGMiLCJ0aSI6MTY5MTAxMzA5MDEwMCwidHkiOiJBcHAiLCJpZCI6IjQzNjc3ZmFlYTVkODgyMzgiLCJ0ciI6IjgyZjQ1M2E3YmMxM2JiYWMxNjFhZjkyNTQ0ZGRiNzkzIiwic2EiOmZhbHNlLCJhcCI6IjU3ODE0MDg4OCJ9LCJ2IjpbMCwxXX0=",
            "pragma": "no-cache",
            "traceparent": "00-82f453a7bc13bbac161af92544ddb793-43677faea5d88238-00",
            "tracestate": "614116@nr=0-0-614116-578140888-80435a0c581b27fa-aef3784184102f8c-0-0.525746-1691013085887",
            "x-forwarded-for": "52.67.12.206",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "eee596fa3054",
            "x-real-ip": "52.67.12.206"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "PAYMENT_RECEIVED",
            "payment": {
              "object": "payment",
              "id": "pay_2972890657476325",
              "dateCreated": "2023-06-27",
              "customer": "cus_000057835867",
              "subscription": "sub_B8oRG0r5fgEm",
              "paymentLink": null,
              "value": 25,
              "netValue": 23.01,
              "originalValue": null,
              "interestValue": null,
              "description": "Assinatura Maya - Plano Mensal",
              "billingType": "PIX",
              "confirmedDate": "2023-07-30",
              "pixTransaction": "cd424731-8d4f-42f1-a88e-a8d6a2c1d49b",
              "pixQrCodeId": "SAUDECARIOCA00000000000107508335ASA",
              "status": "RECEIVED",
              "dueDate": "2023-07-27",
              "originalDueDate": "2023-07-27",
              "paymentDate": "2023-07-30",
              "clientPaymentDate": "2023-07-30",
              "installmentNumber": null,
              "invoiceUrl": "https://www.asaas.com/i/2972890657476325",
              "invoiceNumber": "226303024",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2023-07-30",
              "estimatedCreditDate": "2023-07-30",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8757392861814961",
              "nossoNumero": "146707677",
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2023-07-30T19:17:40Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 0,
                "type": "FIXED"
              },
              "interest": {
                "value": 0,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1270",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "newrelic": "eyJkIjp7ImFjIjoiNjE0MTE2IiwicHIiOjAuNTI1NzQ2LCJ0eCI6ImFlZjM3ODQxODQxMDJmOGMiLCJ0aSI6MTY5MTAxMzA5MDEwMCwidHkiOiJBcHAiLCJpZCI6IjQzNjc3ZmFlYTVkODgyMzgiLCJ0ciI6IjgyZjQ1M2E3YmMxM2JiYWMxNjFhZjkyNTQ0ZGRiNzkzIiwic2EiOmZhbHNlLCJhcCI6IjU3ODE0MDg4OCJ9LCJ2IjpbMCwxXX0=",
            "pragma": "no-cache",
            "traceparent": "00-82f453a7bc13bbac161af92544ddb793-43677faea5d88238-00",
            "tracestate": "614116@nr=0-0-614116-578140888-80435a0c581b27fa-aef3784184102f8c-0-0.525746-1691013085887",
            "x-forwarded-for": "52.67.12.206",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "eee596fa3054",
            "x-real-ip": "52.67.12.206"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "PAYMENT_RECEIVED",
            "payment": {
              "object": "payment",
              "id": "pay_2972890657476325",
              "dateCreated": "2023-06-27",
              "customer": "cus_000060627730",
              "subscription": "sub_ZVciNJqV23h4",
              "paymentLink": null,
              "value": 25,
              "netValue": 23.01,
              "originalValue": null,
              "interestValue": null,
              "description": "Assinatura Maya - Plano Mensal (ADESAO)",
              "billingType": "PIX",
              "confirmedDate": "2023-07-30",
              "pixTransaction": "cd424731-8d4f-42f1-a88e-a8d6a2c1d49b",
              "pixQrCodeId": "SAUDECARIOCA00000000000107508335ASA",
              "status": "RECEIVED",
              "dueDate": "2023-07-27",
              "originalDueDate": "2023-07-27",
              "paymentDate": "2023-07-30",
              "clientPaymentDate": "2023-07-30",
              "installmentNumber": null,
              "invoiceUrl": "https://www.asaas.com/i/2972890657476325",
              "invoiceNumber": "226303024",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2023-07-30",
              "estimatedCreditDate": "2023-07-30",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8757392861814961",
              "nossoNumero": "146707677",
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2023-07-30T19:17:40Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 0,
                "type": "FIXED"
              },
              "interest": {
                "value": 0,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2023-11-22T18:45:17.275Z",
      "updatedAt": "2023-11-22T18:45:17.275Z",
      "role": "workflow:owner",
      "workflowId": "4zjYFMHe8X8ZOSui",
      "projectId": "EhYksklXdTBsi26f",
      "project": {
        "createdAt": "2024-08-06T03:41:19.242Z",
        "updatedAt": "2024-08-06T03:41:19.242Z",
        "id": "EhYksklXdTBsi26f",
        "name": "Vinicius Fastinoni <bot.maya.n8n@gmail.com>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-08-06T03:41:19.242Z",
            "updatedAt": "2024-08-06T03:41:19.242Z",
            "role": "project:personalOwner",
            "userId": "31bebeed-1943-40c1-85cd-9ef49971170c",
            "projectId": "EhYksklXdTBsi26f",
            "user": {
              "createdAt": "2023-11-22T16:53:59.095Z",
              "updatedAt": "2023-11-29T02:49:32.000Z",
              "id": "31bebeed-1943-40c1-85cd-9ef49971170c",
              "email": "bot.maya.n8n@gmail.com",
              "firstName": "Vinicius",
              "lastName": "Fastinoni",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2023-11-22T17:09:31.234Z",
                "personalization_survey_n8n_version": "1.16.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "hR3fA4rAnKCuUwjJ",
                "userActivatedAt": 1722915679480
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-11-22T17:42:30.840Z",
      "updatedAt": "2023-11-22T17:42:30.840Z",
      "id": "0gOZgGnm1GKApPtB",
      "name": "Maya"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-07-09T14:55:41.000Z",
  "versionId": "73b5abe0-75a5-4f5d-a298-a022f75402c1"
}