workflows/Recebendo dados asaas.json
{
  "active": true,
  "connections": {
    "Data Vencimento": {
      "main": [
        [
          {
            "node": "data -5D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar informações do cliente": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -1D": {
      "main": [
        [
          {
            "node": "data -1D format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -5D": {
      "main": [
        [
          {
            "node": "data -5D format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -5D format": {
      "main": [
        [
          {
            "node": "data -1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data -1D format": {
      "main": [
        [
          {
            "node": "buscar informações do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definindo Valores": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definindo Valores em Branco": {
      "main": [
        [
          {
            "node": "Atualizando Cobrança Deletada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagamento Deletado?": {
      "main": [
        [
          {
            "node": "Data Vencimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Definindo Valores em Branco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "Definindo Valores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "cobrança recebida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Pagamento Deletado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CARTAO DE CRÉDITO-CONFIRMADO": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Cliente Novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cobrança recebida?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CARTAO DE CRÉDITO-CONFIRMADO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Novo": {
      "main": [
        [
          {
            "node": "buscando dados assinatura asaas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar fluxo cobranca recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscando dados assinatura asaas": {
      "main": [
        [
          {
            "node": "Atualizando descricao assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizando descricao assinatura": {
      "main": [
        [
          {
            "node": "enviar fluxo cliente novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "definindo telefone2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "definindo telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone3": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definindo telefone2": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-02T21:48:46.734Z",
  "id": "z4Y9H7lVNLQBtT0w",
  "name": "Recebendo dados asaas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebendo-dados-asaas11",
        "options": {}
      },
      "id": "e7d636cf-c010-498b-9e0f-25343d73621d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -220,
        40
      ],
      "webhookId": "88dbb469-d25f-4afa-9897-8f18ca96bebe"
    },
    {
      "parameters": {
        "value": "={{$json[\"body\"][\"payment\"][\"dueDate\"]}}",
        "dataPropertyName": "DataVencimento",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "Data Vencimento",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -140,
        320
      ],
      "id": "ce859470-d52f-4a03-bbd3-622194713f4e"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "=https://www.asaas.com/api/v3/customers/{{$json[\"body\"][\"payment\"][\"customer\"]}}",
        "options": {}
      },
      "name": "buscar informações do cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        880,
        320
      ],
      "id": "579b9ad8-be6e-4d01-b0d2-0c038444aabf",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$json[\"DataVencimento\"]}}",
        "operation": "subtract",
        "duration": 1,
        "dataPropertyName": "data-1D",
        "options": {
          "fromFormat": "DD/MM/YYYY"
        }
      },
      "name": "data -1D",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        480,
        320
      ],
      "id": "55cc4699-9dbd-4760-a24e-09abe1bc4c45"
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{$json[\"DataVencimento\"]}}",
        "operation": "subtract",
        "duration": 5,
        "dataPropertyName": "data-5D",
        "options": {
          "fromFormat": "DD/MM/YYYY"
        }
      },
      "name": "data -5D",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        80,
        320
      ],
      "id": "9559fbad-5b19-411b-b428-5607246501fb"
    },
    {
      "parameters": {
        "value": "={{$json[\"data-5D\"]}}",
        "dataPropertyName": "data-5D",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "data -5D format",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        280,
        320
      ],
      "id": "23b4f22d-8f4b-4c2b-b690-8b2ece05f7b8"
    },
    {
      "parameters": {
        "value": "={{$json[\"data-1D\"]}}",
        "dataPropertyName": "data-1D",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {}
      },
      "name": "data -1D format",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        680,
        320
      ],
      "id": "4827cc30-8f74-4731-806b-06b0d3bf84c1"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"name\"]}}"
            },
            {
              "name": "Telefone",
              "value": "={{$json[\"phone\"]}}"
            },
            {
              "name": "Data Vencimento",
              "value": "={{$node[\"data -5D format\"].json[\"DataVencimento\"]}}"
            },
            {
              "name": "Lembrete - 5D",
              "value": "={{$node[\"data -5D format\"].json[\"data-5D\"]}}"
            },
            {
              "name": "ID cliente",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"id\"]}}"
            },
            {
              "name": "ID cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"id\"]}}"
            },
            {
              "name": "Status",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"status\"]}}"
            },
            {
              "name": "Valor",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"value\"]}}"
            },
            {
              "name": "Evento",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"event\"]}}"
            },
            {
              "name": "Lembrete - 1D",
              "value": "={{$node[\"data -1D format\"].json[\"data-1D\"]}}"
            },
            {
              "name": "ID BC",
              "value": "={{$json[\"id\"]}}"
            },
            {
              "name": "Link de Cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"invoiceUrl\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Definindo Valores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2120,
        320
      ],
      "id": "bed2d9a7-9490-43bc-af01-8f399dfee91f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Telefone",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Data Vencimento",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Lembrete - 5D",
              "value": "=❌ DELETADO"
            },
            {
              "name": "ID cliente",
              "value": "=❌ DELETADO"
            },
            {
              "name": "ID cobrança",
              "value": "={{$node[\"Webhook1\"].json[\"body\"][\"payment\"][\"id\"]}}"
            },
            {
              "name": "Status",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Valor",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Evento",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Lembrete - 1D",
              "value": "=❌ DELETADO"
            },
            {
              "name": "Check - Vencimento",
              "value": "❌ DELETADO"
            },
            {
              "name": "Check - 1D",
              "value": "❌ DELETADO"
            },
            {
              "name": "Check - 5D",
              "value": "❌ DELETADO"
            }
          ]
        },
        "options": {}
      },
      "name": "Definindo Valores em Branco",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -140,
        500
      ],
      "id": "d3599da3-2785-4199-8c09-433632964169"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook1\"].json[\"body\"][\"event\"]}}",
              "operation": "notEqual",
              "value2": "PAYMENT_DELETED"
            }
          ]
        }
      },
      "id": "d975cfc6-14a4-483a-9117-8f8d3b14810a",
      "name": "Pagamento Deletado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -380,
        420
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "1yr_3OkWvD_BzbRqR7vfRgB9xucENvuKRgHsPzSZVbcY",
        "range": "A:AA",
        "key": "ID cobrança",
        "options": {}
      },
      "name": "Atualizando Cobrança Deletada",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        80,
        500
      ],
      "id": "70fce77a-15d1-4a14-91ca-f87e3b946274",
      "credentials": {
        "googleApi": {
          "id": "5",
          "name": "Google account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replaceAll(' ','').replaceAll('(','').replaceAll(')','').replaceAll('-','').replaceAll(',','').replaceAll('.','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.function",
      "position": [
        1700,
        320
      ],
      "typeVersion": 1,
      "id": "92bc70ff-69bb-4faa-a731-7c7566d8a739"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{$json[\"whatsapp\"]}}"
            },
            {
              "name": "first_name",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[0]}}"
            },
            {
              "name": "last_name",
              "value": "={{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[1]}} {{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[2]}} {{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[3]}} {{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[4]}} {{$node[\"buscar informações do cliente\"].json[\"name\"].split(' ')[5]}}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1920,
        320
      ],
      "id": "20a5e140-5cd7-4a1d-8804-6d8e5bc92bc9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1F04yrg6P1fiSSY",
          "name": "BC - Maya"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE",
          "mode": "list",
          "cachedResultName": "Asaas - Maya RJ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Cobranças",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13Mup5xq3HEWoDjZHd-gezA9Huw8AlwPrsSl9OtqLTyE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID BC": "={{ $json['ID BC'] }}",
            "Nome": "={{ $json.Nome }}",
            "Telefone": "={{ $json.Telefone }}",
            "ID cliente": "={{ $json['ID cliente'] }}",
            "ID cobrança": "={{ $json['ID cobrança'] }}",
            "Link de Cobrança": "={{ $json['Link de Cobrança'] }}",
            "Valor": "={{ $json.Valor }}",
            "Status": "={{ $json.Status }}",
            "Evento": "={{ $json.Evento }}",
            "Data Vencimento": "={{ $('data -1D format').item.json.DataVencimento }}",
            "Lembrete - 5D": "={{ $('data -1D format').item.json['data-5D'] }}",
            "Lembrete - 1D": "={{ $('data -1D format').item.json['data-1D'] }}"
          },
          "matchingColumns": [
            "ID cobrança"
          ],
          "schema": [
            {
              "id": "ID cliente",
              "displayName": "ID cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID cobrança",
              "displayName": "ID cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID BC",
              "displayName": "ID BC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link de Cobrança",
              "displayName": "Link de Cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Evento",
              "displayName": "Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete - 5D",
              "displayName": "Lembrete - 5D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - 5D",
              "displayName": "Check - 5D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete - 1D",
              "displayName": "Lembrete - 1D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - 1D",
              "displayName": "Check - 1D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Vencimento",
              "displayName": "Data Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check - Vencimento",
              "displayName": "Check - Vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dias Atrasado",
              "displayName": "Dias Atrasado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Próxima Cobrança",
              "displayName": "Próxima Cobrança",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6fab3eac-cea2-4dfa-b1d7-ee25d289d514",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2360,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lwN1WWTkm0Pq97WC",
          "name": "Maya"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebendo-dados-asaas",
        "options": {}
      },
      "id": "77c0c95e-23d5-49e0-8cf5-038372d9131e",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        420
      ],
      "webhookId": "56118588-f8d0-4a5f-a22a-682e8515d095"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "value2": "CONFIRMED"
            },
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.billingType }}",
              "value2": "CREDIT_CARD"
            }
          ]
        }
      },
      "id": "cd7279ec-a79d-4c05-a704-677acf767d45",
      "name": "CARTAO DE CRÉDITO-CONFIRMADO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2860,
        380
      ]
    },
    {
      "parameters": {},
      "id": "549cabd5-a013-4760-9fc5-2aa54f099405",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3080,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"Status\"]}}",
              "value2": "RECEIVED"
            }
          ]
        }
      },
      "id": "b77fb75a-8d9f-4e7e-bf36-fa043aed7bdd",
      "name": "cobrança recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "1658862"
            }
          ]
        },
        "options": {}
      },
      "id": "5aad93c7-2c4d-4d27-95c3-59aab6d62cfe",
      "name": "enviar fluxo cobranca recebida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3640,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1F04yrg6P1fiSSY",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook1').item.json.body.payment.description }}",
              "operation": "contains",
              "value2": "ADESAO"
            }
          ]
        }
      },
      "id": "6ef8d25f-c081-4a51-846e-b3c75f43d82f",
      "name": "Cliente Novo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3300,
        220
      ]
    },
    {
      "parameters": {
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $('Webhook1').item.json[\"body\"][\"payment\"][\"subscription\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0fcdef68-e35e-461f-b6d2-5b2b33bf25f6",
      "name": "buscando dados assinatura asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3640,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.asaas.com/api/v3/subscriptions/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "billingType",
              "value": "={{ $json.billingType }}"
            },
            {
              "name": "cycle",
              "value": "={{ $json.cycle }}"
            },
            {
              "name": "value",
              "value": "={{ $json.value }}"
            },
            {
              "name": "nextDueDate",
              "value": "={{ $json.nextDueDate }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description.replace(\" (ADESAO)\",\"\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07100d19-2421-4574-b878-caf97d4e1b14",
      "name": "Atualizando descricao assinatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3880,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ki7uXQCaX0ZIPpIH",
          "name": "Asaas - Maya"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('Cadastrando na Audiência').item.json[\"id\"] }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": "581062"
            }
          ]
        },
        "options": {}
      },
      "id": "f7ead904-ad9e-4110-935b-cb087be0308f",
      "name": "enviar fluxo cliente novo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4120,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1F04yrg6P1fiSSY",
          "name": "BC - Maya"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mobilePhone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "67bb9f0d-3ac0-40ec-a518-3c4a77359e76",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"mobilePhone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f74ce0a-9458-4bd2-9c0a-26034457e51a",
      "name": "definindo telefone2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "=telefone",
              "value": "={{$json[\"phone\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "226193f2-95dc-4613-a47a-93957d6acb42",
      "name": "definindo telefone3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        400
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1270",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "newrelic": "eyJkIjp7ImFjIjoiNjE0MTE2IiwicHIiOjAuNTI1NzQ2LCJ0eCI6ImFlZjM3ODQxODQxMDJmOGMiLCJ0aSI6MTY5MTAxMzA5MDEwMCwidHkiOiJBcHAiLCJpZCI6IjQzNjc3ZmFlYTVkODgyMzgiLCJ0ciI6IjgyZjQ1M2E3YmMxM2JiYWMxNjFhZjkyNTQ0ZGRiNzkzIiwic2EiOmZhbHNlLCJhcCI6IjU3ODE0MDg4OCJ9LCJ2IjpbMCwxXX0=",
            "pragma": "no-cache",
            "traceparent": "00-82f453a7bc13bbac161af92544ddb793-43677faea5d88238-00",
            "tracestate": "614116@nr=0-0-614116-578140888-80435a0c581b27fa-aef3784184102f8c-0-0.525746-1691013085887",
            "x-forwarded-for": "52.67.12.206",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "eee596fa3054",
            "x-real-ip": "52.67.12.206"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "PAYMENT_RECEIVED",
            "payment": {
              "object": "payment",
              "id": "pay_2972890657476325",
              "dateCreated": "2023-06-27",
              "customer": "cus_000057835867",
              "subscription": "sub_B8oRG0r5fgEm",
              "paymentLink": null,
              "value": 25,
              "netValue": 23.01,
              "originalValue": null,
              "interestValue": null,
              "description": "Assinatura Maya - Plano Mensal",
              "billingType": "PIX",
              "confirmedDate": "2023-07-30",
              "pixTransaction": "cd424731-8d4f-42f1-a88e-a8d6a2c1d49b",
              "pixQrCodeId": "SAUDECARIOCA00000000000107508335ASA",
              "status": "RECEIVED",
              "dueDate": "2023-07-27",
              "originalDueDate": "2023-07-27",
              "paymentDate": "2023-07-30",
              "clientPaymentDate": "2023-07-30",
              "installmentNumber": null,
              "invoiceUrl": "https://www.asaas.com/i/2972890657476325",
              "invoiceNumber": "226303024",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2023-07-30",
              "estimatedCreditDate": "2023-07-30",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8757392861814961",
              "nossoNumero": "146707677",
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2023-07-30T19:17:40Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 0,
                "type": "FIXED"
              },
              "interest": {
                "value": 0,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "Java/1.8.0_282",
            "content-length": "1270",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "newrelic": "eyJkIjp7ImFjIjoiNjE0MTE2IiwicHIiOjAuNTI1NzQ2LCJ0eCI6ImFlZjM3ODQxODQxMDJmOGMiLCJ0aSI6MTY5MTAxMzA5MDEwMCwidHkiOiJBcHAiLCJpZCI6IjQzNjc3ZmFlYTVkODgyMzgiLCJ0ciI6IjgyZjQ1M2E3YmMxM2JiYWMxNjFhZjkyNTQ0ZGRiNzkzIiwic2EiOmZhbHNlLCJhcCI6IjU3ODE0MDg4OCJ9LCJ2IjpbMCwxXX0=",
            "pragma": "no-cache",
            "traceparent": "00-82f453a7bc13bbac161af92544ddb793-43677faea5d88238-00",
            "tracestate": "614116@nr=0-0-614116-578140888-80435a0c581b27fa-aef3784184102f8c-0-0.525746-1691013085887",
            "x-forwarded-for": "52.67.12.206",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "eee596fa3054",
            "x-real-ip": "52.67.12.206"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "PAYMENT_RECEIVED",
            "payment": {
              "object": "payment",
              "id": "pay_2972890657476325",
              "dateCreated": "2023-06-27",
              "customer": "cus_000060627730",
              "subscription": "sub_ZVciNJqV23h4",
              "paymentLink": null,
              "value": 25,
              "netValue": 23.01,
              "originalValue": null,
              "interestValue": null,
              "description": "Assinatura Maya - Plano Mensal (ADESAO)",
              "billingType": "PIX",
              "confirmedDate": "2023-07-30",
              "pixTransaction": "cd424731-8d4f-42f1-a88e-a8d6a2c1d49b",
              "pixQrCodeId": "SAUDECARIOCA00000000000107508335ASA",
              "status": "RECEIVED",
              "dueDate": "2023-07-27",
              "originalDueDate": "2023-07-27",
              "paymentDate": "2023-07-30",
              "clientPaymentDate": "2023-07-30",
              "installmentNumber": null,
              "invoiceUrl": "https://www.asaas.com/i/2972890657476325",
              "invoiceNumber": "226303024",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2023-07-30",
              "estimatedCreditDate": "2023-07-30",
              "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8757392861814961",
              "nossoNumero": "146707677",
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": "2023-07-30T19:17:40Z",
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 0,
                "type": "FIXED"
              },
              "interest": {
                "value": 0,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "custody": null,
              "refunds": null
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "WVFbq3skbZP8DMK0",
      "createdAt": "2023-08-11T02:32:29.267Z",
      "updatedAt": "2023-08-11T02:32:29.267Z",
      "name": "Maya"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2023-08-11T02:33:50.000Z",
  "versionId": "b2d0ff56-dd3a-4aae-8551-bcb2353c636f"
}