workflows/Sebastian.json
{
  "active": true,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrando na Audiência": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "Cadastrando na Audiência",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar fluxo": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone vazio": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "telefone vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-05T23:14:31.367Z",
  "id": "4FZXeczPXpD1WPDZ",
  "meta": null,
  "name": "Sebastian",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONE FORMATADO",
              "lookupValue": "={{ $json.body.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d012b1f1-848c-4e3d-a8a8-5d36e121dd29",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        1100
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 5,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI",
          "mode": "list",
          "cachedResultName": "BOT-SEBASTIAN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 482129188,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188"
        },
        "options": {
          "columnsToWatch": [
            "NOME"
          ]
        }
      },
      "id": "a3e2a573-46d3-4318-ba97-71e61c056d60",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        520,
        640
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hzggfIVge1lSLJ6h",
          "name": "bot.maya.n8n@gmail.com trigger"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "8fcfdcf7-b230-4d49-bc93-4cfb8502dc32",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1040,
        660
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $('Split In Batches').item.json.TELEFONE }}",
            "TELEFONE FORMATADO": "={{ $json.whatsapp }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "TELEFONE FORMATADO",
              "displayName": "TELEFONE FORMATADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Split In Batches').item.json.row_number }}"
            }
          }
        }
      },
      "id": "32e8c1ca-4ab7-4bb9-8d7e-89bacb17b9f0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://conectawebhook.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1760,
        760
      ],
      "id": "16ed68c1-58a5-4ada-bb9d-853231434903",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "EnweQS0a3c3jn7qF",
          "name": "BC - SEBASTIAN"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.TELEFONE.toString() }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.NOME }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd43cc5f-fa3f-475a-8b1f-ea81c21710ca",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "6e755cfb-604b-493f-946d-1219fa14d0ec",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1480,
        660
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://conectawebhook.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/send_flow/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "flow",
              "value": "=206746"
            }
          ]
        }
      },
      "name": "enviar fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2020,
        1000
      ],
      "id": "fea4dd41-aaff-4465-b6d5-fb23537552fc",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "EnweQS0a3c3jn7qF",
          "name": "BC - SEBASTIAN"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "15ff5acb-161f-4ea2-9555-f376dcc78ae8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2240,
        760
      ],
      "webhookId": "763706e1-86cf-4a99-a046-0a4e24a49f49"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['TELEFONE FORMATADO'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0f079c9b-f879-42da-b41b-6481706ed98b",
      "name": "telefone vazio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        640
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188",
          "mode": "url",
          "__regex": "https:\\/\\/docs\\.google\\.com/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+\\/edit\\#gid=([0-9]+)"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "id": "b9bf2be6-ff45-4330-8cbb-d43c0caf7ce8",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1060,
        980
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFIUWkQVHedOmWGn",
          "name": "bot.maya.n8n@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verificar-planilha-sebastian",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6a4cf46e-8bdc-4169-afcb-ff894fc47eb7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        520,
        1100
      ],
      "webhookId": "a56a899b-2440-4cd0-9270-2d63a8de173c"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI",
          "mode": "list",
          "cachedResultName": "BOT-SEBASTIAN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 482129188,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI/edit#gid=482129188"
        },
        "options": {
          "columnsToWatch": []
        }
      },
      "id": "d185a353-abdc-4b2d-b1f8-7fa9d4554da5",
      "name": "Google Sheets Trigger1",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        220,
        860
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hzggfIVge1lSLJ6h",
          "name": "bot.maya.n8n@gmail.com trigger"
        }
      }
    }
  ],
  "pinData": {
    "Google Sheets Trigger": [
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998566186",
          "TELEFONE": 21998566186,
          "NOME": "ANDRE TAVARES DE MIRANDA ALVES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970325770",
          "TELEFONE": 21970325770,
          "NOME": "THALES LUIZ DOS SANTOS SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981413501",
          "TELEFONE": 21981413501,
          "NOME": "MARCELO SANTOS FERREIRA JUNIOR"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967634033",
          "TELEFONE": 21967634033,
          "NOME": "COSME CLAUDIO SOUZA DOS SANTOS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521972979158",
          "TELEFONE": 21972979158,
          "NOME": "BRUNO PEREIRA SABINO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967634033",
          "TELEFONE": 21967634033,
          "NOME": "VALTER PEDRO DOS SANTOS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996236125",
          "TELEFONE": 21996236125,
          "NOME": "ALEXANDRE AZEVEDO CAVALCANTE"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981578271",
          "TELEFONE": 21981578271,
          "NOME": "RENATA CAVALIERI TEIXEIRA DE ARAUJO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521959076257",
          "TELEFONE": 21959076257,
          "NOME": "NIZETE LEMOS DE PAULA BARROS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964422666",
          "TELEFONE": 21964422666,
          "NOME": "ELIEZER RODRIGUES DE SOUZA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983767146",
          "TELEFONE": 21983767146,
          "NOME": "ROBSON DOS SANTOS MOREIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983486893",
          "TELEFONE": 21983486893,
          "NOME": "Joana Águeda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5522997484390",
          "TELEFONE": 22997484390,
          "NOME": "Wagner Willians Gonçalves Bizzo da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521968891035",
          "TELEFONE": 21968891035,
          "NOME": "Heverton Soares da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971681962",
          "TELEFONE": 21971681962,
          "NOME": "CARLOS ANTONIO COELHO DE CARVALHO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988644850",
          "TELEFONE": 21988644850,
          "NOME": "CRISTIANO NOGUEIRA DA COSTA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983968346",
          "TELEFONE": 21983968346,
          "NOME": "Rodrigo de Paiva Borges de Araújo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996960671",
          "TELEFONE": 21996960671,
          "NOME": "Ana Beatriz Soares Barbosa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971045538",
          "TELEFONE": " 21971045538",
          "NOME": "Gilvan Fernandes da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992767737",
          "TELEFONE": 21992767737,
          "NOME": "GABRIEL NOIA DE FIGUEREDO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965251589",
          "TELEFONE": 21965251589,
          "NOME": "Willian da Silva baldez Rodrigues"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970359002",
          "TELEFONE": 21970359002,
          "NOME": "CARLA JUCÁ"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980101628",
          "TELEFONE": 21980101628,
          "NOME": "Flavia Coelho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998321594",
          "TELEFONE": 21998321594,
          "NOME": "Karen"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979923442",
          "TELEFONE": 21979923442,
          "NOME": "Leni Macena"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975379757",
          "TELEFONE": 21975379757,
          "NOME": "Aline Demétrio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964360833",
          "TELEFONE": 21964360833,
          "NOME": "MICHELE PINHEIRO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983296385",
          "TELEFONE": 21983296385,
          "NOME": "Dalva Magalhães"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981191506",
          "TELEFONE": 21981191506,
          "NOME": "Jarbas Mesquita"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981356958",
          "TELEFONE": 21981356958,
          "NOME": "Daniel Carvalho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981431904",
          "TELEFONE": 21981431904,
          "NOME": "JULIANA VIEIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965500925",
          "TELEFONE": 21965500925,
          "NOME": "CAROLINE MENESES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996442755",
          "TELEFONE": 21996442755,
          "NOME": "RACHEL PACHECO FERNANDES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979473190",
          "TELEFONE": 21979473190,
          "NOME": "NAILIL KAROLINE BITTENCOURT DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984569787",
          "TELEFONE": 21984569787,
          "NOME": "JOSE VICENTE CAVALCANTE MAIA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521986502204",
          "TELEFONE": 21986502204,
          "NOME": "ELAINEDELE MOSRESSOL DE VARGAS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521977300486",
          "TELEFONE": 21977300486,
          "NOME": "CRISTIANA BATISTA SANTOS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521985317245",
          "TELEFONE": 21985317245,
          "NOME": "EVERTON GOMES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991819110",
          "TELEFONE": 21991819110,
          "NOME": "ANDRÉA FARAF JANSEN GONÇALVES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967717693",
          "TELEFONE": 21967717693,
          "NOME": "GABRIELA MARIA GONÇALVES DE CARVALHO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992013248",
          "TELEFONE": 21992013248,
          "NOME": "BARBARA RAMIRO LOPES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521982867844",
          "TELEFONE": 21982867844,
          "NOME": "JANETAN NUSNES SIMIAN"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967152317",
          "TELEFONE": 21967152317,
          "NOME": "CLAUDIA CETALE GOMES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967315169",
          "TELEFONE": 21967315169,
          "NOME": "IZABEL CHRISTINA BEZERRA GOMES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521982431947",
          "TELEFONE": 21982431947,
          "NOME": "BARBARA RODRIGUES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974809898",
          "TELEFONE": 21974809898,
          "NOME": "LILIAN MINEIRO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521977865489",
          "TELEFONE": 21977865489,
          "NOME": "RODRIGO COUTO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995603105",
          "TELEFONE": 21995603105,
          "NOME": "JESSICA MAGUELLI GUIMARAES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998975889",
          "TELEFONE": 21998975889,
          "NOME": "NORMA SUELI TAVARES PAIVA "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979139910",
          "TELEFONE": 21979139910,
          "NOME": " Wanderson Ferreira da Silva "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981456068",
          "TELEFONE": 21981456068,
          "NOME": "Élio Monteiro da Silva Linhares "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521987477972",
          "TELEFONE": 21987477972,
          "NOME": "Eduardo Fernandes Molina"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984992980",
          "TELEFONE": 21984992980,
          "NOME": " ALINE PIRES DE ABREU"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999643998",
          "TELEFONE": 21999643998,
          "NOME": " Rosely Soares de Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970308678",
          "TELEFONE": 21970308678,
          "NOME": "Marco Aurelio dos Santos "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975519262",
          "TELEFONE": 21975519262,
          "NOME": "Yuri Malheiros Alves Penha"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975917978",
          "TELEFONE": 21975917978,
          "NOME": "Vivian Costa Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984008933",
          "TELEFONE": 21984008933,
          "NOME": "Vanessa Maria de Souza Pinto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999735671",
          "TELEFONE": 21999735671,
          "NOME": " Nadia Regina Ribeiro Nogueira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964780465",
          "TELEFONE": 21964780465,
          "NOME": "Marcos Paulo de Oliveira Ferrari "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981732137",
          "TELEFONE": 21981732137,
          "NOME": "Andrea Vieira Dias Pinto Aleixo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521987943350",
          "TELEFONE": 21987943350,
          "NOME": "Keila souza da silva "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970249999",
          "TELEFONE": 21970249999,
          "NOME": "ALESSANDRA GOMES GUIMARAES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970806007",
          "TELEFONE": 21970806007,
          "NOME": "BRANDON GUIMARAES FERREIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964788019",
          "TELEFONE": 21964788019,
          "NOME": "JACQUELINE QUIARES DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521990732892",
          "TELEFONE": 21990732892,
          "NOME": "Barbara de Sant'ana bastos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996903691",
          "TELEFONE": 21996903691,
          "NOME": "Flávio Bruno Rio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980941159",
          "TELEFONE": 21980941159,
          "NOME": "BRUNO LODUCA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998601462",
          "TELEFONE": 21998601462,
          "NOME": "JANEIDE MARIANO DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994156532",
          "TELEFONE": 21994156532,
          "NOME": "JEFTE DE SOUZA SANTOS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998935055",
          "TELEFONE": 21998935055,
          "NOME": "ANTONIA AUXILIADORA DAMASCENO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521987023607",
          "TELEFONE": 21987023607,
          "NOME": "MAURICIO GOMES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996224841",
          "TELEFONE": 21996224841,
          "NOME": "JOSE ARTUR PEREIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5524992161026",
          "TELEFONE": "24992161026",
          "NOME": "Alan Tavares"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5524998840878",
          "TELEFONE": "24 99884-0878",
          "NOME": "Raquel Reis"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521990055252",
          "TELEFONE": 21990055252,
          "NOME": "ANDREIA FERNANDES REIS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964367946",
          "TELEFONE": 21964367946,
          "NOME": "DEBORA CANDIDO DE OLIVEIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5524992161026",
          "TELEFONE": 24992161026,
          "NOME": "ALAN TAVARES FILGUEIRAS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5524998840878",
          "TELEFONE": 24998840878,
          "NOME": "ALAN TAVARES FILGUEIRAS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970338686",
          "TELEFONE": 21970338686,
          "NOME": "Raissa Messner "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991458144",
          "TELEFONE": 21991458144,
          "NOME": "MARIA RODRIGUES DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970206606",
          "TELEFONE": 21970206606,
          "NOME": "Ana Maria Trindade"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991895195",
          "TELEFONE": 21991895195,
          "NOME": "aline teixeira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991490962",
          "TELEFONE": 21991490962,
          "NOME": "NATHALIA ESTEVES LOUREIRO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964780396",
          "TELEFONE": 21964780396,
          "NOME": "JAQUELINE FERREIRA MELO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970351992",
          "TELEFONE": 21970351992,
          "NOME": "Daniel Artulano "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521993575157",
          "TELEFONE": 21993575157,
          "NOME": "JESSICA BONFIM LOPES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991643079",
          "TELEFONE": 21991643079,
          "NOME": "JESSICA BONFIM LOPES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964400176",
          "TELEFONE": 21964400176,
          "NOME": "CARLOS JOSE RODRIGUES CARDOSO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964611024",
          "TELEFONE": " 21 96461-1024",
          "NOME": "Priscila Moreira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994504242",
          "TELEFONE": "(21)99450-4242",
          "NOME": "Felipe de Souza da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983152789",
          "TELEFONE": 21983152789,
          "NOME": "Cleiton teles de Amorim da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999619804",
          "TELEFONE": "21 99961-9804",
          "NOME": "Carla Gomes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521972846952",
          "TELEFONE": "2197284-6952",
          "NOME": "Luciana Cardoso"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981732035",
          "TELEFONE": 21981732035,
          "NOME": "LENON JONES RIBEIRO FURTADO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984677550",
          "TELEFONE": 21984677550,
          "NOME": "Vanessa Rubem"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984075218",
          "TELEFONE": 21984075218,
          "NOME": "MICHEL PAIM"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997212000",
          "TELEFONE": 21997212000,
          "NOME": "Luciane Mary da Silva Fernandes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964115060",
          "TELEFONE": 21964115060,
          "NOME": "ÉRICA VIEIRA DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974715050",
          "TELEFONE": 21974715050,
          "NOME": "MARCIA CRISTINA DAHER"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521968506133",
          "TELEFONE": "21 96850-6133",
          "NOME": "THAYNA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983964172",
          "TELEFONE": "21 98396-4172",
          "NOME": "Jack"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521968559338",
          "TELEFONE": "21 96855-9338",
          "NOME": "Pamela"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999998252",
          "TELEFONE": "21 99999-8252",
          "NOME": "Ronaldo De Carvalho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981072422",
          "TELEFONE": "21981072422",
          "NOME": "André Fernandes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969789215",
          "TELEFONE": "21969789215",
          "NOME": "SHEILA REZENDE DA SILVA BASILIO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998847726",
          "TELEFONE": "21998847726",
          "NOME": "Rosana Souza dos Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521976386031",
          "TELEFONE": "2197638-6031",
          "NOME": "Charles Pereira da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969143882",
          "TELEFONE": "21969143882",
          "NOME": "Jaqueline de Figueiredo Ramos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521990055252",
          "TELEFONE": "21 99005-5252",
          "NOME": "Andreia Fernandes Reis"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983323535",
          "TELEFONE": "21 98332-3535",
          "NOME": "Sidney"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997855500",
          "TELEFONE": "21 99785-5500",
          "NOME": "Mary Titonelli"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521966147096",
          "TELEFONE": "21 96614-7096",
          "NOME": "Joelma Rufino Machado Porto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980400293",
          "TELEFONE": "21 98040-0293",
          "NOME": "Giseli"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995403129",
          "TELEFONE": "21 99540-3129",
          "NOME": "Giovana"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974811529",
          "TELEFONE": "21974811529",
          "NOME": "Vanessa Cristina Da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979535195",
          "TELEFONE": "21 97953-5195",
          "NOME": "Aline da Silva Cardoso dos Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975933568",
          "TELEFONE": "21 97593-3568",
          "NOME": "Marcos Alves da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964197042",
          "TELEFONE": "21964197042",
          "NOME": "SHEILA REZENDE DA SILVA BASILIO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979740921",
          "TELEFONE": "21 97974-0921",
          "NOME": "Beth"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965425330",
          "TELEFONE": "21 96542-5330",
          "NOME": "Ana Clara Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998007173",
          "TELEFONE": "21 99800-7173",
          "NOME": "Rhyan Percini"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964785098",
          "TELEFONE": "21 96478-5098",
          "NOME": "Jaqueline Costa Santiago"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965854646",
          "TELEFONE": "21 96585-4646",
          "NOME": "Lenita Trindade de Mello dos Santos."
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984698269",
          "TELEFONE": "21 98469-8269",
          "NOME": "Danielle Simoni"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994247120",
          "TELEFONE": "21 99424-7120",
          "NOME": "Milton Tavares"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970640105",
          "TELEFONE": "21 97064-0105",
          "NOME": "Edson Higino"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969791246",
          "TELEFONE": "21 96979-1246",
          "NOME": "Leandro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521982564154",
          "TELEFONE": "21 98256-4154",
          "NOME": "Noemi"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970102901",
          "TELEFONE": "21 97010-2901",
          "NOME": "Selma Maria Ribeiro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999418073",
          "TELEFONE": "21 999418073",
          "NOME": "Michele Vasconcelos Jacob"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964371533",
          "TELEFONE": "21 96437-1533",
          "NOME": "Ana Paula Azevedo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970247393",
          "TELEFONE": "21 97024-7393",
          "NOME": "Valéria de Souza Busto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969417766",
          "TELEFONE": "2196941-7766",
          "NOME": "Armênio Antonini Soares"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980661203",
          "TELEFONE": "21 98066-1203",
          "NOME": "Fabio luiz pimentel de souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996349398",
          "TELEFONE": "21 996349398",
          "NOME": "Thiago de Lima Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981183189",
          "TELEFONE": "21 98118-3189",
          "NOME": "Rafaela Maria Machado Alves Joia"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999619082",
          "TELEFONE": "21999619082",
          "NOME": "Andrea Cordeiro Borges"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964536392",
          "TELEFONE": "21964536392",
          "NOME": "Luana Leite Siqueira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971514416",
          "TELEFONE": "2197151-4416",
          "NOME": "LUCIMAR DO NASCIMENTO DE MEDEIROS"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996154471",
          "TELEFONE": "21 99615-4471",
          "NOME": "Carla Cristina terra do nascimento"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981378517",
          "TELEFONE": "2198137-8517",
          "NOME": "Nilce Mara V. Leal Siqueira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979750051",
          "TELEFONE": "21 97975-0051",
          "NOME": "Andréa Mesquita Nunes de Miranda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988230335",
          "TELEFONE": "21 988230335",
          "NOME": "Sonia maria souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521972555525",
          "TELEFONE": "21 97255-5525",
          "NOME": "Vanessa Neves da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521987192285",
          "TELEFONE": "21 98719-2285",
          "NOME": "Rodrigo Neves de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964289821",
          "TELEFONE": " 21 964289821",
          "NOME": "Vera Lucia guimaraes da Silva costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991895195",
          "TELEFONE": "21 991895195",
          "NOME": "Aline Teixeira Sampaio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995076029",
          "TELEFONE": "21995076029",
          "NOME": "EVELIN TAUANE MENDES ALMEIDA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521993446073",
          "TELEFONE": "21993446073",
          "NOME": "Vanda Silva do Nascimento"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999824207",
          "TELEFONE": "21 99982-4207",
          "NOME": "Silvia Lúcia Machado Sá Ferreira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970178493",
          "TELEFONE": "21970178493",
          "NOME": "Thamara Raissa Maciel de Sousa Dias "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521987777764",
          "TELEFONE": " 21 98777-7764",
          "NOME": "Kellen Duarte"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979749632",
          "TELEFONE": "21 97974-9632",
          "NOME": "Enio Enock"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981824403",
          "TELEFONE": "21 98182-4403",
          "NOME": "Christian Ribeiro "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988268066",
          "TELEFONE": "21 98826-8066",
          "NOME": "Edna"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997993006",
          "TELEFONE": "21 99799-3006",
          "NOME": "Selma Rangel Dutra da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969609696",
          "TELEFONE": "21 96960-9696",
          "NOME": "Neuzimara"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974158769",
          "TELEFONE": "21 97415-8769",
          "NOME": "Maria Clara Lacerda Baima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980301778",
          "TELEFONE": "21 980301778",
          "NOME": "Cecilia Fernandes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974715050",
          "TELEFONE": "2197471-5050 ",
          "NOME": "Marcia Cristina  Daher "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980057624",
          "TELEFONE": "21980057624",
          "NOME": "Lidiane Caren Barboza de Azevedo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967001115",
          "TELEFONE": "21 96700-1115",
          "NOME": "Jair de Assis Pope"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998827855",
          "TELEFONE": "21 99882-7855",
          "NOME": "Tatiana Magalhães Santa Rosa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964967485",
          "TELEFONE": "21 96496-7485",
          "NOME": "Carlos Eduardo Teixeira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521960149900",
          "TELEFONE": "21 96014-9900 ",
          "NOME": "Anderson dos Santos Gomes de Andrade"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521976918996",
          "TELEFONE": " 21 97691-8996",
          "NOME": "Tatiana de Lima Araújo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969791246",
          "TELEFONE": "21-969791246",
          "NOME": "Leandro Silva Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981252870",
          "TELEFONE": "21981252870",
          "NOME": "Enzo Fagundes Morais"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988443628",
          "TELEFONE": "21) 98844-3628",
          "NOME": "Marciano Dantas da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969699552",
          "TELEFONE": "21 96969-9552",
          "NOME": "JUCIARA VIEIRA DE OLIVEIRA SOUZA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984586929",
          "TELEFONE": "(21)98458-6929",
          "NOME": "Denise Maria da Silva Honório"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964521369",
          "TELEFONE": "21 96452-1369",
          "NOME": "Leandro Filho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992908764",
          "TELEFONE": "21 99290-8764",
          "NOME": "Stefany Magalhaes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521977865489",
          "TELEFONE": "21 97786-5489",
          "NOME": "Rodrigo Couto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521989037544",
          "TELEFONE": "21 98903-7544",
          "NOME": "Julia Matos Klopper de Almeida"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974811529",
          "TELEFONE": "21974811529",
          "NOME": "Vanessa Cristina da Silva Bertoldo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969445989",
          "TELEFONE": "21-969445989",
          "NOME": "Aline Lopes das Merces"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997628254",
          "TELEFONE": "21997628254",
          "NOME": "Giulia Lira de Lucena Manguelly"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988099131",
          "TELEFONE": "21 98809-9131",
          "NOME": "Wesley Julio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521976841926",
          "TELEFONE": "21-976841926",
          "NOME": "Flávia Maria Rollim"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965959871",
          "TELEFONE": "21 965959871",
          "NOME": "KATHARINE XIMENES LEITE"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996285176",
          "TELEFONE": "21 996285176",
          "NOME": "Maria de Fátima Alves"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984454433",
          "TELEFONE": "21 98445-4433",
          "NOME": "Bárbara Martins de Moura"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5524999281336",
          "TELEFONE": "(24)999281336",
          "NOME": "Shirley Pimentel Scatulino"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991414901",
          "TELEFONE": "21-991414901",
          "NOME": "Jimy Weslley Pereira Guimaraes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998779013",
          "TELEFONE": "21998779013",
          "NOME": "Alexandre Mascarenhas Macedo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979112393",
          "TELEFONE": "21979112393",
          "NOME": "Clarissa Martins Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996624775",
          "TELEFONE": "21996624775",
          "NOME": "Wellhington gomes de Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991999716",
          "TELEFONE": "21 99199-9716",
          "NOME": "Cristiane Siervi Mota Viegas"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996903691",
          "TELEFONE": "21 99690-3691",
          "NOME": "Flávio Bruno Rio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969179794",
          "TELEFONE": "(21)96917-9794",
          "NOME": "Sidney Louback Carepa Junior"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979785693",
          "TELEFONE": "(21)97978-5693",
          "NOME": "Leonardo Farinazzo Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979549195",
          "TELEFONE": "(21)97954-9195",
          "NOME": "Sidney Rocha Arruda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979989473",
          "TELEFONE": "(21)97998-9473",
          "NOME": "Lucas Farinazzo Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964318530",
          "TELEFONE": "(21)96431-8530",
          "NOME": "Marcelle Barreto de Medeiros de Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981517764",
          "TELEFONE": "21981517764",
          "NOME": "Leandro Cavalcante Fernandes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999491877",
          "TELEFONE": "21 99949-1877",
          "NOME": "Ana Lúcia Silva de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964377702",
          "TELEFONE": "21 96437-7702",
          "NOME": "Cintia Rocha de Alvarenga"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971074616",
          "TELEFONE": "21 971074616",
          "NOME": "Maria José de Oliveira Maciel Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975482437",
          "TELEFONE": "2197548-2437",
          "NOME": "Gabrielly Cristinny da Silva Rodrigues"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995872083",
          "TELEFONE": "21995872083",
          "NOME": "Marcos Antônio Jesus da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980352144",
          "TELEFONE": "21980352144",
          "NOME": "Márcia de Almeida Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964233533",
          "TELEFONE": "21964233533",
          "NOME": "ADILSON FERNANDES MOREIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964645173",
          "TELEFONE": "21 96464-5173",
          "NOME": "Jakeline Mendes Reis"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996363148",
          "TELEFONE": "2199636-3148",
          "NOME": "Graziella Penna Furtado Figueira de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992363353",
          "TELEFONE": "21 992363353",
          "NOME": "Renato de Menezes Garcia"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999582365",
          "TELEFONE": "21999582365",
          "NOME": "Rosemeri de Meneses Rodrigues"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994211921",
          "TELEFONE": "21994211921",
          "NOME": "Soraya Patricia Nascimento Aguirre"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974851535",
          "TELEFONE": "21974851535",
          "NOME": "RUBENS DE ALMEIDA GUIMARAES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981223049",
          "TELEFONE": "21981223049",
          "NOME": "Isabel Cristina da Paz"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980698278",
          "TELEFONE": "21 98069-8278",
          "NOME": "Thainara Mendes Ribeiro Diniz"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999465346",
          "TELEFONE": "21 99946-5346",
          "NOME": "Rita de Cássia Gomes Pereira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964423849",
          "TELEFONE": "21 96442-3849",
          "NOME": "Silvanir Rodrigues Farinchon"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975865365",
          "TELEFONE": "21 975865365",
          "NOME": "Rosane da Conceição Pinheiro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521973353092",
          "TELEFONE": "21 97335-3092",
          "NOME": "Felipe Oliveira do Nascimento"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999921669",
          "TELEFONE": "21 99992-1669",
          "NOME": "Mary Ellen Cristina Queiroz da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521972767500",
          "TELEFONE": "(21)972767500",
          "NOME": "Patricia Valente Guimarães"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965733022",
          "TELEFONE": "21 96573-3022",
          "NOME": "Andressa iglesias da Silva Lopes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5527998093877",
          "TELEFONE": "27 99809-3877",
          "NOME": "João Pedro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521988890708",
          "TELEFONE": "21-98889-0708",
          "NOME": "rejiane de mattos Rubens"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975464854",
          "TELEFONE": "21 97546-4854",
          "NOME": "Irene Luiza Souza de França Barbosa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994854951",
          "TELEFONE": "2199485-4951",
          "NOME": "Ana Maria de Carvalho Araújo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521976149392",
          "TELEFONE": "21-976149392",
          "NOME": "SELMA CHAVES SAMPAIO DI SABBATO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971922601",
          "TELEFONE": "21-971922601",
          "NOME": "SELMA CHAVES SAMPAIO DI SABBATO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983691515",
          "TELEFONE": "21 98369-1515",
          "NOME": "Cristina Oliveira "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979308304",
          "TELEFONE": " (21) 97930-8304",
          "NOME": "Mariana Moura Maia Coelho "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521982153789",
          "TELEFONE": "21 982153789",
          "NOME": "Juliana Rodrigues Miranda de Freitas"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964140636",
          "TELEFONE": "21964140636",
          "NOME": "Edimilton Francisco de Souza Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979228971",
          "TELEFONE": "21 97922 8971",
          "NOME": "José Ricardo Jorge da Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975647127",
          "TELEFONE": "21 975647127",
          "NOME": "Marianna Tavares da Silva Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997655121",
          "TELEFONE": "21 99765-5121",
          "NOME": "Denise Moraes Ribeiro Medeiros"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983529467",
          "TELEFONE": "21 98352-9467",
          "NOME": "DANIELLE DE PAULA GOMES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994007432",
          "TELEFONE": "21 99400-7432",
          "NOME": "Bruna da Silva Pedro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991927413",
          "TELEFONE": "21 99192 7413",
          "NOME": "Maria Bernadete Coutinho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995168217",
          "TELEFONE": "21 99516 8217",
          "NOME": "Maria Bernadete Coutinho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964933559",
          "TELEFONE": "21 96493-3559",
          "NOME": "Robson Braga Louvain"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983208410",
          "TELEFONE": "219983208410",
          "NOME": "RICARDO DE SOUZA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992461110",
          "TELEFONE": "21992461110",
          "NOME": "JORGE PASSOS CHAVES"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984656281",
          "TELEFONE": "21 98465-6281",
          "NOME": "Lucia Miranda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521990690745",
          "TELEFONE": "21 99069-0745",
          "NOME": "Rejane Gonçalves do Nascimento"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975439914",
          "TELEFONE": "2197543-9914",
          "NOME": "Màrinalva Belo dos Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969024741",
          "TELEFONE": "21 969024741",
          "NOME": "Bruna marina belo dos santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964317914",
          "TELEFONE": "21 96431-7914",
          "NOME": "Roberta Meneguale de Andrade"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521996583369",
          "TELEFONE": "21 99658-3369",
          "NOME": "Camila Gondinho Leite "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964308196",
          "TELEFONE": "21964308196",
          "NOME": "Eris Dias Pinto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521966007671",
          "TELEFONE": "21966007671",
          "NOME": "Carlos José de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992355582",
          "TELEFONE": "21 99235-5582",
          "NOME": "Cristiane Regina da Rocha Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964261058",
          "TELEFONE": "21 96426-1058",
          "NOME": "Marcelo Torres Vianna"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981210994",
          "TELEFONE": "21 98121-0994",
          "NOME": "rosicleide costa moraes purchio"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979311024",
          "TELEFONE": "21979311024",
          "NOME": "Elizabeth Cortez Avelino Barreto"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980652254",
          "TELEFONE": "21980652254",
          "NOME": "Elizabeth Marins Fernandes Teixeira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521989332724",
          "TELEFONE": "21 98933-2724",
          "NOME": "Thereza Cristina Castilho Martins"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999199075",
          "TELEFONE": "21999199075",
          "NOME": "Isabel Cristina Boldi Fernandes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521998545888",
          "TELEFONE": "21998545888",
          "NOME": "Ricardo Brasiliano"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964266954",
          "TELEFONE": "21 96426 6954",
          "NOME": "Elaine Barroso Baeta Magalhães"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521976811813",
          "TELEFONE": "21 97681-1813",
          "NOME": "Jardson da Silva Ferraz"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969151862",
          "TELEFONE": "21 96915‑1862",
          "NOME": "Jessica Lima de Oliveira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997788578",
          "TELEFONE": "2197788578",
          "NOME": "Pablo Roberto Rocha dos Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964474393",
          "TELEFONE": "(21)96447-4393",
          "NOME": "LUIZ ALBERTO BATISTA DE ALMEIDa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521983648645",
          "TELEFONE": "(21) 98364-8645",
          "NOME": "Maria Teona Martins"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992307622",
          "TELEFONE": "21 99230-7622",
          "NOME": "ANA PAULA SALVADORI"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994547290",
          "TELEFONE": "21 994547290",
          "NOME": "Ana Paula Andrade da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971663014",
          "TELEFONE": "21971663014",
          "NOME": "Elizabeth Cortez Avelino Barreto "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521989591989",
          "TELEFONE": "21 98959-1989",
          "NOME": "Mazi da Silva de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997628254",
          "TELEFONE": "21 99762-8254",
          "NOME": "Giulia Lira de Lucena Manguelly"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521993642052",
          "TELEFONE": "21 993642052",
          "NOME": " Evelyn de Moraes Roza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967755135",
          "TELEFONE": "21967755135",
          "NOME": "Alessandra Rangel De Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521991847775",
          "TELEFONE": "21 99184-7775",
          "NOME": "Lucyvania Gomes da Rocha"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999745517",
          "TELEFONE": "21 99974-5517",
          "NOME": "Silvia Aparecida de Lima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521982090173",
          "TELEFONE": "21982090173",
          "NOME": "rafaele de oliveira ribeiro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521997788578",
          "TELEFONE": "(21) 97788578",
          "NOME": "Pablo Roberto Rocha dos Santos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979107890",
          "TELEFONE": "21 97910-7890",
          "NOME": "Marco Antônio Pires de Souza da Silva "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981245970",
          "TELEFONE": "21 981245970",
          "NOME": "Cristina do Carmo Pamplona"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521980852280",
          "TELEFONE": "21 980852280",
          "NOME": "Eduardo da Luz Pereira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981430766",
          "TELEFONE": "21-98143-0766",
          "NOME": "Márcia Rosa Madureira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970147752",
          "TELEFONE": "21 97014-7752",
          "NOME": "KELLY CRISTINA BARBOSA FERREIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979646151",
          "TELEFONE": "21 979646151",
          "NOME": "Daniela Golombiewski gomes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964499780",
          "TELEFONE": "21964499780",
          "NOME": "Ivanilson"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995890979",
          "TELEFONE": "21995890979",
          "NOME": "João Paulo Leonardo Soares de Figueiredo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521995117849",
          "TELEFONE": "21 995117849",
          "NOME": "ROBERTO ALESSANDRO DA SILVA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521972839293",
          "TELEFONE": "2197283-9293",
          "NOME": "NIEDJA POLLYANA SOUZA BARRETO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521989872400",
          "TELEFONE": "21989872400",
          "NOME": "Arlinda Maria de Jesus Alves"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521966026549",
          "TELEFONE": "21966026549",
          "NOME": "Renata Carvalho Lima da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969044754",
          "TELEFONE": "21969044754",
          "NOME": "Márcia Maria Lameirão Molinaro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979162390",
          "TELEFONE": "21979162390",
          "NOME": "Ricardo Werneck"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521971177036",
          "TELEFONE": "21 97117-7036",
          "NOME": "Jocelia  mariano"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521964091075",
          "TELEFONE": "21 964091075",
          "NOME": "Adriana de Souza Lessa "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970359002",
          "TELEFONE": "21 97035-9002",
          "NOME": "Carla Juca"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992767737",
          "TELEFONE": "21992767737",
          "NOME": "Gabriel Noia"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521989189223",
          "TELEFONE": "21 98918-9223",
          "NOME": "Tatiana Cardoso Campos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970883275",
          "TELEFONE": "21 97088-3275",
          "NOME": "Amanda Biasi de Souza"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970249999",
          "TELEFONE": "21 97024-9999",
          "NOME": "Alessandra Guimarães"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521979180229",
          "TELEFONE": "21 979180229",
          "NOME": "Jessika Lima maia"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521970174757",
          "TELEFONE": "21970174757",
          "NOME": "Orlando Silva Costa"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521994619142",
          "TELEFONE": "(21)99461-9142",
          "NOME": "Cristiane Coelho da Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521981248138",
          "TELEFONE": "21 98124-8138",
          "NOME": "Renata Mello"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999735671",
          "TELEFONE": "21 99973-5671",
          "NOME": "Nadia Regina Ribeiro Nogueira"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521969314909",
          "TELEFONE": "21 96931-4909",
          "NOME": "Luana de Jesus"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521967711020",
          "TELEFONE": "2196771-1020",
          "NOME": "Jessica Castellani Neves"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521993464118",
          "TELEFONE": "21993464118",
          "NOME": "Erica Gomes de Souza Lima Almeida"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521999660179",
          "TELEFONE": "21999660179",
          "NOME": "josefa oliveira de melo frança"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521985245350",
          "TELEFONE": "21985245350",
          "NOME": "Aline Regina de Jesus Magalhães Silva"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521992721272",
          "TELEFONE": "21 99272-1272",
          "NOME": "Ivia Lisandra Mariano Miranda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521984237465",
          "TELEFONE": "21984237465",
          "NOME": "Sandra Mara Machado da Silva Pimenta"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521965040858",
          "TELEFONE": " 21 96504-0858",
          "NOME": "Luciana Lima "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521975482437",
          "TELEFONE": "2197548-2437",
          "NOME": "Gabrielly Cristinny da Silva Rodrigues"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "+5521974158769",
          "TELEFONE": "21 97415-8769",
          "NOME": "Maria Clara Lacerda Baima"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "(21)989954358",
          "NOME": "Noemi da cunha Menezes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21966712037",
          "NOME": "Claudio Miranda"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21990374102,
          "NOME": " Ana Cristina Santos de Sá"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 98075-2193",
          "NOME": "Samara Greyce"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 97559-6823",
          "NOME": "Rosemeri Santos Diamantino Rangel"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": " (21)97047-8914",
          "NOME": "Marcela de Magalhães Carvalho"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21966154022,
          "NOME": "Fabiana Leite de Araujo"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 99646-2408",
          "NOME": "Maria Aurea Pereira Dias "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "021 964850254",
          "NOME": "MAGNO NOVAES BENTO"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21985012040,
          "NOME": "JORGE MAURO SIQUEIRA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21971806773,
          "NOME": "SILVINO RAFAEL DE OLIVEIRA FRAGA"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": " 21 96016-7493",
          "NOME": "Dirce"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21977901000",
          "NOME": "Ana Paula Gomes"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21997235920,
          "NOME": "Alexandre de Carvalho Esteves "
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": 21970102901,
          "NOME": "Selma Maria Ribeiro"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21 992656529",
          "NOME": "Meiry Glaucy dos Santos Mattos"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "TELEFONE FORMATADO": "",
          "TELEFONE": "21979256999",
          "NOME": "Leonardo Rubem"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger1": {
      "documentId": "1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI",
      "sheetId": 482129188,
      "lastRevision": 66202,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI&revision=66202&exportFormat=xlsx",
      "lastIndexChecked": 325
    },
    "node:Google Sheets Trigger": {
      "documentId": "1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI",
      "sheetId": 482129188,
      "lastRevision": 66202,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1KQv8Vi4voiUpuIVjmvqm1pgG4Kh7ccoucEdJSSrepGI&revision=66202&exportFormat=xlsx"
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2023-12-09T12:28:18.000Z",
  "versionId": "312be4d4-9f3d-4561-99b2-8bb232f65234"
}