workflows/SUBIR AUDIENCIA.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Definir Dados": {
      "main": [
        [
          {
            "node": "Validar Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Dados Validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cadastrar Usuario": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo EMPRESA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo  P SAUDE",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo PATOLOGIA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo MATRICULA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo SEXO",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo GRAU DE RISCO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "é whatsapp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é whatsapp?": {
      "main": [
        [
          {
            "node": "HTTP Request Cadastrar Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait 2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 segundos": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-10T13:22:36.270Z",
  "id": "O0VJkZlBn1VaaUgL",
  "name": "SUBIR AUDIENCIA",
  "nodes": [
    {
      "parameters": {},
      "id": "dc9d5ed7-5187-4379-a9b5-8422c286d77e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2860,
        1440
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "options": {}
      },
      "id": "98b3afb5-ec7f-4e07-b2db-fe473658278c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -2460,
        1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "acb7999b-caed-4de8-888a-502812b1e25e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -1600,
        1180
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $json[\"Nome\"] }}"
            },
            {
              "name": "Sobrenome"
            },
            {
              "name": "telefone",
              "value": "=+{{ $json[\"Telefone\"] }}"
            },
            {
              "name": "Campo 1",
              "value": "="
            },
            {
              "name": "Campo 2",
              "value": "="
            },
            {
              "name": "Campo 3",
              "value": "="
            },
            {
              "name": "Campo 4",
              "value": "="
            }
          ],
          "number": [
            {
              "name": "ID Campo 1",
              "value": 1272059
            },
            {
              "name": "ID Campo 2"
            },
            {
              "name": "ID Campo 3"
            },
            {
              "name": "ID Campo 4"
            },
            {
              "name": "ID Campo 5"
            },
            {
              "name": "ID da Etiqueta 1"
            },
            {
              "name": "ID da Etiqueta 2"
            },
            {
              "name": "ID da Etiqueta 3"
            },
            {
              "name": "ID da Etiqueta 4"
            },
            {
              "name": "ID da Etiqueta 5"
            }
          ]
        },
        "options": {}
      },
      "id": "626f5c58-cccc-4972-ac69-5ec2ebe85743",
      "name": "Set Definir Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1260,
        860
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "WhatsappValidado",
              "value": "={{$json[\"whatsapp\"]}}"
            },
            {
              "name": "endpoint",
              "value": "https://backend.clickbot.com.br/api/v1/webhook/"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados Validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -780,
        820
      ],
      "id": "6291d0db-c72c-46aa-8128-d2e72d02c6ae"
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replace(' ','').replace('(','').replace(')','').replace(' ','').replace(' ','').replace('-','').replace(' ','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.function",
      "position": [
        -1020,
        840
      ],
      "typeVersion": 1,
      "id": "6ad83873-152b-44c5-a1c2-945aa0bf3d97"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formatando Nome e Telefone').item.json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Formatando Nome e Telefone').item.json[\"Nome\"] }}"
            },
            {
              "name": "=last_name",
              "value": "={{ $('Formatando Nome e Telefone').item.json[\"Sobrenome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b94cc4e9-205c-4d5d-bf00-9c5838f0c525",
      "name": "HTTP Request Cadastrar Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -520,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "b8c8b2a6-05e6-4dc0-ae64-0551b47f5deb",
      "name": "Wait 2 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1480,
        2440
      ],
      "webhookId": "c852e30c-2ca2-4d86-8cb0-d09aa07006f6"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"WHATSAPP CADASTRADO\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "9e487fd1-c49e-4d83-a136-d027156ea874",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2240,
        1200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "64888723-75eb-421c-9c35-dd31a2b6665e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2880,
        1200
      ]
    },
    {
      "parameters": {
        "batchSize": 80,
        "options": {}
      },
      "id": "f83060ef-70db-4e98-9992-81d8a582a0d6",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2040,
        1180
      ]
    },
    {
      "parameters": {
        "url": "https://backend.botconversa.com.br/api/v1/webhook/bot_fields/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "72d15105-0586-47a2-92e7-ef2c5e3ae304",
      "name": "HTTP Request Cadastrar Usuario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1260,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://conectawebhook.com.br/api/v1/webhook/subscriber/",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "phone",
              "value": "={{ $json.whatsapp }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.Sobrenome }}"
            }
          ]
        }
      },
      "name": "Cadastrando na Audiência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -460,
        780
      ],
      "id": "7315b6fb-a5ec-4fee-80b3-b8621c664562",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "BC Helpi Digital"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.PHONE }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json['NOME DO BENEFICIARIO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "579a9db8-0ce8-4046-9157-8f4fb66d0bcd",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        -1380,
        1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "2720c45c-6075-4f9b-a6f8-bbd5ec665393",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1140,
        1180
      ]
    },
    {
      "parameters": {},
      "id": "d90311ec-a122-4d82-8e6f-bc8a39201f15",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1800,
        1180
      ]
    },
    {
      "parameters": {
        "url": "=https://api.z-api.io/instances/3C49AB147B4EA0CB343FAEE82E8B9909/token/9A084FDFC8B6D8675A707E75/phone-exists/{{ $json[\"whatsapp\"].slice(1) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "Client-Token",
              "value": "F7d4683405b6a4d1db828b5f1632d348aS"
            }
          ]
        },
        "options": {}
      },
      "id": "f0399b75-8845-407b-bedf-a80bd9de0ef5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -940,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.exists.toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "da2eb6af-be9a-461d-80aa-af1abd8094b1",
      "name": "é whatsapp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -740,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "columnToMatchOn": "NOME DO BENEFICIARIO",
        "valueToMatchOn": "={{ $('Split In Batches').item.json['NOME DO BENEFICIARIO'] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "WHATSAPP CADASTRADO",
              "fieldValue": "=sem whatsapp"
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Split In Batches').item.json.row_number }}"
            }
          }
        }
      },
      "id": "52ce07dc-729f-4f57-82da-1f6026ccc45a",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -760,
        1400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "columnToMatchOn": "NOME DO BENEFICIARIO",
        "valueToMatchOn": "={{ $('Split In Batches').item.json['NOME DO BENEFICIARIO'] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "WHATSAPP CADASTRADO",
              "fieldValue": "=✅"
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Split In Batches').item.json.row_number }}"
            }
          }
        }
      },
      "id": "ded9d0dc-faa4-46c9-959c-0ff61c7c4ae4",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -320,
        1000
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WtzcanNTBiAvqMef",
          "name": "Medi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150096/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['EMPRESA DO BENEFICIARIO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e56e96ad-c465-433a-8381-b3b9fc3dbac5",
      "name": "HTTP Request Atualizar Campo EMPRESA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        1400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150097/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['NOME DO PROGRAMA'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f8dac22e-89b6-4537-ac77-b330d4a670ff",
      "name": "HTTP Request Atualizar Campo  P SAUDE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        1600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150064/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['GRUPO DE DISPARO DE MATERIAL - BOT'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb65dc6e-bb37-4a03-b06f-92cf5424e826",
      "name": "HTTP Request Atualizar Campo PATOLOGIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        1800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1383308/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['MATRICULA DE UTILIZACAO NO PLANO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "77e12ab6-7f53-4ef1-941f-4abafd0ce75f",
      "name": "HTTP Request Atualizar Campo MATRICULA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        2000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150088/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json.SEXO }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29ecd754-6884-4f8c-9078-fc958ab2252b",
      "name": "HTTP Request Atualizar Campo SEXO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        2220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150091/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['GRAU DE RISCO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "638213ab-ba0a-4748-9de0-845cf9178252",
      "name": "HTTP Request Atualizar Campo GRAU DE RISCO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        100,
        2420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "EM INCLUSAO"
            },
            {
              "value2": "EM RECUPERACAO",
              "output": 1
            },
            {
              "value2": "ABORDADO PELO BOT",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "3100f036-522f-45dd-bc37-3220161c38de",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "INCLUSO"
            },
            {
              "value2": "FINALIZADO",
              "output": 1
            },
            {
              "value2": "RECUPERADO",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "48679107-01ed-40ec-bfbd-485ef9665bf7",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        700
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "EM CLASSIFICACAO"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "af06495c-6140-4c9e-b9af-4506a46ab8b2",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4503062/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "options": {}
      },
      "id": "f1f9bab3-4638-4b0b-a128-0bf677f8cf3c",
      "name": "HTTP Request Adicionar Etiqueta em inclusao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4503066/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a601cfa2-0712-4552-9378-74c3f3995628",
      "name": "HTTP Request Adicionar Etiqueta em inclusao1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961557/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "3d331275-6ac6-44bf-888b-ff2302497b19",
      "name": "HTTP Request Adicionar Etiqueta em inclusao2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961559/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c2e5fa33-812d-4036-a3d0-eaba2c8395ff",
      "name": "HTTP Request Adicionar Etiqueta em inclusao3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961560/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "5fb4acc3-3bb4-473f-800a-ac0378058fae",
      "name": "HTTP Request Adicionar Etiqueta em inclusao4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        780
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961564/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bdaac743-e99b-4358-ab56-3e227c3e18b8",
      "name": "HTTP Request Adicionar Etiqueta em inclusao5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        960
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961563/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "719af93b-9442-447a-bf80-d7c2b254b853",
      "name": "HTTP Request Adicionar Etiqueta em inclusao6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        1140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vCIPDPVbQ7zCDlxQ",
          "name": "BC MEDI - PAIS"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-10T15:53:35.000Z",
  "versionId": "81e4b46c-598d-4997-a358-df1331a72eaa"
}