workflows/SUBIR AUDIENCIA Otimizado copy.json
{
  "active": true,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Definir Dados": {
      "main": [
        [
          {
            "node": "whatsapp valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Telefone": {
      "main": [
        [
          {
            "node": "Dados Validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cadastrar Usuario": {
      "main": [
        [
          {
            "node": "HTTP Request Atualizar Campo EMPRESA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo  P SAUDE",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo PATOLOGIA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo MATRICULA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo G-SEXO",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo GRAU DE RISCO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 2 segundos",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo data proximo contato - melhordata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo Especialidade_PAIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo GRAU_OBESIDADE",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo DIABETES",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo pressao-usuario",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo Sintoma_PAIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request Adicionar Etiqueta em inclusao6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Atualizar telefone não válido": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar1": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone1": {
      "main": [
        [
          {
            "node": "HTTP Request Verificar se é wpp válido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Verificar se é wpp válido1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo EMPRESA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo  P SAUDE",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo PATOLOGIA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo MATRICULA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo G-SEXO",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo GRAU DE RISCO",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo Especialidade_PAIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo data proximo contato - melhordata",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo GRAU_OBESIDADE",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo DIABETES",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo pressao-usuario",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Atualizar Campo Sintoma_PAIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "HTTP Request Cadastrar Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "HTTP Request Verificar se é wpp válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Verificar se é wpp válido": {
      "main": [
        [
          {
            "node": "Set Definir Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "cadastrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrado?": {
      "main": [
        [
          {
            "node": "Google Sheets Atualizar telefone não válido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp valido?": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "cadastrado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrado?1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Cadastrar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 segundos": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-11T22:29:40.282Z",
  "id": "8pxKTQrfA6eotkqY",
  "meta": null,
  "name": "SUBIR AUDIENCIA Otimizado copy",
  "nodes": [
    {
      "parameters": {},
      "id": "44486c59-3cce-4ee4-b3bd-1315e8196825",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4500,
        1580
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "WHATSAPP CADASTRADO"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "44659172-51ad-420b-97f8-cf5616f39d53",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -4100,
        1580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8720e439-3dfa-4636-a57a-7408afb65c6b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -3000,
        1580
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Nome",
              "value": "={{ $('Formatando Nome e Telefone').item.json.Nome }}"
            },
            {
              "name": "Sobrenome",
              "value": "={{ $('Formatando Nome e Telefone').item.json.Sobrenome }}"
            },
            {
              "name": "telefone",
              "value": "=+{{ $json.phone }}"
            },
            {
              "name": "Campo 1",
              "value": "="
            },
            {
              "name": "Campo 2",
              "value": "="
            },
            {
              "name": "Campo 3",
              "value": "="
            },
            {
              "name": "Campo 4",
              "value": "="
            }
          ],
          "number": [
            {
              "name": "ID Campo 1",
              "value": 1272059
            },
            {
              "name": "ID Campo 2"
            },
            {
              "name": "ID Campo 3"
            },
            {
              "name": "ID Campo 4"
            },
            {
              "name": "ID Campo 5"
            },
            {
              "name": "ID da Etiqueta 1"
            },
            {
              "name": "ID da Etiqueta 2"
            },
            {
              "name": "ID da Etiqueta 3"
            },
            {
              "name": "ID da Etiqueta 4"
            },
            {
              "name": "ID da Etiqueta 5"
            }
          ]
        },
        "options": {}
      },
      "id": "1ab01661-8fa0-4d8e-838f-9cda080a8da9",
      "name": "Set Definir Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1580,
        1580
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "WhatsappValidado",
              "value": "={{$json[\"whatsapp\"]}}"
            },
            {
              "name": "endpoint",
              "value": "https://backend.clickbot.com.br/api/v1/webhook/"
            }
          ]
        },
        "options": {}
      },
      "name": "Dados Validados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1300,
        1040
      ],
      "id": "573fd235-a1f1-479d-a82f-9887276cdf0d"
    },
    {
      "parameters": {
        "functionCode": "var telefone = items[0].json.telefone.replace(' ','').replace('(','').replace(')','').replace(' ','').replace(' ','').replace('-','').replace(' ','');\nvar ddd = telefone.slice(2,4);\nvar ddi = telefone.charAt(0);\nvar ddx = telefone.slice(0,2);\nvar length = telefone.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = telefone.slice(0,3);\n    telefone = parseInt(telefone.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      telefone = parseInt(telefone.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      telefone = parseInt(telefone).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  telefone = parseInt(telefone).toString();\n  ddi = 'não informado';\n}\n\nddd = telefone.slice(0,2);\ntelefone = telefone.slice(2);\nif (ddd > 28){\n  telefone = telefone.slice(-8);\n} else {\n  telefone = '9'+telefone.slice(-8);\n}\nvar whatsapp = '+55'+ddd+telefone;\n\nreturn [\n  {\n    json: {\n      ddi,\n      ddd,\n      telefone,\n      whatsapp,   \n    }\n  }\n];"
      },
      "name": "Validar Telefone",
      "type": "n8n-nodes-base.function",
      "position": [
        -1560,
        1040
      ],
      "typeVersion": 1,
      "id": "8b655bb4-dd4e-4d80-800e-b93ed297e623"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Set Definir Dados').item.json.telefone }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Set Definir Dados').item.json.Nome }}"
            },
            {
              "name": "=last_name",
              "value": "={{ $('Set Definir Dados').item.json.Sobrenome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfce9e1f-1f67-425d-b019-3f1987f9a104",
      "name": "HTTP Request Cadastrar Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -680,
        1560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "99645c8c-6505-4e21-9be7-d20907559abc",
      "name": "Wait 2 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        460,
        4660
      ],
      "webhookId": "cb631e92-510d-4f95-af72-41cbadcd645e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"WHATSAPP CADASTRADO\"] }}",
              "value2": "✅"
            }
          ]
        }
      },
      "id": "9620e451-6221-48f4-9fbb-dc45ae98713e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2100,
        920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "1ebc841d-1fe8-4bca-8b6c-61b14eadbd19",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -4500,
        1380
      ]
    },
    {
      "parameters": {
        "batchSize": 80,
        "options": {}
      },
      "id": "4d40a65f-b126-48f3-845c-4ad1b6dfb32a",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -3840,
        1580
      ]
    },
    {
      "parameters": {},
      "id": "243f1079-e2bc-47b0-9ac0-75eb47368df6",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3620,
        1580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150096/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['EMPRESA DO BENEFICIARIO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11fa2288-9a01-4a62-8f7d-f480310ca393",
      "name": "HTTP Request Atualizar Campo EMPRESA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        1800
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150097/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['NOME DO PROGRAMA'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d51472e-fbb5-49df-a781-58e648c79eb4",
      "name": "HTTP Request Atualizar Campo  P SAUDE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        2000
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150064/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['MOTIVO DO ACOMPANHAMENTO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fce90aef-a622-4f91-95bf-8d3c47327c75",
      "name": "HTTP Request Atualizar Campo PATOLOGIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        2200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1383308/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['MATRICULA DE UTILIZACAO NO PLANO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10f933c1-6bcf-4072-8b28-6f7faeea003b",
      "name": "HTTP Request Atualizar Campo MATRICULA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        2400
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150091/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json['GRAU DE RISCO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5101d118-9b23-45fc-85ef-448731e2ea72",
      "name": "HTTP Request Atualizar Campo GRAU DE RISCO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        2820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "EM INCLUSAO"
            },
            {
              "value2": "EM RECUPERACAO",
              "output": 1
            },
            {
              "value2": "ABORDADO PELO BOT",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "c56fdb24-e86c-4b23-a8e9-d8310d39e333",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1060,
        500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "INCLUSO"
            },
            {
              "value2": "FINALIZADO",
              "output": 1
            },
            {
              "value2": "RECUPERADO",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1dc2f271-14d4-41fd-82cf-46e281f47564",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1060,
        1100
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Split In Batches').item.json[\"STATUS DA TRIAGEM\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "EM CLASSIFICACAO"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ab324f39-989d-4cc1-889d-4bd765717d98",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1060,
        1540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4503062/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "04b0f7a8-3336-46d8-aba5-14ffe9f7a327",
      "name": "HTTP Request Adicionar Etiqueta em inclusao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4503066/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bbceb34c-f9ab-4e82-8a3c-6664fd48a97a",
      "name": "HTTP Request Adicionar Etiqueta em inclusao1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961557/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "15f3e965-ef14-4a1c-b09f-c53eaa9604cb",
      "name": "HTTP Request Adicionar Etiqueta em inclusao2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961559/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1bcd38ec-a1e1-4d9d-a0e0-c5e7ac44e786",
      "name": "HTTP Request Adicionar Etiqueta em inclusao3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961560/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "71501350-59c1-4d89-b89f-3d9af2a1ee55",
      "name": "HTTP Request Adicionar Etiqueta em inclusao4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        1180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961564/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "73ae1052-6e7b-42df-97cb-9901a59aae38",
      "name": "HTTP Request Adicionar Etiqueta em inclusao5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        1360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json.id }}/tags/4961563/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "7d7374b8-7ae6-435b-9b39-aaa08d73bd9d",
      "name": "HTTP Request Adicionar Etiqueta em inclusao6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        1540
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "09c72b57-cf10-49b5-a6ad-3627356028d2",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -500,
        2180
      ],
      "webhookId": "997fbd1a-ee7f-4dde-9cac-f20de804a7fa"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "columnToMatchOn": "ID",
        "valueToMatchOn": "={{ $('Split In Batches').item.json.ID }}",
        "fieldsUi": {
          "values": [
            {
              "column": "WHATSAPP CADASTRADO",
              "fieldValue": "=SEM WHATSAPP"
            }
          ]
        },
        "options": {}
      },
      "id": "4a282139-6d4d-4ed0-baa6-d9926b6daa68",
      "name": "Google Sheets Atualizar telefone não válido",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -700,
        1980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.z-api.io/instances/3BAE860F0ADEB0A7E993D6DE7E9F2DF0/token/5B29C948AD29016FB2E58702/phone-exists/{{ $json.whatsapp.replace(\"+\",\"\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Ff5a9099161b04e319b99c5f785417d9dS"
            }
          ]
        },
        "options": {}
      },
      "id": "bb251504-376f-46ea-b5fc-72509de7a060",
      "name": "HTTP Request Verificar se é wpp válido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2180,
        1580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1291875/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"MEDICO ESPECIALISTA\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "563cee7e-40ef-461c-a2b1-faee43c9c448",
      "name": "HTTP Request Atualizar Campo Especialidade_PAIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        3240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150085/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"MEDE OBESIDADE\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c722cdea-79d1-494c-86f8-828f54987aa3",
      "name": "HTTP Request Atualizar Campo GRAU_OBESIDADE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        3440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150087/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"MEDE DIABETES\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8acbc588-f469-487e-8f46-4d7fa61fd769",
      "name": "HTTP Request Atualizar Campo DIABETES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        3620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1150086/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"MEDE HIPERTENSAO\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "193139a0-fcc3-454c-938b-e3ba62d256a2",
      "name": "HTTP Request Atualizar Campo pressao-usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        3860
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1291745/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"QUEIXA RELATADA\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8a3baa3-e697-4989-9812-fe5267ea267f",
      "name": "HTTP Request Atualizar Campo Sintoma_PAIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        4040
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1420389/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json.SEXO }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4036b910-9fcc-48d4-9d12-d60e405cb406",
      "name": "HTTP Request Atualizar Campo G-SEXO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        2620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $json[\"id\"] }}/custom_fields/1436559/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $('Split In Batches').item.json[\"AGENDA SUGERIDA PARA PROXIMO CONTATO\"].toString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac3a28ae-56b5-4143-82e3-2d7e33d0034f",
      "name": "HTTP Request Atualizar Campo data proximo contato - melhordata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        3020
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WHATSAPP CADASTRADO": "✅✅",
            "NOME DO BENEFICIARIO": "={{ $('Split In Batches').item.json['NOME DO BENEFICIARIO'] }}"
          },
          "matchingColumns": [
            "NOME DO BENEFICIARIO"
          ],
          "schema": [
            {
              "id": "EMPRESA DO BENEFICIARIO",
              "displayName": "EMPRESA DO BENEFICIARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIPO CONTRATANTE",
              "displayName": "TIPO CONTRATANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMPRESA CONTRATANTE",
              "displayName": "EMPRESA CONTRATANTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OPERADORA DE SAUDE",
              "displayName": "OPERADORA DE SAUDE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOME DO PROGRAMA",
              "displayName": "NOME DO PROGRAMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MATRICULA DE UTILIZACAO NO PLANO",
              "displayName": "MATRICULA DE UTILIZACAO NO PLANO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "COD PRODUTO",
              "displayName": "COD PRODUTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOME DO BENEFICIARIO",
              "displayName": "NOME DO BENEFICIARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ENTRADA NO PROGRAMA",
              "displayName": "ENTRADA NO PROGRAMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TIT/DEP",
              "displayName": "TIT/DEP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA DE NASCIMENTO",
              "displayName": "DATA DE NASCIMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IDADE",
              "displayName": "IDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SEXO",
              "displayName": "SEXO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UF",
              "displayName": "UF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOME DO TITULAR",
              "displayName": "NOME DO TITULAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RESPONSAVEL",
              "displayName": "RESPONSAVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GRAU DE PARENTESCO DO RESPONSAVEL",
              "displayName": "GRAU DE PARENTESCO DO RESPONSAVEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PROGRAMA DE ATENCAO",
              "displayName": "PROGRAMA DE ATENCAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GRAU DE RISCO",
              "displayName": "GRAU DE RISCO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO",
              "displayName": "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO DO ACOMPANHAMENTO",
              "displayName": "MOTIVO DO ACOMPANHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CID PRINCIPAL",
              "displayName": "CID PRINCIPAL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GRUPO DE DOENCAS",
              "displayName": "GRUPO DE DOENCAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS",
              "displayName": "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CIDS SECUNDÁRIOS",
              "displayName": "CIDS SECUNDÁRIOS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO",
              "displayName": "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE",
              "displayName": "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UTI",
              "displayName": "UTI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA DO ULTIMO CONTATO",
              "displayName": "DATA DO ULTIMO CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RESPONSAVEL PELO CONTATO",
              "displayName": "RESPONSAVEL PELO CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HISTORICO DO CONTATO",
              "displayName": "HISTORICO DO CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS DO ACOMPANHAMENTO MAIS RECENTE",
              "displayName": "STATUS DO ACOMPANHAMENTO MAIS RECENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVAÇÕES",
              "displayName": "OBSERVAÇÕES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AGENDA SUGERIDA PARA PROXIMO CONTATO",
              "displayName": "AGENDA SUGERIDA PARA PROXIMO CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA DE FINALIZACAO",
              "displayName": "DATA DE FINALIZACAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CAPTADO VIA",
              "displayName": "CAPTADO VIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GRUPO DE DISPARO DE MATERIAL - BOT",
              "displayName": "GRUPO DE DISPARO DE MATERIAL - BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS DA TRIAGEM",
              "displayName": "STATUS DA TRIAGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TELEFONES DE CONTATO",
              "displayName": "TELEFONES DE CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PHONE",
              "displayName": "PHONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FAIXA ETÁRIA",
              "displayName": "FAIXA ETÁRIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FIM",
              "displayName": "FIM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "WHATSAPP CADASTRADO",
              "displayName": "WHATSAPP CADASTRADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MEDICAMENTO",
              "displayName": "MEDICAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PESO(KG)",
              "displayName": "PESO(KG)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ALTURA(CM)",
              "displayName": "ALTURA(CM)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDE OBESIDADE",
              "displayName": "MEDE OBESIDADE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AFERE GLICOSE",
              "displayName": "AFERE GLICOSE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDE DIABETES",
              "displayName": "MEDE DIABETES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AFERE PRESSAO",
              "displayName": "AFERE PRESSAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDE HIPERTENSAO",
              "displayName": "MEDE HIPERTENSAO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDICO ESPECIALISTA",
              "displayName": "MEDICO ESPECIALISTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "QUEIXA RELATADA",
              "displayName": "QUEIXA RELATADA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "REMEDIO_BOT",
              "displayName": "REMEDIO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PATOLOGIA_BOT",
              "displayName": "PATOLOGIA_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBESIDADE_BOT",
              "displayName": "OBESIDADE_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DIABETES_BOT",
              "displayName": "DIABETES_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PRESSAO_BOT",
              "displayName": "PRESSAO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ACOMPANHAMENTO_BOT",
              "displayName": "ACOMPANHAMENTO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SINTOMA_BOT",
              "displayName": "SINTOMA_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LGPD_BOT",
              "displayName": "LGPD_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CHECKUP_BOT",
              "displayName": "CHECKUP_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CRONICO_BOT",
              "displayName": "CRONICO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "OBSERVACAO_BOT",
              "displayName": "OBSERVACAO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA_CHAMADO_BOT",
              "displayName": "DATA_CHAMADO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DATA_INTERACAO_BOT",
              "displayName": "DATA_INTERACAO_BOT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {
          "locationDefine": {
            "values": {
              "firstDataRow": "={{ $('Split In Batches').item.json.row_number }}"
            }
          }
        }
      },
      "id": "f08dbbdf-17e1-4ece-8da9-3598843d4b1a",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        460,
        4360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "WHATSAPP CADASTRADO"
          ]
        }
      },
      "id": "887928cc-e977-4638-82ac-a6c858faecba",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -5960,
        2500
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "q2koHOT5akHVDoQ9",
          "name": "medi "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['WHATSAPP CADASTRADO'] }}",
              "value2": "SEM WHATSAPP"
            },
            {
              "value1": "={{ $json['TELEFONES DE CONTATO'] }}",
              "operation": "contains",
              "value2": "/"
            }
          ]
        }
      },
      "id": "20219026-ff13-40f5-9851-215ea1c76d52",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -5740,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "// A string de entrada contendo números de telefone separados por vírgulas\nconst inputString = items[0].json.TEXTO;\n\n// Separando a string em um array de números de telefone\nconst textoArray = inputString.split('/');\n\n// Iterando sobre o array e criando objetos com os dados necessários\nconst resultado = textoArray.map(numero => {\n    return {\nTelSeparado: numero,\n...items[0].json\n        // Adicione outras colunas conforme necessário\n    };\n});\n\n// Saída dos dados no formato adequado para o n8n\nreturn resultado;\n"
      },
      "id": "c16f8790-6641-4bca-86e4-0f6c9d8ee65f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5300,
        2500
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "TEXTO",
              "stringValue": "={{ $json['TELEFONES DE CONTATO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15c3c2fd-431c-4b17-a756-1194cfbb5bdd",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -5500,
        2500
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.PHONE.toString() }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json['NOME DO BENEFICIARIO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "750771ef-d09e-4952-93b5-809152802b5c",
      "name": "Nome e telefone para validar1",
      "type": "n8n-nodes-base.set",
      "position": [
        -5080,
        2500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.z-api.io/instances/3BAE860F0ADEB0A7E993D6DE7E9F2DF0/token/5B29C948AD29016FB2E58702/phone-exists/{{ $json.whatsapp.replace(\"+\",\"\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Ff5a9099161b04e319b99c5f785417d9dS"
            }
          ]
        },
        "options": {}
      },
      "id": "e815f4de-82de-4bfd-9807-3338de2ec837",
      "name": "HTTP Request Verificar se é wpp válido1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4640,
        2500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = item.json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = item.json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "aebe6070-2286-464c-9d04-155a1296dde0",
      "name": "Formatando Nome e Telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4860,
        2500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.exists.toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "67ba55c5-088b-4938-beb5-25829b898971",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -4420,
        2500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formatando Nome e Telefone1').item.json[\"whatsapp\"] }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Formatando Nome e Telefone1').item.json[\"Nome\"] }}"
            },
            {
              "name": "=last_name",
              "value": "={{ $('Formatando Nome e Telefone1').item.json[\"Sobrenome\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d336a4f-b9c4-48b7-899a-6ed4e05aa06c",
      "name": "HTTP Request Cadastrar Usuario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3920,
        2500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "3MYXa6yjvgMoxfow",
          "name": "BC - Medi Pais"
        }
      }
    },
    {
      "parameters": {},
      "id": "9d37905c-4703-419c-ae70-63b0bd35d6e2",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1060,
        2900
      ]
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "732b61c2-fd9a-4a10-95ba-b105af467759",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -4180,
        2500
      ]
    },
    {
      "parameters": {
        "jsCode": "// A string de entrada contendo números de telefone separados por vírgulas\nconst inputString = items[0].json.TEXTO;\n\n// Separando a string em um array de números de telefone\nconst textoArray = inputString.split('/');\n\n// Iterando sobre o array e criando objetos com os dados necessários\nconst resultado = textoArray.map(numero => {\n    return {\nTelSeparado: numero,\n...items[0].json\n        // Adicione outras colunas conforme necessário\n    };\n});\n\n// Saída dos dados no formato adequado para o n8n\nreturn resultado;\n"
      },
      "id": "dcc17906-cbd3-47ee-a005-1990b6a5d597",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3220,
        1580
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "TEXTO",
              "stringValue": "={{ $json['TELEFONES DE CONTATO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22ebc037-23bc-4a86-9ee2-933735266a5a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -3420,
        1580
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.TelSeparado }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json['NOME DO BENEFICIARIO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da49b2f3-94e5-4aba-a0a5-2189265e7a3c",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        -2660,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = item.json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = item.json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "443fcf98-cdb3-4903-ad5d-1c2a6687b1f7",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2420,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "exists"
            },
            {
              "aggregation": "append",
              "field": "phone"
            }
          ]
        },
        "options": {}
      },
      "id": "cc917d4f-acd4-4ce9-af5a-f1909e06832f",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1960,
        1420
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Split In Batches').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aac27e5d-1fa5-4df4-b419-0f764d0d81c6",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -1140,
        1800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['WHATSAPP CADASTRADO'] }}",
              "value2": "✅✅"
            }
          ]
        }
      },
      "id": "fb98b520-9480-42f6-8069-f3e5cde3e028",
      "name": "cadastrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -940,
        2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.exists.toString() }}",
              "value2": "true"
            }
          ]
        }
      },
      "id": "df0904bd-a7d7-4dda-9244-850a0ad0c0f8",
      "name": "whatsapp valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1340,
        1580
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os",
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887746287,
          "mode": "list",
          "cachedResultName": "db_pais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LXr-BCLmTbm18vqQlj369q6-QCWkagg0rNQAJF8w6os/edit#gid=887746287"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Split In Batches').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a202f8b-2b54-4ebc-ad7b-f0cb9b822530",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -1140,
        1440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pdm5d8YpeYmTF0Y",
          "name": "medi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['WHATSAPP CADASTRADO'] }}",
              "value2": "✅✅"
            }
          ]
        }
      },
      "id": "971f67a1-ba82-46e6-b79d-f92766479129",
      "name": "cadastrado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        1440
      ]
    }
  ],
  "pinData": {
    "Google Sheets Trigger": [
      {
        "json": {
          "EMPRESA DO BENEFICIARIO": "ASTCERJ",
          "TIPO CONTRATANTE": "ASSOCIACAO",
          "EMPRESA CONTRATANTE": "MEDI",
          "OPERADORA DE SAUDE": "AMIL",
          "NOME DO PROGRAMA": "ASTCERJ SAUDE",
          "MATRICULA DE UTILIZACAO NO PLANO": "972499431",
          "COD PRODUTO": "",
          "NOME DO BENEFICIARIO": "ILDA NEVES GONZAGA",
          "ENTRADA NO PROGRAMA": 42970,
          "TIT/DEP": "DEPENDENTE",
          "DATA DE NASCIMENTO": 11120,
          "IDADE": 94,
          "SEXO": "FEMININO",
          "UF": "",
          "NOME DO TITULAR": "ADELEA NEVES GONZAGA BARBOSA",
          "RESPONSAVEL": "ADELEA",
          "GRAU DE PARENTESCO DO RESPONSAVEL": "FILHO (A)",
          "PROGRAMA DE ATENCAO": "SENIORS",
          "GRAU DE RISCO": "MEDIO",
          "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO": "",
          "MOTIVO DO ACOMPANHAMENTO": "HIPERTENSAO ARTERIAL",
          "CID PRINCIPAL": "I15",
          "GRUPO DE DOENCAS": "DOENCA DO APARELHO CIRCULATORIO",
          "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS": "HIPERCOLESTEROLEMIA / HIPOTIREOIDISMO / BRONCOESPASMO /  /  /  / ",
          "CIDS SECUNDÁRIOS": "",
          "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO": "",
          "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE": "",
          "UTI": "",
          "DATA DO ULTIMO CONTATO": 45302,
          "RESPONSAVEL PELO CONTATO": "THAYNAN LIMA",
          "HISTORICO DO CONTATO": "12",
          "STATUS DO ACOMPANHAMENTO MAIS RECENTE": "ACOMPANHAMENTO SEM SUCESSO",
          "OBSERVAÇÕES": "NAO POSSUI WHATSAPP",
          "AGENDA SUGERIDA PARA PROXIMO CONTATO": 45432,
          "DATA DE FINALIZACAO": "",
          "CAPTADO VIA": "",
          "ID": 6,
          "GRUPO DE DISPARO DE MATERIAL - BOT": "2. Do Sistema Cardiológico e Circulatório",
          "STATUS DA TRIAGEM": "RECUPERADO",
          "TELEFONES DE CONTATO": "2124730163 / 2124730163",
          "PHONE": "2124730163",
          "FAIXA ETÁRIA": "59 +",
          "FIM": "",
          "WHATSAPP CADASTRADO": "SEM WHATSAPP",
          "MEDICAMENTO": "",
          "PESO(KG)": "",
          "ALTURA(CM)": "",
          "MEDE OBESIDADE": "",
          "AFERE GLICOSE": "",
          "MEDE DIABETES": "",
          "AFERE PRESSAO": "",
          "MEDE HIPERTENSAO": "",
          "MEDICO ESPECIALISTA": "",
          "QUEIXA RELATADA": "",
          "REMEDIO_BOT": "",
          "PATOLOGIA_BOT": "",
          "OBESIDADE_BOT": "",
          "DIABETES_BOT": "",
          "PRESSAO_BOT": "",
          "ACOMPANHAMENTO_BOT": "",
          "SINTOMA_BOT": "",
          "LGPD_BOT": "",
          "CHECKUP_BOT": "",
          "CRONICO_BOT": "",
          "OBSERVACAO_BOT": "",
          "DATA_CHAMADO_BOT": "",
          "DATA_INTERACAO_BOT": "",
          "LIGACAO_SOLICITADA_BOT": "",
          "DATA_SOLICITACAO_LIGACAO_BOT": ""
        }
      }
    ],
    "HTTP Request Verificar se é wpp válido1": [
      {
        "json": {
          "exists": true,
          "phone": 5521924730163
        }
      },
      {
        "json": {
          "exists": false,
          "phone": null
        }
      }
    ],
    "Google Sheets3": [
      {
        "json": {
          "row_number": 7,
          "EMPRESA DO BENEFICIARIO": "ASTCERJ",
          "TIPO CONTRATANTE": "ASSOCIACAO",
          "EMPRESA CONTRATANTE": "MEDI",
          "OPERADORA DE SAUDE": "AMIL",
          "NOME DO PROGRAMA": "ASTCERJ SAUDE",
          "MATRICULA DE UTILIZACAO NO PLANO": "972499431",
          "COD PRODUTO": "",
          "NOME DO BENEFICIARIO": "ILDA NEVES GONZAGA",
          "ENTRADA NO PROGRAMA": "23/08/2017",
          "TIT/DEP": "DEPENDENTE",
          "DATA DE NASCIMENTO": "11/06/1930",
          "IDADE": 94,
          "SEXO": "FEMININO",
          "UF": "",
          "NOME DO TITULAR": "ADELEA NEVES GONZAGA BARBOSA",
          "RESPONSAVEL": "ADELEA",
          "GRAU DE PARENTESCO DO RESPONSAVEL": "FILHO (A)",
          "PROGRAMA DE ATENCAO": "SENIORS",
          "GRAU DE RISCO": "MEDIO",
          "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO": "",
          "MOTIVO DO ACOMPANHAMENTO": "HIPERTENSAO ARTERIAL",
          "CID PRINCIPAL": "I15",
          "GRUPO DE DOENCAS": "DOENCA DO APARELHO CIRCULATORIO",
          "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS": "HIPERCOLESTEROLEMIA / HIPOTIREOIDISMO / BRONCOESPASMO /  /  /  / ",
          "CIDS SECUNDÁRIOS": "",
          "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO": "",
          "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE": "",
          "UTI": "",
          "DATA DO ULTIMO CONTATO": "11/01/2024",
          "RESPONSAVEL PELO CONTATO": "THAYNAN LIMA",
          "HISTORICO DO CONTATO": "SWELEN 27/04/2020\nEM CONTATO 21994786483 SRA ADELEA (FILHA) INFORMOU BENEFICIARIA ESTAVEL, SEM INTERCORRENCIAS. ACOMPANHAMENTO TRIMESTRAL COM CARDIOLOGISTA, ENDOCRINOLOGISTA E ORTOPEDISTA. EM USO DE CORDAREX, SOMALGIN CARDIO 81, DIOSMIN, NIMOVAS 30, LAMOTRIGINA, PURAN 50MG, SINVASTATINA 20 E CENTRUM PARA HIPERTENSAO ARTERIAL, INSUFICIENCIA VASCULAR, DEPRESSAO, HIPOTIREOIDISMO, HIPERCOLESTEROLEMIA E SUPLIMENTO POIS APRESENTA POUCO APETITE E ALIMENTAÇAO IRREGULAR. TOMOU VACINA CONTRA GRIPE. RESPEITANDO O DISTANCIAMENTO SOCIAL. PERMANECE MEDIDAS.\n\n********************************************\n\nGABRIELE GONCALVES 14/07/2021\nEM CONTATO COM A BENEFICIARIA, SEM SUCESSO, DA ERRO, NAO POSSUI WHATSAPP. \n\n********************************************\n\nGABRIELE GONCALVES 18/08/2021\nEM CONTATO SEM SUCESSO, FICA MUDO. 2 TENTATIVAS \n\n**********************************\nGIZELE LOPES 20/08/2021\n\nEM CONTATO COM 21 24730163, Sr.ª ADELEA (FILHA) INFORMOU QUE A BENEFICIARIA FAZ ACOMPANHAMENTO COM CARDIOLOGISTA ANUALMENTE, NEUROLOGISTA SEMESTRALMENTE, FEZ RESSONANCIA DO CRANIO A POUCO TEMPO, FEZ AS DUAS DOSES DA VACINA CONTRA COVID19 (CORONAVAC), FEZ A VACINA DA GRIPE, FEZ A VACINA DA PNEUMONIA, NAO POSSUI INDICACAO PARA REALIZAR PROCEDIMENTOS E EXAMES DE ALTAS COMPLEXIDADES. FAZ USO DAS MESMAS MEDICACOES NÃO HOUVE MUDANCA. \n\nAMANDA SALDANHA 21/10\n\nEM CONTATO COM 21 994786483, BENEFICIARIA INFORMA QUE ESTA EM ACOMPANHAMENTO MEDICO COM ONCOLOGISTA MENSAL, RECEBEU EM JULH9O DIAGNOSTICO DE LEUCEMIA, TRANSPLANTE DE MEDULA EM JANEIRO, REALIZOU QUIOMIOTERAPIA DEZ/2020 E RADIOTERAPIA 15 SESSOES TAMBÉM EM 2020, NEGA CIRURGIAS E EXAMES DE ALTA COMPLEXIDADE, FAZ USO DE VARIOS MEDICAMENTOS CONTINUOS, REFERE HAS E DIABETES MELLITUS, MEDIDAS ANTROPOMETRICAS 64KG E 1,57CM, REALIZOU AS TRES DOSES DA VACINA CONTRA O COVID19.\n\nGIZELE LOPES 23/11/2021\n\nEM CONTATO COM 21 24730163, SEM SUCESSO SO CHAMA E CAI. \n\nGIZELE LOPES 25/11/2021\n \nEM CONTATO COM 21 24730163, SR.ª ADELEA (FILHA) INFORMOU QUE A BENEFICIARIA ESTA ESTAVEL, EM USO DE CORDAREX, PURAN T4 50 MG, ZICOG PARA MEMORIA, CENTRUM, SINVASTATINA, SOMALGIN CARDIO, \nLAMOTIGINA, DIOSMIN PARA MMII, PESO: 64 KG, ALTURA: 1,57 M, TEM TIO PROBLEMAS COM RELACAO A MEMORIA, NAO PASSOU MAIORES INFORMACOES. \n\nAMANDA SALDANHA 250322\n\nEM CONTATO 2124730163, SSRA ADELEA, INFORMA QUE NO DIA 23 DE DEZEMBRO DE 2021, BENEFICIARIA REALIZOU UMA CIRURGIA DEVIDO A FRATURA NA CABEÇA DO FEMUR DIREITO, UTILIZOU PROTESE, EM FISIOTERAPIA 3X POR SEMANA, DEAMBULA COM ANDADOR. EM USO DE CORDAREX, PURAN T4 50 MG, ZICOG PARA MEMORIA, CENTRUM, SINVASTATINA, SOMALGIN CARDIO, \nLAMOTIGINA, DIOSMIN PARA MMII, PESO: 64 KG, ALTURA: 1,57 M, CARTEIRA DE VACINACAO EM DIA. ACOMPANHAMENTO MEDICO COM CARDIOLOGISTA E NEUROLOGISTA. NEGA INDICACOES CIRURGIAS E EXAMES DE ALTA COMPLEXIDADES. \n\n\nKAROLINE RODRIGUES 26/07/2022\n\nEM CONTATO PELO NÚMERO 21 24730163\nSRA. ADELEIA INFORMA QUE BENEFICIÁRIA ENCONTRASE ESTÁVEL, INFORMA QUE DEVIDO A QUEDA EM DEZEMBRO QUEBROU A CABEÇA DO FEMUR DIREITO E PRECISOU PASSAR POR PROCEDIMENTOS, ATUALMENTE ENCONTRASE EM RECUPERAÇÃO, REALIZA ACOMPANHAEMENTO MÉDICO COM GERIATRA, REALIZA USO DOS MESMOS MEDICAMENTOS CONTÍNUOS SEM ALTERAÇÕES, NEGA INDICAÇÃO PARA CIRURGIA E IRÁ REALIZAR EXAMES DE ROTINA, NÃO RECEBEU DIAGNOSTICOS MÉDICO RECENTEMENTE, INFORMA VACINAS EM DIA E SEM MAIS INFORMAÇÕES\n\nAMANDA SALDANHA 291122\n\nEM CONTATO COM21 24730163, CHAMA ATE CAIR. \n\n\nAMANDA SALDANHA 100323\n\nEM CONTATO COM 21 24730163, CHAMA ATE CAIR.\nENVIADO MENSAGEM\n\n_____________________//____________________\nTHAYNAN LIMA 11/01/2024\nEM CONTATOP COM O NUMERO 2124730163 , GRAVE SEU RECADO 3 TENTATIVA SEM SUCESSO",
          "STATUS DO ACOMPANHAMENTO MAIS RECENTE": "ACOMPANHAMENTO SEM SUCESSO",
          "OBSERVAÇÕES": "NAO POSSUI WHATSAPP",
          "AGENDA SUGERIDA PARA PROXIMO CONTATO": "20/05/2024",
          "DATA DE FINALIZACAO": "",
          "CAPTADO VIA": "",
          "ID": 6,
          "GRUPO DE DISPARO DE MATERIAL - BOT": "2. Do Sistema Cardiológico e Circulatório",
          "STATUS DA TRIAGEM": "RECUPERADO",
          "TELEFONES DE CONTATO": "2124730163",
          "PHONE": "2124730163",
          "FAIXA ETÁRIA": "59 +",
          "FIM": "",
          "WHATSAPP CADASTRADO": "SEM WHATSAPP",
          "MEDICAMENTO": "",
          "PESO(KG)": "",
          "ALTURA(CM)": "",
          "MEDE OBESIDADE": "",
          "AFERE GLICOSE": "",
          "MEDE DIABETES": "",
          "AFERE PRESSAO": "",
          "MEDE HIPERTENSAO": "",
          "MEDICO ESPECIALISTA": "",
          "QUEIXA RELATADA": "",
          "REMEDIO_BOT": "",
          "PATOLOGIA_BOT": "",
          "OBESIDADE_BOT": "",
          "DIABETES_BOT": "",
          "PRESSAO_BOT": "",
          "ACOMPANHAMENTO_BOT": "",
          "SINTOMA_BOT": "",
          "LGPD_BOT": "",
          "CHECKUP_BOT": "",
          "CRONICO_BOT": "",
          "OBSERVACAO_BOT": "",
          "DATA_CHAMADO_BOT": "",
          "DATA_INTERACAO_BOT": "",
          "LIGACAO_SOLICITADA_BOT": "",
          "DATA_SOLICITACAO_LIGACAO_BOT": ""
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      }
    ],
    "HTTP Request Verificar se é wpp válido": [
      {
        "json": {
          "exists": true,
          "phone": null
        }
      }
    ],
    "Google Sheets4": [
      {
        "json": {
          "row_number": 7,
          "EMPRESA DO BENEFICIARIO": "ASTCERJ",
          "TIPO CONTRATANTE": "ASSOCIACAO",
          "EMPRESA CONTRATANTE": "MEDI",
          "OPERADORA DE SAUDE": "AMIL",
          "NOME DO PROGRAMA": "ASTCERJ SAUDE",
          "MATRICULA DE UTILIZACAO NO PLANO": "972499431",
          "COD PRODUTO": "",
          "NOME DO BENEFICIARIO": "ILDA NEVES GONZAGA",
          "ENTRADA NO PROGRAMA": "23/08/2017",
          "TIT/DEP": "DEPENDENTE",
          "DATA DE NASCIMENTO": "11/06/1930",
          "IDADE": 94,
          "SEXO": "FEMININO",
          "UF": "",
          "NOME DO TITULAR": "ADELEA NEVES GONZAGA BARBOSA",
          "RESPONSAVEL": "ADELEA",
          "GRAU DE PARENTESCO DO RESPONSAVEL": "FILHO (A)",
          "PROGRAMA DE ATENCAO": "SENIORS",
          "GRAU DE RISCO": "MEDIO",
          "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO": "",
          "MOTIVO DO ACOMPANHAMENTO": "HIPERTENSAO ARTERIAL",
          "CID PRINCIPAL": "I15",
          "GRUPO DE DOENCAS": "DOENCA DO APARELHO CIRCULATORIO",
          "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS": "HIPERCOLESTEROLEMIA / HIPOTIREOIDISMO / BRONCOESPASMO /  /  /  / ",
          "CIDS SECUNDÁRIOS": "",
          "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO": "",
          "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE": "",
          "UTI": "",
          "DATA DO ULTIMO CONTATO": "11/01/2024",
          "RESPONSAVEL PELO CONTATO": "THAYNAN LIMA",
          "HISTORICO DO CONTATO": "SWELEN 27/04/2020\nEM CONTATO 21994786483 SRA ADELEA (FILHA) INFORMOU BENEFICIARIA ESTAVEL, SEM INTERCORRENCIAS. ACOMPANHAMENTO TRIMESTRAL COM CARDIOLOGISTA, ENDOCRINOLOGISTA E ORTOPEDISTA. EM USO DE CORDAREX, SOMALGIN CARDIO 81, DIOSMIN, NIMOVAS 30, LAMOTRIGINA, PURAN 50MG, SINVASTATINA 20 E CENTRUM PARA HIPERTENSAO ARTERIAL, INSUFICIENCIA VASCULAR, DEPRESSAO, HIPOTIREOIDISMO, HIPERCOLESTEROLEMIA E SUPLIMENTO POIS APRESENTA POUCO APETITE E ALIMENTAÇAO IRREGULAR. TOMOU VACINA CONTRA GRIPE. RESPEITANDO O DISTANCIAMENTO SOCIAL. PERMANECE MEDIDAS.\n\n********************************************\n\nGABRIELE GONCALVES 14/07/2021\nEM CONTATO COM A BENEFICIARIA, SEM SUCESSO, DA ERRO, NAO POSSUI WHATSAPP. \n\n********************************************\n\nGABRIELE GONCALVES 18/08/2021\nEM CONTATO SEM SUCESSO, FICA MUDO. 2 TENTATIVAS \n\n**********************************\nGIZELE LOPES 20/08/2021\n\nEM CONTATO COM 21 24730163, Sr.ª ADELEA (FILHA) INFORMOU QUE A BENEFICIARIA FAZ ACOMPANHAMENTO COM CARDIOLOGISTA ANUALMENTE, NEUROLOGISTA SEMESTRALMENTE, FEZ RESSONANCIA DO CRANIO A POUCO TEMPO, FEZ AS DUAS DOSES DA VACINA CONTRA COVID19 (CORONAVAC), FEZ A VACINA DA GRIPE, FEZ A VACINA DA PNEUMONIA, NAO POSSUI INDICACAO PARA REALIZAR PROCEDIMENTOS E EXAMES DE ALTAS COMPLEXIDADES. FAZ USO DAS MESMAS MEDICACOES NÃO HOUVE MUDANCA. \n\nAMANDA SALDANHA 21/10\n\nEM CONTATO COM 21 994786483, BENEFICIARIA INFORMA QUE ESTA EM ACOMPANHAMENTO MEDICO COM ONCOLOGISTA MENSAL, RECEBEU EM JULH9O DIAGNOSTICO DE LEUCEMIA, TRANSPLANTE DE MEDULA EM JANEIRO, REALIZOU QUIOMIOTERAPIA DEZ/2020 E RADIOTERAPIA 15 SESSOES TAMBÉM EM 2020, NEGA CIRURGIAS E EXAMES DE ALTA COMPLEXIDADE, FAZ USO DE VARIOS MEDICAMENTOS CONTINUOS, REFERE HAS E DIABETES MELLITUS, MEDIDAS ANTROPOMETRICAS 64KG E 1,57CM, REALIZOU AS TRES DOSES DA VACINA CONTRA O COVID19.\n\nGIZELE LOPES 23/11/2021\n\nEM CONTATO COM 21 24730163, SEM SUCESSO SO CHAMA E CAI. \n\nGIZELE LOPES 25/11/2021\n \nEM CONTATO COM 21 24730163, SR.ª ADELEA (FILHA) INFORMOU QUE A BENEFICIARIA ESTA ESTAVEL, EM USO DE CORDAREX, PURAN T4 50 MG, ZICOG PARA MEMORIA, CENTRUM, SINVASTATINA, SOMALGIN CARDIO, \nLAMOTIGINA, DIOSMIN PARA MMII, PESO: 64 KG, ALTURA: 1,57 M, TEM TIO PROBLEMAS COM RELACAO A MEMORIA, NAO PASSOU MAIORES INFORMACOES. \n\nAMANDA SALDANHA 250322\n\nEM CONTATO 2124730163, SSRA ADELEA, INFORMA QUE NO DIA 23 DE DEZEMBRO DE 2021, BENEFICIARIA REALIZOU UMA CIRURGIA DEVIDO A FRATURA NA CABEÇA DO FEMUR DIREITO, UTILIZOU PROTESE, EM FISIOTERAPIA 3X POR SEMANA, DEAMBULA COM ANDADOR. EM USO DE CORDAREX, PURAN T4 50 MG, ZICOG PARA MEMORIA, CENTRUM, SINVASTATINA, SOMALGIN CARDIO, \nLAMOTIGINA, DIOSMIN PARA MMII, PESO: 64 KG, ALTURA: 1,57 M, CARTEIRA DE VACINACAO EM DIA. ACOMPANHAMENTO MEDICO COM CARDIOLOGISTA E NEUROLOGISTA. NEGA INDICACOES CIRURGIAS E EXAMES DE ALTA COMPLEXIDADES. \n\n\nKAROLINE RODRIGUES 26/07/2022\n\nEM CONTATO PELO NÚMERO 21 24730163\nSRA. ADELEIA INFORMA QUE BENEFICIÁRIA ENCONTRASE ESTÁVEL, INFORMA QUE DEVIDO A QUEDA EM DEZEMBRO QUEBROU A CABEÇA DO FEMUR DIREITO E PRECISOU PASSAR POR PROCEDIMENTOS, ATUALMENTE ENCONTRASE EM RECUPERAÇÃO, REALIZA ACOMPANHAEMENTO MÉDICO COM GERIATRA, REALIZA USO DOS MESMOS MEDICAMENTOS CONTÍNUOS SEM ALTERAÇÕES, NEGA INDICAÇÃO PARA CIRURGIA E IRÁ REALIZAR EXAMES DE ROTINA, NÃO RECEBEU DIAGNOSTICOS MÉDICO RECENTEMENTE, INFORMA VACINAS EM DIA E SEM MAIS INFORMAÇÕES\n\nAMANDA SALDANHA 291122\n\nEM CONTATO COM21 24730163, CHAMA ATE CAIR. \n\n\nAMANDA SALDANHA 100323\n\nEM CONTATO COM 21 24730163, CHAMA ATE CAIR.\nENVIADO MENSAGEM\n\n_____________________//____________________\nTHAYNAN LIMA 11/01/2024\nEM CONTATOP COM O NUMERO 2124730163 , GRAVE SEU RECADO 3 TENTATIVA SEM SUCESSO",
          "STATUS DO ACOMPANHAMENTO MAIS RECENTE": "ACOMPANHAMENTO SEM SUCESSO",
          "OBSERVAÇÕES": "NAO POSSUI WHATSAPP",
          "AGENDA SUGERIDA PARA PROXIMO CONTATO": "20/05/2024",
          "DATA DE FINALIZACAO": "",
          "CAPTADO VIA": "",
          "ID": 6,
          "GRUPO DE DISPARO DE MATERIAL - BOT": "2. Do Sistema Cardiológico e Circulatório",
          "STATUS DA TRIAGEM": "RECUPERADO",
          "TELEFONES DE CONTATO": "2124730163",
          "PHONE": "2124730163",
          "FAIXA ETÁRIA": "59 +",
          "FIM": "",
          "WHATSAPP CADASTRADO": "SEM WHATSAPP",
          "MEDICAMENTO": "",
          "PESO(KG)": "",
          "ALTURA(CM)": "",
          "MEDE OBESIDADE": "",
          "AFERE GLICOSE": "",
          "MEDE DIABETES": "",
          "AFERE PRESSAO": "",
          "MEDE HIPERTENSAO": "",
          "MEDICO ESPECIALISTA": "",
          "QUEIXA RELATADA": "",
          "REMEDIO_BOT": "",
          "PATOLOGIA_BOT": "",
          "OBESIDADE_BOT": "",
          "DIABETES_BOT": "",
          "PRESSAO_BOT": "",
          "ACOMPANHAMENTO_BOT": "",
          "SINTOMA_BOT": "",
          "LGPD_BOT": "",
          "CHECKUP_BOT": "",
          "CRONICO_BOT": "",
          "OBSERVACAO_BOT": "",
          "DATA_CHAMADO_BOT": "",
          "DATA_INTERACAO_BOT": "",
          "LIGACAO_SOLICITADA_BOT": "",
          "DATA_SOLICITACAO_LIGACAO_BOT": ""
        }
      }
    ],
    "Google Sheets": [
      {
        "json": {
          "EMPRESA DO BENEFICIARIO": "ASTCERJ",
          "TIPO CONTRATANTE": "ASSOCIACAO",
          "EMPRESA CONTRATANTE": "MEDI",
          "OPERADORA DE SAUDE": "AMIL",
          "NOME DO PROGRAMA": "ASTCERJ SAUDE",
          "MATRICULA DE UTILIZACAO NO PLANO": "972499431",
          "COD PRODUTO": "",
          "NOME DO BENEFICIARIO": "ILDA NEVES GONZAGA",
          "ENTRADA NO PROGRAMA": 42970,
          "TIT/DEP": "DEPENDENTE",
          "DATA DE NASCIMENTO": 11120,
          "IDADE": 94,
          "SEXO": "FEMININO",
          "UF": "",
          "NOME DO TITULAR": "ADELEA NEVES GONZAGA BARBOSA",
          "RESPONSAVEL": "ADELEA",
          "GRAU DE PARENTESCO DO RESPONSAVEL": "FILHO (A)",
          "PROGRAMA DE ATENCAO": "SENIORS",
          "GRAU DE RISCO": "MEDIO",
          "DATA PROVAVEL DO PARTO // CIRURGIA // INTERNACAO": "",
          "MOTIVO DO ACOMPANHAMENTO": "HIPERTENSAO ARTERIAL",
          "CID PRINCIPAL": "I15",
          "GRUPO DE DOENCAS": "DOENCA DO APARELHO CIRCULATORIO",
          "DESCRIÇÃO DOS MOTIVOS SECUNDÁRIOS": "HIPERCOLESTEROLEMIA / HIPOTIREOIDISMO / BRONCOESPASMO /  /  /  / ",
          "CIDS SECUNDÁRIOS": "",
          "DATA CONFIRMADA DO ÚLTIMO PARTO // CIRURGIA // INTERNACAO": "",
          "ÚLTIMO PARTO // CIRURGIA // INTERNACAO ACOMPANHADO PELA EQUIPE": "",
          "UTI": "",
          "DATA DO ULTIMO CONTATO": 45302,
          "RESPONSAVEL PELO CONTATO": "THAYNAN LIMA",
          "HISTORICO DO CONTATO": "12",
          "STATUS DO ACOMPANHAMENTO MAIS RECENTE": "ACOMPANHAMENTO SEM SUCESSO",
          "OBSERVAÇÕES": "NAO POSSUI WHATSAPP",
          "AGENDA SUGERIDA PARA PROXIMO CONTATO": 45432,
          "DATA DE FINALIZACAO": "",
          "CAPTADO VIA": "",
          "ID": 6,
          "GRUPO DE DISPARO DE MATERIAL - BOT": "2. Do Sistema Cardiológico e Circulatório",
          "STATUS DA TRIAGEM": "RECUPERADO",
          "TELEFONES DE CONTATO": "2124730163",
          "PHONE": "2124730163",
          "FAIXA ETÁRIA": "59 +",
          "FIM": "",
          "WHATSAPP CADASTRADO": "SEM WHATSAPP",
          "MEDICAMENTO": "",
          "PESO(KG)": "",
          "ALTURA(CM)": "",
          "MEDE OBESIDADE": "",
          "AFERE GLICOSE": "",
          "MEDE DIABETES": "",
          "AFERE PRESSAO": "",
          "MEDE HIPERTENSAO": "",
          "MEDICO ESPECIALISTA": "",
          "QUEIXA RELATADA": "",
          "REMEDIO_BOT": "",
          "PATOLOGIA_BOT": "",
          "OBESIDADE_BOT": "",
          "DIABETES_BOT": "",
          "PRESSAO_BOT": "",
          "ACOMPANHAMENTO_BOT": "",
          "SINTOMA_BOT": "",
          "LGPD_BOT": "",
          "CHECKUP_BOT": "",
          "CRONICO_BOT": "",
          "OBSERVACAO_BOT": "",
          "DATA_CHAMADO_BOT": "",
          "DATA_INTERACAO_BOT": "",
          "LIGACAO_SOLICITADA_BOT": "",
          "DATA_SOLICITACAO_LIGACAO_BOT": ""
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-11T21:50:39.405Z",
      "updatedAt": "2024-01-11T21:50:39.405Z",
      "id": "RvIHquTBgwK9F8iE",
      "name": "Medi"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-12T00:07:23.000Z",
  "versionId": "c0183e0b-f158-4436-94d3-cad11941ae2c"
}