workflows/teste cal.json
{
  "active": true,
  "connections": {
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request Cadastrar Usuario BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cadastrar Usuario BC": {
      "main": [
        [
          {
            "node": "LINK DE REAGENDAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATA DATA": {
      "main": [
        [
          {
            "node": "ATUALIZA CAMPO DATA FORMATADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA CAMPO DATA FORMATADA": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "CADASTRA HORA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CADASTRA HORA": {
      "main": [
        [
          {
            "node": "HTTP Request Enviar Fluxo BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINK DE REAGENDAMENTO": {
      "main": [
        [
          {
            "node": "FORMATA DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-06T12:45:00.656Z",
  "id": "l1OtgNrtkFu96HFU",
  "meta": null,
  "name": "teste cal",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "id": "e911bf7c-bcc4-4ac1-a21e-27ffe1e9043f",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        280,
        180
      ],
      "webhookId": "f90e7310-5475-4d30-9bce-edc392ad751a",
      "credentials": {
        "calendlyApi": {
          "id": "JftL0JtjFDIwdLBg",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.payload.last_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "03f17152-8bf9-4a63-b7c3-f576043695c5",
      "name": "HTTP Request Cadastrar Usuario BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/326910440/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            },
            {
              "name": "subscriber"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": 2880368
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "64f5eb62-9362-468e-ae28-99aa00348481",
      "name": "HTTP Request Enviar Fluxo BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "HORAFORMATADA",
        "options": {
          "timezone": true
        }
      },
      "id": "7809e7a9-f885-4cc3-8a49-0f22702cce03",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "DATAFORMATADA",
        "options": {
          "timezone": true
        }
      },
      "id": "fd80bf9d-3e40-445c-af93-f1dac73b6755",
      "name": "FORMATA DATA",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        800,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/244078404/custom_fields/1622175/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.DATAFORMATADA }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d141c6c0-9fd8-474b-8e65-123adecccee1",
      "name": "ATUALIZA CAMPO DATA FORMATADA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/326910440/custom_fields/1622181/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.HORAFORMATADA }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3afc767-b8d2-4332-bcaf-71529d447274",
      "name": "CADASTRA HORA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/244078404/custom_fields/1626889/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "= {{ $('Calendly Trigger').item.json.payload.reschedule_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e32feb3-1877-4715-9fdc-d83d2ab29c7a",
      "name": "LINK DE REAGENDAMENTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        180
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/89908c1f-30e4-422b-830d-4ea4d34685c4"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-08T15:18:20.000Z",
  "versionId": "590d93dc-12fb-4022-bd16-daf2b1a3dfc0"
}