workflows/teste cal.json
{
  "active": false,
  "connections": {
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request Cadastrar Usuario BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Cadastrar Usuario BC": {
      "main": [
        [
          {
            "node": "HTTP Request Atualizar campo do usuario BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-06T12:45:00.656Z",
  "id": "l1OtgNrtkFu96HFU",
  "meta": null,
  "name": "teste cal",
  "nodes": [
    {
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "id": "e911bf7c-bcc4-4ac1-a21e-27ffe1e9043f",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        420,
        180
      ],
      "webhookId": "f90e7310-5475-4d30-9bce-edc392ad751a",
      "credentials": {
        "calendlyApi": {
          "id": "JftL0JtjFDIwdLBg",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/336811849/custom_fields/1596032/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=AG-Momento-Escolhido",
              "value": "={{ $('Calendly Trigger').item.json.payload.scheduled_event.end_time }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d141c6c0-9fd8-474b-8e65-123adecccee1",
      "name": "HTTP Request Atualizar campo do usuario BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "last_name",
              "value": "=."
            }
          ]
        },
        "options": {}
      },
      "id": "03f17152-8bf9-4a63-b7c3-f576043695c5",
      "name": "HTTP Request Cadastrar Usuario BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/336811849/send_flow/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": 2809836
            }
          ]
        },
        "options": {}
      },
      "id": "64f5eb62-9362-468e-ae28-99aa00348481",
      "name": "HTTP Request Enviar Fluxo BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        160
      ]
    }
  ],
  "pinData": {
    "Calendly Trigger": [
      {
        "json": {
          "created_at": "2023-12-07T00:20:26.000000Z",
          "created_by": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
          "event": "invitee.created",
          "payload": {
            "cancel_url": "https://calendly.com/cancellations/6d3614a8-fc68-406b-88d6-4fdae17e0aef",
            "created_at": "2023-12-07T00:20:25.635158Z",
            "email": "oliveiraleticia2702@gmail.com",
            "event": "https://api.calendly.com/scheduled_events/351b07d9-d44c-45aa-9850-35a9a632e779",
            "first_name": null,
            "invitee_scheduled_by": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
            "last_name": null,
            "name": "Leticia Oliveira",
            "new_invitee": null,
            "no_show": null,
            "old_invitee": null,
            "payment": null,
            "questions_and_answers": [
              {
                "answer": "+55 21 97881-3974",
                "position": 1,
                "question": "WhatsApp"
              }
            ],
            "reconfirmation": null,
            "reschedule_url": "https://calendly.com/reschedulings/6d3614a8-fc68-406b-88d6-4fdae17e0aef",
            "rescheduled": false,
            "routing_form_submission": null,
            "scheduled_event": {
              "created_at": "2023-12-07T00:20:25.621145Z",
              "end_time": "2023-12-21T13:30:00.000000Z",
              "event_guests": [],
              "event_memberships": [
                {
                  "user": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
                  "user_email": "vinicius.faustinoni2022@gmail.com"
                }
              ],
              "event_type": "https://api.calendly.com/event_types/563ad4a1-e1cd-47ae-8c1f-05626f5391fa",
              "invitees_counter": {
                "total": 1,
                "active": 1,
                "limit": 1
              },
              "location": {
                "location": null,
                "type": "custom"
              },
              "name": "Marcação de Horário",
              "start_time": "2023-12-21T12:30:00.000000Z",
              "status": "active",
              "updated_at": "2023-12-07T00:20:25.621145Z",
              "uri": "https://api.calendly.com/scheduled_events/351b07d9-d44c-45aa-9850-35a9a632e779"
            },
            "scheduling_method": null,
            "status": "active",
            "text_reminder_number": null,
            "timezone": "America/Sao_Paulo",
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "updated_at": "2023-12-07T00:20:25.635158Z",
            "uri": "https://api.calendly.com/scheduled_events/351b07d9-d44c-45aa-9850-35a9a632e779/invitees/6d3614a8-fc68-406b-88d6-4fdae17e0aef"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/1c0e0ce0-432c-4234-b087-4acf522d3a10"
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-12-07T00:25:55.000Z",
  "versionId": "1fb03e5b-c8e7-4640-ba85-50aa330bd5d1"
}