workflows/TESTE SIMULADOR.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LÊ PLANILHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LÊ PLANILHA": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-04T22:10:57.034Z",
  "id": "uYcKR6sExO7JQcwe",
  "meta": null,
  "name": "TESTE SIMULADOR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1dfb573-a01a-4037-abf2-011a11e47f8e",
        "options": {}
      },
      "id": "b0cfe07d-e6b5-4e64-a52a-cb692d1794cd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        180
      ],
      "webhookId": "e1dfb573-a01a-4037-abf2-011a11e47f8e"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk",
          "mode": "list",
          "cachedResultName": "SIMULADOR - PROTÓTIPO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "IDADE",
              "lookupValue": "={{ $json.body['FAIXA ETÁRIA'] }}"
            },
            {
              "lookupColumn": "={{ $json.body['ID DO PLANO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1623639e-fd86-40e8-bcf2-796bac24b0e9",
      "name": "LÊ PLANILHA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        720,
        180
      ],
      "credentials": {
        "googleApi": {
          "id": "zbnWu7CX265Tgd9a",
          "name": "SIMULADOR (TESTE)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Receba a faixa etária e o ID do plano do input do nó anterior.\n// Substitua 'webhookData' pelo nome real do seu nó de entrada, se necessário.\nconst faixaEtariaDesejada = items[0].json[\"FAIXA ETÁRIA\"];\nconst idDoPlano = items[0].json[\"ID DO PLANO\"];\n\n// Encontre a linha correspondente.\nconst linhaCorrespondente = items.find(item => item.json.IDADE === faixaEtariaDesejada && item.json[idDoPlano] !== undefined);\n\n// Verifique se encontramos a linha.\nif (linhaCorrespondente) {\n  // Retorne o número da linha.\n  return [{ json: { \"numeroDaLinha\": linhaCorrespondente.json.row_number } }];\n} else {\n  // Se não encontrar, retorne um erro.\n  return [{ json: { \"erro\": \"A linha correspondente não foi encontrada.\" } }];\n}\n"
      },
      "id": "cdeb83a9-19c5-4d08-ae7c-51a18150ab8a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        180
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.row_number }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "7603696c-4096-46be-b467-c0a3b0a1b236",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        940,
        0
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "63",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "79406cbe704d423ca64458f00aa57017-88f2fff454bebc04-0",
            "x-forwarded-for": "54.232.132.212",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7836abec8c3d",
            "x-real-ip": "54.232.132.212"
          },
          "params": {},
          "query": {},
          "body": {
            "ID DO PLANO": "482.398/19-2",
            "FAIXA ETÁRIA": "29 A 33"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "LÊ PLANILHA": [
      {
        "json": {
          "row_number": 5,
          "IDADE": "29 A 33",
          "482.398/19-2": "R$ 225,67",
          "475.465/16-4": "R$246,18"
        },
        "pairedItem": [
          {
            "item": 0
          }
        ]
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-02T11:24:18.000Z",
  "versionId": "93d17bf7-9820-408b-b5ce-39bcfea84023"
}