workflows/TESTE SIMULADOR.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "LÊ PLANILHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LÊ PLANILHA": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "0 A 18",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "0 A ",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "29 A 33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0 A 18": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0 A ": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "29 A 33": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-04T22:10:57.034Z",
  "id": "uYcKR6sExO7JQcwe",
  "meta": null,
  "name": "TESTE SIMULADOR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1dfb573-a01a-4037-abf2-011a11e47f8e",
        "options": {}
      },
      "id": "b0cfe07d-e6b5-4e64-a52a-cb692d1794cd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        180
      ],
      "webhookId": "e1dfb573-a01a-4037-abf2-011a11e47f8e"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk",
          "mode": "list",
          "cachedResultName": "SIMULADOR - PROTÓTIPO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1257034181,
          "mode": "list",
          "cachedResultName": "Cópia de Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZL7sRjir8Mt2l2YBPr5Uuk2MUfnshfO4bsWLzQOIYNk/edit#gid=1257034181"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.body['ID DO PLANO'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1623639e-fd86-40e8-bcf2-796bac24b0e9",
      "name": "LÊ PLANILHA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        440,
        180
      ],
      "credentials": {
        "googleApi": {
          "id": "zbnWu7CX265Tgd9a",
          "name": "SIMULADOR (TESTE)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Substitua 'NOME DA COLUNA' pelo nome exato da coluna de onde você quer pegar o valor da quinta linha\nconst nomeDaColuna = \"{{ $json.body['ID DO PLANO'] }}\";\nconst Linha = items[{ $json.row_number }].json[nomeDaColuna]; // Indexação começa em 0, então o índice 4 é a quinta linha\n\nreturn [{ json: { \"VALOR NA QUINTA LINHA\": Linha } }];\n"
      },
      "id": "cdeb83a9-19c5-4d08-ae7c-51a18150ab8a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "ID",
              "stringValue": "={{ $json.body['ID DO PLANO'] }}"
            },
            {
              "name": "IDADE",
              "stringValue": "={{ $json.body['FAIXA ETÁRIA'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "241a5445-eff6-422b-9837-b76c0ce96b36",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        320,
        -60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "VALOR PLANO",
              "stringValue": "={{ $json['29 A 33'] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "b691879f-d8e0-445a-808a-f6ba656067bf",
      "name": "29 A 33",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        920,
        340
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "VALOR PLANO",
              "stringValue": "={{ $json['0 A 18'].replaceAll(\"R$\",\"\").replaceAll(\" \",\"\").replaceAll(\",\",\".\") }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "3d54e021-1a2d-40f5-8f88-e3bf588bcd88",
      "name": "0 A 18",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        920,
        -140
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Webhook').item.json.body['FAIXA ETÁRIA'] }}",
        "rules": {
          "rules": [
            {
              "value2": "0 A 18",
              "outputKey": "0"
            },
            {
              "value2": "19 A 23",
              "outputKey": "1"
            },
            {
              "value2": "24 A 28",
              "outputKey": "2"
            },
            {
              "value2": "29 A 33",
              "outputKey": "3"
            }
          ]
        }
      },
      "id": "f12aa1ad-ea79-4005-80d3-a93bb0824167",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        660,
        140
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "VALOR PLANO",
              "stringValue": "={{ $json['0 A 18'] }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "d40cf8d5-b386-41a0-a43a-419b6752fe60",
      "name": "0 A ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        920,
        20
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "valor formatado",
              "type": "numberValue",
              "numberValue": "={{ $json['VALOR PLANO'].replaceAll(\"R$\",\"\").replaceAll(\" \",\"\").replaceAll(\",\",\".\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1e8a3f3-0114-4337-a34a-7f6f76f6ae9a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1300,
        20
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "63",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "79406cbe704d423ca64458f00aa57017-88f2fff454bebc04-0",
            "x-forwarded-for": "54.232.132.212",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7836abec8c3d",
            "x-real-ip": "54.232.132.212"
          },
          "params": {},
          "query": {},
          "body": {
            "ID DO PLANO": "482.398/19-2",
            "FAIXA ETÁRIA": "0 A 18"
          }
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "headers": {
            "host": "n8n.mayarj.com",
            "user-agent": "python-requests/2.26.0",
            "content-length": "63",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "sentry-trace": "79406cbe704d423ca64458f00aa57017-88f2fff454bebc04-0",
            "x-forwarded-for": "54.232.132.212",
            "x-forwarded-host": "n8n.mayarj.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7836abec8c3d",
            "x-real-ip": "54.232.132.212"
          },
          "params": {},
          "query": {},
          "body": {
            "ID DO PLANO": "482.398/19-2",
            "FAIXA ETÁRIA": "29 A 33"
          },
          "ID": "482.398/19-2",
          "IDADE": "29 A 33"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-03T15:23:42.000Z",
  "versionId": "c0952163-a54a-4b53-bea6-bd21446691cb"
}