workflows/teste cal.json
{
  "active": true,
  "connections": {
    "FORMATA DATA": {
      "main": [
        [
          {
            "node": "ATUALIZA CAMPO DATA FORMATADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA CAMPO DATA FORMATADA": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "CADASTRA HORA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CADASTRA HORA": {
      "main": [
        [
          {
            "node": "HTTP Request Enviar Fluxo BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINK DE REAGENDAMENTO": {
      "main": [
        [
          {
            "node": "FORMATA DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "LINK DE REAGENDAMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Nome e telefone para validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Trigger1": {
      "main": [
        []
      ]
    },
    "Nome e telefone para validar": {
      "main": [
        [
          {
            "node": "Formatando Nome e Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatando Nome e Telefone": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-06T12:45:00.656Z",
  "id": "l1OtgNrtkFu96HFU",
  "meta": null,
  "name": "teste cal",
  "nodes": [
    {
      "parameters": {
        "scope": "organization",
        "events": [
          "invitee.created"
        ]
      },
      "id": "e911bf7c-bcc4-4ac1-a21e-27ffe1e9043f",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        180
      ],
      "webhookId": "f90e7310-5475-4d30-9bce-edc392ad751a",
      "credentials": {
        "calendlyApi": {
          "id": "JftL0JtjFDIwdLBg",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.payload.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.payload.last_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "03f17152-8bf9-4a63-b7c3-f576043695c5",
      "name": "HTTP Request Cadastrar Usuario BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('HTTP Request').item.json.id }}/send_flow/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow",
              "value": 2880368
            }
          ]
        },
        "options": {}
      },
      "id": "64f5eb62-9362-468e-ae28-99aa00348481",
      "name": "HTTP Request Enviar Fluxo BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1760,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8gB5CQhoQFgqoYJ",
          "name": "BC - TESTES"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "HORAFORMATADA",
        "options": {
          "timezone": true
        }
      },
      "id": "7809e7a9-f885-4cc3-8a49-0f22702cce03",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "DATAFORMATADA",
        "options": {
          "timezone": true
        }
      },
      "id": "fd80bf9d-3e40-445c-af93-f1dac73b6755",
      "name": "FORMATA DATA",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        860,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('HTTP Request').item.json[\"id\"] }}/custom_fields/1622175/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.DATAFORMATADA }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d141c6c0-9fd8-474b-8e65-123adecccee1",
      "name": "ATUALIZA CAMPO DATA FORMATADA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8gB5CQhoQFgqoYJ",
          "name": "BC - TESTES"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/{{ $('HTTP Request').item.json[\"id\"] }}/custom_fields/1622181/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "={{ $json.HORAFORMATADA }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3afc767-b8d2-4332-bcaf-71529d447274",
      "name": "CADASTRA HORA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8gB5CQhoQFgqoYJ",
          "name": "BC - TESTES"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhook/subscriber/244078404/custom_fields/1626889/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "API-KEY",
              "value": "0e314400-da9a-434d-bcf3-f3d32f9e722c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "value",
              "value": "= {{ $('Calendly Trigger').item.json.payload.reschedule_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e32feb3-1877-4715-9fdc-d83d2ab29c7a",
      "name": "LINK DE REAGENDAMENTO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        180
      ]
    },
    {
      "parameters": {
        "url": "=https://backend.botconversa.com.br/api/v1/webhook/subscriber/get_by_phone/{{ $json[\"whatsapp\"] }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "315d3881-9301-42a8-960c-08a43e0c3146",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z8gB5CQhoQFgqoYJ",
          "name": "BC - TESTES"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "invitee.created"
        ]
      },
      "id": "ad66a8d2-df4e-4677-9a33-f744d896378b",
      "name": "Calendly Trigger1",
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "webhookId": "820edf65-c42b-4270-be89-3f52306c6f84",
      "credentials": {
        "calendlyApi": {
          "id": "JftL0JtjFDIwdLBg",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "nomeCompleto",
              "value": "={{ $json.payload.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc9b8aa5-86d7-4473-bf0f-9139326aae35",
      "name": "Nome e telefone para validar",
      "type": "n8n-nodes-base.set",
      "position": [
        -120,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Obter a string de nome completo do nó anterior\nconst nomeCompleto = items[0].json.nomeCompleto;\n\n// Função para separar o nome completo em nome e sobrenome\nfunction separarNomeSobrenome(nomeCompleto) {\n  // Verificar se o nome completo é uma string\n  if (typeof nomeCompleto !== 'string') {\n    throw new Error('O nome completo deve ser uma string.');\n  }\n\n  // Dividir o nome completo em palavras\n  const palavras = nomeCompleto.trim().split(' ');\n\n  // Verificar se há mais de uma palavra\n  if (palavras.length === 0) {\n    throw new Error('O nome completo deve conter pelo menos um nome.');\n  }\n\n  // Extrair o primeiro nome\n  const primeiroNome = palavras.shift();\n\n  // Extrair o sobrenome\n  const sobrenome = palavras.length > 0 ? palavras.join(' ') : '.';\n\n  // Formatar o nome e sobrenome com a primeira letra de cada palavra em maiúscula\n  const nomeFormatado = formatarNome(primeiroNome);\n  const sobrenomeFormatado = formatarNome(sobrenome);\n\n  return {\n    nome: nomeFormatado,\n    sobrenome: sobrenomeFormatado\n  };\n}\n\nfunction formatarNome(nome) {\n  return nome\n    .toLowerCase()\n    .split(' ')\n    .map((palavra) => palavra.charAt(0).toUpperCase() + palavra.slice(1))\n    .join(' ');\n}\n\n// Separar o nome completo em nome e sobrenome\nconst resultado = separarNomeSobrenome(nomeCompleto);\n\nvar whatsapp = items[0].json.telefone.replace(/\\D/g, '');\nvar ddd = whatsapp.slice(2,4);\nvar ddi = whatsapp.charAt(0);\nvar ddx = whatsapp.slice(0,2);\nvar length = whatsapp.length;\nif (length >= 12){\n  if (ddi == '+'){\n    ddi = whatsapp.slice(0,3);\n    whatsapp = parseInt(whatsapp.slice(3)).toString();\n  } else {\n    if (ddx == '55'){\n      whatsapp = parseInt(whatsapp.slice(2)).toString();\n      ddi = \"+55\";\n    } else {\n      whatsapp = parseInt(whatsapp).toString();\n      ddi = 'não informado';\n    }\n  }\n} else {\n  whatsapp = parseInt(whatsapp).toString();\n  ddi = 'não informado';\n}\n\nddd = whatsapp.slice(0,2);\nwhatsapp = whatsapp.slice(2);\nif (ddd > 28){\n  whatsapp = whatsapp.slice(-8);\n} else {\n  whatsapp = '9'+whatsapp.slice(-8);\n}\nvar whatsapp = '+55'+ddd+whatsapp;\n\n// Armazenar o nome e sobrenome nos campos desejados\nreturn {\n  json: {\n    Nome: resultado.nome,\n    Sobrenome: resultado.sobrenome,\n    NomeCompleto: resultado.nome+' '+resultado.sobrenome,\n    whatsapp\n  }\n};\n"
      },
      "id": "bae5c0ea-43f2-4c55-af20-032b4cdfb9a6",
      "name": "Formatando Nome e Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        140,
        180
      ]
    }
  ],
  "pinData": {
    "Calendly Trigger": [
      {
        "json": {
          "created_at": "2023-12-08T17:03:10.000000Z",
          "created_by": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
          "event": "invitee.created",
          "payload": {
            "cancel_url": "https://calendly.com/cancellations/efc9512f-ce43-4165-ad4d-5922fb9e5ca1",
            "created_at": "2023-12-08T17:03:09.710215Z",
            "email": "vinicius.faustinoni2022@gmail.com",
            "event": "https://api.calendly.com/scheduled_events/ebda83e0-1d45-4340-9b0f-5ffce3c63ce5",
            "first_name": "Marcus",
            "invitee_scheduled_by": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
            "last_name": "Freitas",
            "name": "Marcus Freitas",
            "new_invitee": null,
            "no_show": null,
            "old_invitee": null,
            "payment": null,
            "questions_and_answers": [
              {
                "answer": "+55 21 97881-3974",
                "position": 1,
                "question": "WhatsApp"
              }
            ],
            "reconfirmation": null,
            "reschedule_url": "https://calendly.com/reschedulings/efc9512f-ce43-4165-ad4d-5922fb9e5ca1",
            "rescheduled": false,
            "routing_form_submission": null,
            "scheduled_event": {
              "created_at": "2023-12-08T17:03:09.690128Z",
              "end_time": "2023-12-12T19:30:00.000000Z",
              "event_guests": [],
              "event_memberships": [
                {
                  "user": "https://api.calendly.com/users/3c97993c-c722-468c-b76e-7201a2420c90",
                  "user_email": "vinicius.faustinoni2022@gmail.com"
                }
              ],
              "event_type": "https://api.calendly.com/event_types/563ad4a1-e1cd-47ae-8c1f-05626f5391fa",
              "invitees_counter": {
                "total": 1,
                "active": 1,
                "limit": 1
              },
              "location": {
                "location": null,
                "type": "custom"
              },
              "name": "Marcação de Horário",
              "start_time": "2023-12-12T18:30:00.000000Z",
              "status": "active",
              "updated_at": "2023-12-08T17:03:09.690128Z",
              "uri": "https://api.calendly.com/scheduled_events/ebda83e0-1d45-4340-9b0f-5ffce3c63ce5"
            },
            "scheduling_method": null,
            "status": "active",
            "text_reminder_number": null,
            "timezone": "America/Sao_Paulo",
            "tracking": {
              "utm_campaign": null,
              "utm_source": null,
              "utm_medium": null,
              "utm_content": null,
              "utm_term": null,
              "salesforce_uuid": null
            },
            "updated_at": "2023-12-08T17:03:09.710215Z",
            "uri": "https://api.calendly.com/scheduled_events/ebda83e0-1d45-4340-9b0f-5ffce3c63ce5/invitees/efc9512f-ce43-4165-ad4d-5922fb9e5ca1"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/ab2b8703-5179-47e1-9e80-b0307e914f88"
    },
    "node:Calendly Trigger1": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/4bc32bca-f154-499e-9229-f28e5dd23af9"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-12-08T21:37:59.000Z",
  "versionId": "57ad12be-9254-4918-b1b3-72b80985be53"
}